<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="container p-0">
    <h1 class="text-bold account-title m-0">{{"Account"|translate}}</h1>
    <div class="card custom-card profile-page">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 left-col">
          <app-side-menu [menu]="'mail'"></app-side-menu>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 right-col">

          <!-- Start confirm password -->
          <section>
            <form *ngIf="showPasswordForm" [formGroup]="passwordForm" (ngSubmit)="checkPasswordForm()" class="login"
              method="post">
              <h3 class="text-medium">{{"Confirm it is You"|translate}}</h3>
              <div class="text-regular mt-3 mb-10">
                {{"Please enter your current account password in order to change your email."|translate}}</div>
              <div class="form-section">
                <div class="form-group">
                  <label class="form-label">{{"Password"|translate}}</label>
                  <input class="password form-control" formControlName="password" [type]="hide ? 'password' : 'text'"
                    placeholder="{{'Enter password'|translate}}" autocomplete="off">
                  <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'show' : 'off')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.password.errors.required">
                      {{"Current password is required."|translate}}</div>
                  </ng-container>
                </div>
              </div>
              <div class="btn-lists mt-5 text-right">
                <!-- <button class="btn btn-lg mr-2 cancel">{{"Cancel"|translate}}</button> -->
                <button class="btn btn-primary btn-lg" [ngClass]="{'spinner spinner-white spinner-right':loading}"
                  [disabled]="loading" type="submit">
                  {{"Confirm"|translate}}
                </button>
              </div>
            </form>
          </section>
          <!-- End confirm password -->


          <!-- Start change password -->
          <section>
            <form *ngIf="showEmailForm" [formGroup]="emailForm" (ngSubmit)="checkEmailForm()" class="login"
              method="post">
              <h3 class="text-medium mb-10">{{"Change Email"|translate}}</h3>
              <div class="form-section">
                <div class="form-group">
                  <label class="form-label">{{"Email"|translate}}</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="{{'Enter email'|translate}}" autocomplete="off">
                  <ng-container *ngIf="emailSubmit && ControlEmailForm.email.errors">
                    <div class="error-message" *ngIf="ControlEmailForm.email.errors.required">
                      {{"Email is required."|translate}}</div>
                  </ng-container>
                  <ng-container *ngIf="emailSubmit && ControlEmailForm.email.errors">
                    <div class="error-message" *ngIf="ControlEmailForm.email.errors.email">
                      {{"Email must be a valid format."|translate}}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="btn-lists mt-5 text-right">
                <button class="btn btn-lg mr-2 btn-outline-secondary" (click)="clickCancel()">{{"Cancel"|translate}}</button>
                <button class="btn btn-primary btn-lg" [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading" type="submit">{{"Update"|translate}}</button>
              </div>
            </form>
          </section>
          <!-- End change password -->
        </div>
      </div>
    </div>
  </div>
</div>
