<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card pb-20">
            <div class="card-header">
                <h3 class="card-title">
                    Land Right
                </h3>
            </div>
            <div class="card-body">
                <p class="card-info"><span>{{"For your land right to state/region investment committee, you must choose which state/region you want to make land right to."|translate}} </span></p>
                <form name="form" [formGroup]="landRightForm" (ngSubmit)="onSubmit()" errorTailor>
                    <div class="row mt-8">
                        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                            <div class="form-group">
                                <label>{{"Select State/Region"|translate}}</label>
                                <ng-select [placeholder]="'Select State / Region'" [data]="states"
                                formControlName="state" [disabled]="is_officer"></ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-lg btn-outline-secondary float-right" type="button"
                                    (click)="location.back()">{{"BACK"|translate}}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-lg btn-primary" type="submit"
                                    [ngClass]="{'spinner spinner-white spinner-right':spinner}"
                                    [disabled]="spinner">{{"NEXT"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>