<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card pb-20">
            <form name="form" [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
                <div class="card-header">
                    <h3 class="card-title">
                        {{"Inquiry"|translate}}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row mt-8">
                        <div class="col-6">
                            <div class="check-icon">
                                <img class="d-block m-auto" [src]="'../../assets/icons/check-mark.svg'"
                                    *ngIf="inquiryForm.get('apply_to').value == 'Myanmar Investment Commision'">
                            </div>
                            <div class="image mt-5" (click)="openChoose('Myanmar Investment Commision')">
                                <img class="d-block m-auto" [src]="'../../assets/icons/MIC-Logo.svg'">
                            </div>
                            <label class="d-block text-center mt-5">{{"Apply To"|translate}}</label>
                            <label class="d-block text-center">{{"Myanmar Investment Commission"|translate}}</label>
                        </div>
                        <div class="col-6">
                            <div class="check-icon">
                                <img class="d-block m-auto" [src]="'../../assets/icons/check-mark.svg'"
                                    *ngIf="inquiryForm.get('apply_to').value == 'States and Regions Investment Committees'">
                            </div>
                            <div class="image mt-5" (click)="openChoose('States and Regions Investment Committees')">
                                <img class="d-block m-auto" [src]="'../../assets/icons/group-img.svg'">
                            </div>
                            <label class="d-block text-center mt-5">{{"Apply To"|translate}}</label>
                            <label
                                class="d-block text-center">{{"States and Regions Investment Committees"|translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer mt-30">
                    <div class="row">
                        <div class="col-6 text-right">
                            <button class="btn btn-lg btn-outline-secondary" type="button" (click)="location.back()"
                                routerLinkActive="router-link-active">{{"BACK"|translate}}</button>
                        </div>
                        <div class="col-6" *ngIf="user?.type == 'investor'">
                            <button class="btn btn-lg btn-primary" type="submit"
                                [ngClass]="{'spinner spinner-white spinner-right':spinner}"
                                [disabled]="spinner">{{"NEXT"|translate}}</button>
                        </div>
                        <div class="col-6" *ngIf="user?.type != 'investor'">
                            <button class="btn btn-lg btn-primary" type="button"
                                (click)="redirectLink(inquiryModel.id)">{{"NEXT"|translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>