<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="card custom-card inquiry-card">
            <div class="inner-inquiry-card">
                <h1 class="payment-title">{{"Application Submitted Successfully"|translate}}</h1>
                <div class="thank">{{"Thank you for your endorsement application."|translate}}</div>
                <p>{{"Your application will now be checked for eligibility and completeness by DICA."|translate}}
                </p>
                <p>
                    {{"Please check the progress of this application in the status checker. A DICA officer will be in touch soon."|translate}}
                </p>
                <p>
                    {{"Please note that you may submit a Tax Incentive Application in the Investor Portal in parallel to your endorsement application."|translate}}
                </p>
                <div class="bottom">
                    {{"Sincerely,"|translate}}
                </div>
                <div class="bottom">
                    {{"DICA"|translate}}
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 text-right">
                        <button class="btn btn-lg btn-outline-secondary" type="button"
                            [routerLink]="['/']">{{"Home"|translate}}</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-lg btn-primary" type="button"
                            [routerLink]="['/pages/status-checker']">{{"Status Checker"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>