* {
    outline: none;
}
.invalid-feedback {
    display: block;
}
.login.login-1 .login-signin {
    display: none;
}

.login.login-1.login-signin-on .login-signin {
    display: block;
}

.login.login-1.login-forgot-on .login-signin {
    display: none;
}
.flex-root {
    height: 100vh;
    .login-aside {
        position: relative;
        background-position: center;
        .bg-blur {
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
        }
        .left-side-title {
            h1,
            label,
            p {
                color: white;
                position: relative;
            }
            label {
                font-size: 18px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .right-side {
        position: relative;
        .verification {
            margin-top: 70px;
            .mail-img {
                display: block;
                margin: 0px auto 0px;
            }
            .verification-title {
                text-align: center;
                margin: 35px 0px 45px;
                font-size: 20px;
                color: #454545;
            }
            .paragraph1 {
                text-align: center;
                font-size: 15px;
                color: #454545;
                line-height: 15px;
            }
            .paragraph2 {
                max-width: 474px;
                margin: auto;
                line-height: 30px;
                position: relative;
                text-align: center;
                font-size: 15px;
                color: #454545;
            }
            .form {
                .form-group {
                    margin-bottom: 40px;
                    input {
                        max-width: 450px;
                        height: 50px;
                        border-radius: 8px;
                        background: #f7f7f9;
                        border: none;
                        padding-left: 16px;
                        margin: auto;
                    }
                    .invalid-feedback {
                        padding-left: 1rem;
                        margin: auto;
                        max-width: 450px;
                    }
                    ::placeholder {
                        color: #454545;
                    }
                }
                .form-group {
                    margin-top: 50px;
                }
            }
            .btn {
                min-width: 140px;
                height: 45px;
                margin: 30px auto 0;
                font-size: 15px;
            }
        }
    }
}
@media (min-width: 992px) {
    .login.login-1 .login-aside {
        width: 100%;
        max-width: 550px;
    }
}
@media (max-width: 991.98px) {
    .login.login-1 .login-aside {
        display: none !important;
    }
    .verification {
        margin-top: 0px !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 450px;
        padding: 0 16px;
    }
}
