<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
      style="background-image: url(assets/images/farm.jpg);">
      <div class="bg-blur"></div>
      <!--begin: Aside Container-->
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <!--begin: Aside content-->
        <div class="flex-column-fluid left-side-title d-flex flex-column justify-content-center">
          <label class="text-center">{{"Welcome to the"|translate}}</label>
          <h1 class="text-center">{{"Investor Portal "|translate}}</h1>
          <!-- <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc
            enim quis nibh. Maecenas convallis eros a ante dignissim, vitae elementum metus facilisis.</p> -->
        </div>
        <!--end: Aside content-->
      </div>
      <!--end: Aside Container-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid d-flex flex-column right-side p-7">
      <!-- <div class="d-flex right-side-cover flex-column-fluid flex-center mt-5 mt-lg-0"> -->
      <div class="verification">
        <img class="mail-img" src="../../assets/images/mail.svg">
        <h3 class="verification-title">{{"Verification"|translate}}</h3>
        <p class="paragraph1">{{"A verification code has been sent to your mail."|translate}}</p>
        <p class="paragraph2">{{"Please check your inbox and enter the verification code in the input box."|translate}}</p>
        <form class="form" [formGroup]="verifyForm" (ngSubmit)="verify()">
          <div class="form-group">
            <input class="form-control form-control-solid" formControlName="code" type="text"
              placeholder="{{'Verification Code'|translate}}" name="code" autocomplete="off" />
            <div class="invalid-feedback" style="margin:auto;max-width: 450px;" *ngIf="submitted && fg.code.errors">
              <div *ngIf="fg.code.errors.required">{{"Code is required."|translate}}</div>
            </div>
            <div *ngIf="errMsg !== ''" class="invalid-feedback" style="margin:auto;max-width: 450px;">
              <div>{{ errMsg }}</div>
            </div>
          </div>
          <button class="btn btn-lg btn-primary d-block" [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading">
            {{"VERIFY"|translate}}
          </button>
        </form>
      </div>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
