.desktop-menu{
    .active-list{
        span{
            color: #0BAF4E;
            i{
                color: #0BAF4E;
            }
        }
    }
    i {
        color: #0baf4e;
        position: absolute;
        top: -16px;
        left: 5px;
    }
    .ic-check{
        top: 6px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
}

.btn{
    i{
        color: #0BAF4E;
    }
}