<div class="desktop-menu">
    <div class="single-list" [class.active-list]="menu == 'choose-language'" (click)="openSection(0, 'choose-language')">
        <img src="../../assets/icons/ic-translate{{menu == 'choose-language' ? '-active' : ''}}.svg">
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[0])">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
    <div class="single-list" [class.active-list]="menu == 'formData'" (click)="openSection(1, 'form1')">
        <span>{{"( A )"|translate}}
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[1])">
            <i class="fa fa-check"></i>
        </ng-container>
    </span>
        
    </div>
    <div class="single-list" [class.active-list]="menu == 'submission'" (click)="openSection(2, 'submission')">
        <img src="../../assets/icons/ic-section.svg">
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[2])">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
</div>
<div class="menu-lists mobile-menu">
        <!--  [routerLink]="['/taxincentive-choose-language']" -->
        <div class="single-list" [class.active-list]="menu == 'choose-language'" (click)="openSection(0, 'choose-language')">
            <div class="inner-single-list-cover">
                <div class="image">
                    <img src="../../assets/icons/ic-translate{{menu == 'choose-language' ? '-active' : ''}}.svg">
                </div>
                <div class="menu-title">
                    <div>{{"Choose language for application"|translate}}</div>
                    <div class="sub-title">{{"Please choose your comfort language."|translate}} </div>
                </div>
                <img *ngIf="menu == 'choose-language'" class="arrow" src="assets/icons/ic-arrow-right.svg">
                <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[0])">
                    <button class="btn">
                        <i class="fa fa-check"></i>
                    </button>
                </ng-container>
            </div>
        </div>
        <!-- [routerLink]="['/pages/tax-incentive/form1', modelId]" -->
        <div class="single-list" [class.active-list]="menu == 'formData'" (click)="openSection(1, 'form1')">
            <div class="inner-single-list-cover">
                <div class="image">
                    <img src="../../assets/icons/ic-section{{menu == 'formData' ? '-active' : ''}}.svg">
                </div>
                <div class="menu-title">
                    <div>{{"Form Data"|translate}}</div>
                    <div class="sub-title">{{"Please fill the form accurately"|translate}}</div>
                </div>
                <img *ngIf="menu == 'formData'" class="arrow" src="assets/icons/ic-arrow-right.svg">
                <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[1])">
                    <button class="btn">
                        <i class="fa fa-check"></i>
                    </button>
                </ng-container>
            </div>
        </div>
        <!--  [routerLink]="['/pages/tax-incentive/submission', modelId]" -->
        <div class="single-list" [class.active-list]="menu == 'Submission'" (click)="openSection(2, 'submission')">
            <div class="inner-single-list-cover">
                <div class="image">
                    <img src="../../assets/icons/ic-section{{menu == 'submission' ? '-active' : ''}}.svg">
                </div>
                <div class="menu-title">
                    <div>{{"Submission"|translate}}</div>
                    <div class="sub-title">{{"Agreements for form submission"|translate}} </div>
                </div>
                <img *ngIf="menu == 'submission'" class="arrow" src="assets/icons/ic-arrow-right.svg">
                <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[2])">
                    <button class="btn">
                        <i class="fa fa-check"></i>
                    </button>
                </ng-container>
            </div>
        </div>
</div>