* {
  outline: none;
}
.login.login-1 .login-signin {
  display: none;
}

.login.login-1.login-signin-on .login-signin {
  display: block;
}

.login.login-1.login-forgot-on .login-signin {
  display: none;
}
.flex-root {
  height: 100vh;
  .login-aside {
    position: relative;
    background-position: center;
    .bg-blur {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .left-side-title {
      h1,
      label,
      p {
        color: white;
        position: relative;
      }
      label {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .right-side {
    background: white;
    position: relative;
    .right-side-cover {
      flex: 0;
      .login-signin {
        .logo {
          display: block;
          margin: 50px auto 0;
          cursor: pointer;
        }
        .sign-in-title {
          font-size: 20px;
          color: #454545;
          font-weight: bold;
          margin: 20px 0px 30px;
          text-align: center;
        }
        .form-group {
          margin-bottom: 16px;
          position: relative;
          input {
            height: 50px;
            border-radius: 8px;
            background: #f7f7f9;
            border: none;
            padding-left: 16px;
          }
          .eye-icon {
            position: absolute;
            right: 16px;
            width: 18px;
            cursor: pointer;
            top: 21px;
          }
          .error-message {
            color: red;
            margin-top: 10px;
          }
          ::placeholder {
            color: #454545;
          }
          .forget-password {
            font-size: 15px;
            color: #454545;
          }
        }
        .form-group-bottom {
          margin-top: 30px;
        }
        .btn {
          font-size: 15px;
          min-width: 140px;
          height: 45px;
          margin: 30px auto;
        }
      }
    }
    .register {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      text-align: center;
      span,
      a {
        color: #454545 !important;
        font-size: 15px !important;
        font-weight: normal !important;
        z-index: 9;
      }
      a {
        font-weight: bold !important;
        color: #0baf4e !important;
      }
    }
  }
}
@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 550px;
  }
  .login.login-1 .login-form {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-form {
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-aside{
    display: none !important;
  }
  .right-side-cover{
    margin: 0px !important;
    .logo {
      margin: 0px auto !important;
    }
  }
  .login.login-1 .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
