<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
      style="background-image: url(assets/images/farm.jpg);">
      <div class="bg-blur"></div>
      <!--begin: Aside Container-->
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <!--begin: Aside content-->
        <div class="flex-column-fluid left-side-title d-flex flex-column justify-content-center">
          <label class="text-center">{{"Welcome to the"|translate}}</label>
          <h1 class="text-center">{{"Investor Portal "|translate}}</h1>
          <!-- <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc
            enim quis nibh. Maecenas convallis eros a ante dignissim, vitae elementum metus facilisis.</p> -->
        </div>
        <!--end: Aside content-->
      </div>
      <!--end: Aside Container-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid d-flex flex-column right-side p-7">
      <!-- begin::Content footer-->
      <div class="register">
        <span class="font-weight-bold text-dark-50">{{"Don't have an account?"|translate}}</span>
        <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" class="font-weight-bold ml-2"
          id="kt_login_signup">{{"Register!"|translate}}</a>
      </div>
      <!--end::Content footer -->
      <!--begin::Content body-->
      <div class="d-flex right-side-cover flex-column-fluid flex-center mt-30 mt-lg-0">
        <!--begin::Signin-->
        <div class="login-form login-signin">
          <img [routerLink]="['/']" class="logo" src="../../assets/icons/ic-logo-big.svg">
          <h3 class="sign-in-title">{{"Sign In"|translate}}</h3>
          <!--begin::Form-->
          <form class="form" [formGroup]="loginForm" (ngSubmit)="checkLoginForm()">
            <div class="form-group">
              <input class="form-control form-control-solid" type="text" formControlName="email"
                placeholder="{{'Email'|translate}}" name="email" autocomplete="off" />
              <ng-container *ngIf="submitted && login.email.errors">
                <div class="error-message" *ngIf="login.email.errors.required">
                  {{"The Email field is required."|translate}}
                </div>
                <div class="error-message" *ngIf="login.email.errors.email">
                  {{"Email must be a valid format."|translate}}
                </div>
              </ng-container>
            </div>
            <div class="form-group">
              <img class="eye-icon" (click)="hide = !hide"
                [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
              <input class="form-control form-control-solid" [type]="hide ? 'password' : 'text'"
                formControlName="password" placeholder="{{'Password'|translate}}" name="password" autocomplete="off" />
              <ng-container *ngIf="submitted && login.password.errors">
                <div class="error-message" *ngIf="login.password.errors.required">
                  {{"The password field is required."|translate}}
                </div>
              </ng-container>
              <div class="error-message" *ngIf="errMsg !== ''">{{errMsg}}</div>
            </div>
            <!--begin::Action-->
            <div class="form-group form-group-bottom d-flex flex-wrap justify-content-between align-items-center">
              <label class="checkbox">
                <input type="checkbox" name="agree" />{{"Remember Me"|translate}}
                <span></span></label>
              <a [routerLink]="['/auth/password-reset']" class="forget-password">{{"Forgot Password ?"|translate}}</a>
            </div>
            <!--end::Action-->
            <button class="btn btn-primary btn-lg d-block" [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading"
              type="submit">
              {{"SIGN IN"|translate}}
            </button>
          </form>
          <!--end::Form-->
        </div>
        <!--end::Signin-->
      </div>
      <!--end::Content body-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>