* {
  outline: none;
}

.login.login-1 .login-signin {
  display: none;
}

.login.login-1.login-signin-on .login-signin {
  display: block;
}

.login.login-1.login-forgot-on .login-signin {
  display: none;
}

.flex-root {
  height: 100vh;
  .login-aside {
    position: relative;
    background-position: center;
    .bg-blur {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .left-side-title {
      h1,
      label,
      p {
        color: white;
        position: relative;
      }
      label {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .right-side {
    position: relative;
    .block {
      margin: auto;
      .ic-mail {
        display: block;
        margin: 0 auto 50px;
      }
      .word {
        text-align: center;
        font-size: 15px;
        columns: #454545;
      }
    }
  }
}
@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 550px;
  }
  .login.login-1 .login-form {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-form {
    width: 100%;
    max-width: 450px;
    padding: 0 16px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-aside{
    display: none !important;
  }
  .right-side-cover{
    margin: 0px !important;
    .logo {
      margin: 0px auto !important;
    }
  }
  .login.login-1 .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
