<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
        <!--begin::Aside-->
        <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
            style="background-image: url(assets/images/farm.jpg);">
            <div class="bg-blur"></div>
            <!--begin: Aside Container-->
            <div class="d-flex flex-row-fluid flex-column justify-content-between">
                <!--begin: Aside content-->
                <div class="flex-column-fluid left-side-title d-flex flex-column justify-content-center">
                    <label class="text-center">{{"Welcome to the"|translate}}</label>
                    <h1 class="text-center">{{"Investor Portal "|translate}}</h1>
                    <!-- <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc
                        enim quis nibh. Maecenas convallis eros a ante dignissim, vitae elementum metus facilisis.</p> -->
                </div>
                <!--end: Aside content-->
            </div>
            <!--end: Aside Container-->
        </div>
        <!--begin::Aside-->
        <!--begin::Content-->
        <div class="flex-row-fluid d-flex flex-column right-side p-7">
            <!-- begin::Content footer-->
            <div class="block" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                <img src="../../assets/images/mail.svg" class="ic-mail">
                <p class="word">{{"Your account has been created successfully."|translate}}</p>
                <p class="word">{{"Your log in details were send to your registered email address."|translate}}</p>
                <p class="word">{{"Please click the link in the email to activate your account."|translate}}</p>
            </div>
            <!--end::Content body-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
</div>
