a, span, label{
    cursor: pointer !important;
}
.revise {
    position: absolute;
    right: 0;
    margin: 4px 74px;
    color: #ffa800;
}
.question-lists{
    .link{
        width: 50px;
        position: relative;
        img{
            width: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}