<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-tax-incentive-side-menu [menu]="'formData'" (progressForms)="getProgressForms($event)">
                        </app-tax-incentive-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side" >
                        <div class="right-side-cover">
                            <div class="top-title d-flex mb-4">
                                <h3 class="left-title text-bold">{{"Questions Overview"|translate}}</h3>
                                <!-- <h4 class="right-title text-regular text-right">Tax Incentive</h4> -->
                            </div>
                            <div class="form-question-section">
                                <h5 class="text-regular mt-2">
                                    {{"Fill the forms from number 1 to the end. You can't fill in in reverse order."|translate}}
                                </h5>
                                <div class="question-lists">
                                    <a class="d-flex" (click)="openPage('null', 'tax-incentive/form2')">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 1"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Is an authorized representative filling in the application on behalf of the investor(s)?"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(0), 'tax-incentive/form3')">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 2"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Is the tax incentive application being submitted for a Permit or Endorsement investment?"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(1), 'tax-incentive/form4')">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(2) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 3"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"For which investment is the tax incentive application being submitted?"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[2])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(2) , 'tax-incentive/form5')"
                                        *ngIf="model?.relief_section?.applied_75_a">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(3) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 4"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Investment period"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[3])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(2), 'tax-incentive/form6')"
                                        *ngIf="model?.relief_section?.applied_77_a">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(4) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 5"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Please select which of the following tax incentives are being applied for:"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[4])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(4), 'tax-incentive/form7')"
                                        *ngIf="model?.relief_section?.applied_77_a &&  form?.language == 'Myanmar'">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(5) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 6"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Exemption or Relief under section 75(a) of the Myanmar Investment Law"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[5])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(2), 'tax-incentive/form8')"
                                        *ngIf="model?.relief_section?.applied_77_b">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(6) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 7"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Exemption or Relief under section 77(a) of the Myanmar Investment Law"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[6])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(2), 'tax-incentive/form9')"
                                        *ngIf="model?.relief_section?.applied_77_c">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(7) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 8"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Exemption or Relief under section 77(b) of the Myanmar Investment Law"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[7])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(2), 'tax-incentive/form10')"
                                        *ngIf="model?.relief_section?.applied_77_d">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(8) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 9"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Exemption or Relief under section 77(c) of the Myanmar Investment Law"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[8])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(8), 'tax-incentive/form11')"
                                        *ngIf="model?.relief_section?.applied_77_d && form?.language == 'Myanmar'">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(9) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 10"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Exemption or Relief under section 77(d) of the Myanmar Investment Law"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[9])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                    <a class="d-flex" (click)="openPage(checkComplete(2), 'tax-incentive/form12')"
                                        *ngIf="model?.relief_section?.applied_78_a">
                                        <span class="check-icon d-block">
                                            <img
                                                [src]="'../../assets/icons/ic-form-check'+(checkComplete(10) ? '-correct' : '')+'.svg'">
                                        </span>
                                        <!-- <label class="no d-block text-medium">{{"Q 11"|translate}} :</label> -->
                                        <label
                                            class="question d-block text-regular">{{"Exemption or Relief under section 78(a) of the Myanmar Investment Law"|translate}}</label>
                                        <i class="fa fa-star revise" *ngIf="checkRevise(pages[10])"></i>
                                        <span class="link">
                                            <img src="../../assets/icons/ic-arrow-icon.svg">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>