.col-title{
    font-size: 13px;
    color: rgba(69, 69, 69, 0.8);
}

.row-no{
    background: #F7F7F9;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    width: 40px;
}
.right-side{
    .form-group{
        margin: 0 !important;
    }
}
.choose-investor{
    margin-top: 30px;
}
