.content {
    .revision-cover {
        width: 100%;
        background: white;
        border: 1px solid rgba(112, 112, 112, 0.15);
        margin-top: -80px;
        z-index: 9;
        position: relative;
        border-radius: 8px;
        margin-bottom: 80px;
        padding: 45px;
        .inner-revision-cover {
            width: 100%;
            position: relative;
            .top-heading {
                display: flex;
                .left-menu {
                    display: flex;
                    button {
                        border: none;
                        background: none;
                        outline: none;
                        img {
                            width: 20px;
                        }
                    }
                    .title {
                        font-size: 16px;
                        font-family: "Roboto-Medium", "MMUNI-Bold";
                        color: #454545;
                    }
                }
                .right-menu {
                    img {
                        position: absolute;
                        top: -6px;
                        right: 0;
                    }
                }
            }
            .both-tab {
                .application-btn,
                .reply-btn,
                .history-btn {
                    width: 210px;
                    height: 50px;
                    outline: none;
                    margin-top: 40px;
                    font-size: 16px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    color: rgba(69, 69, 69, 0.75);
                    background: #f7f7f9;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border: 0px;
                    overflow: hidden;
                    position: relative;
                    .block {
                        width: 4px;
                        height: 30px;
                        background: green;
                        position: absolute;
                        left: 0;
                        display: none;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                }
                .application-btn,
                .reply-btn {
                    margin-right: 8px;
                }
                .active-tab {
                    color: #0baf4e;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    background: #ffffff;
                    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.08);
                    .block {
                        display: initial !important;
                    }
                }
            }
            .data-cover {
                width: 100%;
                border-top-right-radius: 8px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                overflow: hidden;
                box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
                padding: 45px;
                .row {
                    .form-section {
                        width: 100%;
                    }
                    
                    @media (max-width: 991.98px) {
                        .data-col1 {
                            .left-title {
                                padding: 10px 0px 4px;
                            }
                        }
                        .data-col2 {
                            .right-value {
                                padding: 4px 0 10px;
                            }
                        }
                    }
                }
            }
            
        }
        .btn-resubmit {
            min-width: 120px;
        }
    }
}
