<!--begin::Content-->
<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="revision-cover">
            <div class="inner-revision-cover">
                <div class="top-heading d-sm-flex justify-content-between align-items-center">
                    <div class="left-menu">
                        <button (click)="location.back()">
                            <img src="assets/icons/left-arrow.svg">
                        </button>
                        <div class="title ml-3" *ngIf="submission?.type">{{submission?.type}}
                            ({{submission?.application_no}})</div>
                    </div>
                    <div>
                        <button class="btn btn-outline-secondary btn-lg btn-resubmit mr-3" (click)="previewForm()"
                            [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading">{{"PREVIEW"|translate}}</button>
                        <button class="btn btn-primary btn-lg btn-resubmit" (click)="resubmit()"
                            [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading">{{"SUBMIT"|translate}}</button>
                    </div>
                </div>
                <div class="both-tab">
                    <button class="reply-btn" [class.active-tab]="tab == 'revision'" (click)="openTab('revision')">
                        <div class="block"></div>{{"Revision Comments"|translate}}
                    </button>
                </div>
                <div class="data-cover" *ngIf="tab == 'revision'">
                    <div class="main-cover officer">
                        <div class="row">
                            <div class="form-section">
                                <h4>{{"Revision Comments"|translate}}</h4>
                                <div [ngStyle]="{'min-height': '500px'}">
                                    <div class="kt-datatable-form-revision">
                                    </div>
                                    <!-- <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="200px">Date</th>
                                                <th width="40%">Message</th>
                                                <th>Commented By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let revision of revisions">
                                                <td>{{revision.created_at|date:'MMM dd, yyyy hh:mm a'}}</td>
                                                <td>{{revision?.comment || ''}}</td>
                                                <td>{{revision?.user?.name || ''}}</td>
                                                <td>
                                                    <button class="btn btn-outline-warning"
                                                        (click)="gotoResolve(revision.page)">Revise</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->