<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="card custom-card payment-cover">
            <div class="inner-payment-cover pb-20">
                <h1 class="payment-title">{{"Payment"|translate}}</h1>
                <div class="payment-header">
                    <div class="left-header">{{"Fees"|translate}}</div>
                    <div class="right-header">{{"Amount"|translate}}</div>
                </div>
                <ng-container >
                    <div class="payment-content">
                        <div class="left-content">{{invoice.description|translate}}</div>
                        <div class="right-content">{{invoice.amount | number}} MMK</div>
                    </div>
                </ng-container>
                <div class="payment-footer">
                    <div class="left-footer">{{"Total Fees :"|translate}}</div>
                    <div class="right-footer">{{total || 0 | number}} MMK</div>
                </div>
                <div class="info">
                    {{"When paying by credit card or MPU, you will be directed to the DICA secured payment gateway. Upoon successful completion of payment, the filing will be submitted for processing. When using fund on account, the fund will deducted immediately upon submitting."|translate}}
                </div>
                <div class="card-footer mt-5" *ngIf="checkPaymentNeed">
                    <div class="row">
                        <div class="col-6 text-right">
                            <button class="btn btn-lg btn-primary" type="button" [disabled]="credit"
                                [ngClass]="{'spinner spinner-dark spinner-right':credit}"
                                (click)="saveCredit()">{{"Pay with Credit Card"|translate}}</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-lg btn-primary" type="button" [disabled]="mpu"
                                [ngClass]="{'spinner spinner-dark spinner-right':mpu}"
                                (click)="saveMPU()">{{"Pay with MPU"|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>