<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-mic-sidemenu [menu]="'sectionB'" (progressForms)="getProgressForms($event)">
                        </app-mic-sidemenu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold">{{"Questions Overview"|translate}}</h3>
                            </div>
                        </div>
                        <!-- <div class="form-section mt-2"> -->
                        <p class="section-title text-regular">
                            {{"Fill the forms from number 1 to the end. You can't fill in reverse order."|translate}}
                        </p>
                        <div class="section-lists">
                            <div class="section" (click)="openPage(0, 'mic/sectionB-form2')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 1"|translate}} :</div>
                                <div class="text">{{"Form of investment."|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(1, 'mic/sectionB-form3')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 2"|translate}} :</div>
                                <div class="text">{{"Basic information about the enterprise"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(2, 'mic/sectionB-form4')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(2) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 3"|translate}} :</div>
                                <div class="text">{{"List of shareholders of enterprise"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[2])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(3, 'mic/sectionB-form5')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(3) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 4"|translate}} :</div>
                                <div class="text">
                                    {{"Please describe all natural and legal persons who have a significant direct or
                                    indirect interest in the proposed investment."|translate}}
                                </div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[3])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>