.section-title {
    margin: 0 0 30px 0px !important;
}
.section-lists {
    .section {
        display: flex;
        width: 100%;
        background: #f7f7f9;
        border: 2px solid #f7f7f9;
        padding: 15px 0px;
        border-radius: 4px;
        margin-bottom: 12px;
        cursor: pointer;
        .check-icon,
        .no,
        .link {
            width: 50px;
            position: relative;
        }
        .check-icon {
            img {
                width: 17px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .no {
            font-family: "Roboto-Medium", "MMUNI-Bold";
            font-size: 15px;
            color: #454545;
        }
        .link {
            img {
                width: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .text {
            width: calc(100% - 150px);
            font-size: 15px;
            font-family: "Roboto-Regular", "MMUNI-Regular";
            color: rgba(69, 69, 69, 0.8);
        }
    }
    .section:hover {
        border: 2px solid #fbc562;
    }
}
.revise {
    position: absolute;
    right: 0;
    margin: 4px 74px;
    color: #ffa800;
}
