<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="choose-language-cover">
            <span class="welcome">{{"Welcome To"|translate}}</span>
            <h1 class="invester">{{"Investor Web Portal"|translate}}</h1>
            <p>{{"The government of the Republic of the Union of Myanmar warmly welcomes responsible investors to seek and seize business opportunities in Myanmar, to support sustainable economic growth."|translate}}</p>
            <h2 class="service-header">{{"Services"|translate}}</h2>
            <div class="row m-0 first">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 services" (click)="openInquiry()">
                    <div class="inner-data">
                        <img src="assets/icons/circle-question.svg" class="service-img">
                        <img src="assets/icons/inquiry.svg" class="inquiry-image">
                        <h2 class="inquiry">{{"Inquiry"|translate}}</h2>
                        <p class="investments">{{"Submit an investment screening application for non-binding guidance under Rule 28 of the Myanmar Investment Rules."|translate}}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 services" (click)="openMIC()">
                    <div class="inner-data">
                        <img src="assets/icons/permit.svg" class="service-img">
                        <img src="assets/icons/ic-permit.svg" class="inquiry-image">
                        <h2 class="inquiry">{{"Myanmar Investment Commission (MIC) Permit Application"|translate}}</h2>
                        <p class="investments">{{"Submit a proposal to MIC under Section 36 of the Myanmar Investment Law."|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row m-0 first">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 services" (click)="openEndo()">
                    <div class="inner-data">
                        <img src="assets/icons/endorsement.svg" class="service-img">
                        <img src="assets/icons/ic-endorsement.svg" class="inquiry-image">
                        <h2 class="inquiry">{{"Endorsement Application"|translate}}</h2>
                        <p class="investments">{{"Submit an endorsement application to MIC or a Region/State committee under Section 37 of the Myanmar Investment Law."|translate}}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 services" (click)="openTax()">
                    <div class="inner-data">
                        <img src="assets/icons/tax.svg" class="service-img">
                        <img src="assets/icons/ic-tax.svg" class="inquiry-image">

                        <h2 class="inquiry">{{"Tax incentive application"|translate}}</h2>
                        <p class="investments">{{"Submit a tax incentive application to MIC for one or more tax exemptions or reliefs under Section 74 of the Myanmar Investment Law."|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row m-0 first">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 services" (click)="openLand()">
                    <div class="inner-data">
                        <img src="assets/icons/land-right.svg" class="service-img">
                        <img src="assets/icons/ic-landright.svg" class="inquiry-image">
                        <h2 class="inquiry">{{"Land Use Application"|translate}}*</h2>
                        <p class="investments">{{"Submit a land use application to MIC or a Region/State committee for the right to obtain a long-term lease according to Rule 116 of the Myanmar Investment Rules."|translate}}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 services" (click)="openPage('status-checker')">
                    <div class="inner-data">
                        <img src="assets/icons/status.svg" class="service-img">
                        <img src="assets/icons/ic-status.svg" class="inquiry-image">
                        <h2 class="inquiry">{{"Status Checker"|translate}}</h2>
                        <p class="investments">{{"Check the progress of your applications."|translate}}</p>
                    </div>
                </div>
            </div>
            <p *ngIf=" language == 'en'">
                Note: 
                Please note that the Land Use Application is integrated in the new format of the MIC
                permit and endorsement applications. The Land Use Application therefore does not need to
                be submitted separately by investors already filling in the permit or endorsement
                applications.</p>

            <p *ngIf=" language == 'mm'">
                မှတ်ချက်။ 
                မြေအသုံးပြုခွင့် လျှောက်ထားလွှာအား MIC ခွင့်ပြုမိန့် လျှောက်ထားခြင်း နှင့် အတည်ပြုမိန့် လျှောက်ထားခြင်း များတွင် အတူပူးတွဲထားပြီးဖြစ်ကြောင်း
                သတိပြုစေလိုပါသည်။ ထို့ကြောင့် ခွင့်ပြုမိန့် သို့မဟုတ် အတည်ပြုမိန့် လျှောက်ထားလွှာ ဖြည့်သွင်း ထားပြီး သော ရင်းနှီးမြှုပ်နှံသူများအနေဖြင့်
                မြေအသုံးပြုခွင့် လျှောက်ထားလွှာအား သီးသန့် ထပ်မံတင်ပြလျှောက်ထားရန် မလိုအပ်ပါ။</p>
        </div>
    </div>
</div>
