.content {
    .choose-language-cover {
        background: white;
        border: 1px solid rgba(112, 112, 112, 0.15);
        margin-top: -80px;
        z-index: 9;
        position: relative;
        border-radius: 8px;
        margin-bottom: 80px;
        .welcome,
        .invester {
            display: block;
            text-align: center;
            font-size: 15px;
            font-family: "Roboto-Regular", "MMUNI-Regular";
            margin: 40px 0px 15px;
        }
        .invester {
            font-size: 32px;
            font-family: "Roboto-bold", "MMUNI-bold";
            color: #454545;
            margin: 0px auto 0px;
        }
        p {
            text-align: center;
            font-size: 15px;
            font-family: "Roboto-Regular", "MMUNI-Regular";
            color: #48465b;
            max-width: 647px;
            margin: 40px auto;
            position: relative;
            padding: 0px 16px;
            line-height: 28px;
        }
        .service-header {
            text-align: center;
            font-size: 32px;
            font-family: "Roboto-bold", "MMUNI-bold";
            color: #454545;
            margin: 30px auto 10px;
        }
        .first {
            padding: 0px 150px;
            @media (max-width: 991.98px) {
                padding: 0 80px;
            }
            @media (max-width: 768px) {
                padding: 0 16px;
            }
            .services {
                .inner-data {
                    @media (max-width: 991.98px) {
                        height: 420px;
                    }
                    @media (max-width: 575.98px) {
                        height: auto;
                        padding: 24px 0px;
                        min-height: auto;
                    }
                    
                    display: block;
                    background: #f7f7f9;
                    border-radius: 25px;
                    margin: 20px auto;
                    transition: all 0.5s !important;
                    cursor: pointer;
                    padding: 50px 30px;
                    padding-bottom: 0px;
                    min-height: 400px;
                    .service-img {
                        display: block;
                        margin: 0 auto 30px;
                        height: 72px;
                    }
                    .inquiry-image {
                        display: none;
                    }
                    .inquiry {
                        display: block;
                        text-align: center;
                        font-size: 18px;
                        font-family: "Roboto-bold", "MMUNI-bold";
                        color: #454545;
                        margin: 30px 0px;
                        text-transform: uppercase;
                        font-weight: bold;
                        line-height: 28px;
                    }
                    .investments {
                        font-size: 15px;
                        font-family: "Roboto-Regular", "MMUNI-Regular";
                        display: block;
                        text-align: center;
                        color: #454545;
                        line-height: 28px;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        height: 420px;
                    }
                    @media (max-width: 575.98px) {
                        height: auto !important;
                        p{
                            margin: 20px 0 0 !important;
                        }
                    }
                }
                .inner-data:hover {
                    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
                    background: #fbc562;
                    -webkit-transform: scale(1.05);
                    transform: scale(1.05);
                    .service-img {
                        display: none;
                    }
                    .inquiry-image {
                        height: 80px;
                        display: block;
                        margin: 0 auto 30px;
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }
            }
        }
        .second {
            margin-top: 20px;
        }
    }
    @media (max-width: 575.98px) {
        .choose-language-cover {
            margin: -80px 15px 80px;
        }
    }
}
