.form-note{
    margin-top: 15px !important;
}
.title-row{
    margin-bottom: 8px;
    div{
        font-size: 13px;
        color: rgba(69, 69, 69, 0.8);
        label{
            position: absolute;
            bottom: 0px;
        }
    }
}
.form-row{
    margin-bottom: 16px;
    .form-group{
        margin: 0 !important;
    }
}
.row{
    position: relative;
    .remove-icon{
        position: absolute;
        left: -21px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.responsive-title{
    height: 38px;
}
@media (max-width: 767.98px) {
    .responsive-title{
        height: fit-content !important;
    }
}
