<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
      style="background-image: url(assets/images/farm.jpg);">
      <div class="bg-blur"></div>
      <!--begin: Aside Container-->
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <!--begin: Aside content-->
        <div class="flex-column-fluid left-side-title d-flex flex-column justify-content-center">
          <label class="text-center">{{"Welcome to the"|translate}}</label>
          <h1 class="text-center">{{"Investor Portal "|translate}}</h1>
          <!-- <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc
            enim quis nibh. Maecenas convallis eros a ante dignissim, vitae elementum metus facilisis.</p> -->
        </div>
        <!--end: Aside content-->
      </div>
      <!--end: Aside Container-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid d-flex flex-column right-side p-7">
      <!-- begin::Content footer-->
      <div class="register">
        <span class="font-weight-bold text-dark-50">{{"Already have an account?"|translate}}</span>
        <a class="font-weight-bold ml-2" id="kt_login_signup" [routerLink]="['/auth/login']"
          routerLinkActive="router-link-active">{{"Sign In!"|translate}}</a>
      </div>
      <!--end::Content footer -->
      <!--begin::Content body-->
      <div class="d-flex right-side-cover flex-column-fluid flex-center mt-30 mt-lg-0">
        <!--begin::Signin-->
        <div class="login-form login-signin">
          <img class="logo" [routerLink]="['/']" src="../../assets/icons/ic-logo-big.svg">
          <h3 class="sign-in-title">{{"Create Investor Portal Account"|translate}}</h3>
          <!--begin::Form-->
          <form class="form" [formGroup]="regForm" (ngSubmit)="checkRegisterForm()">
            <div class="row form" id="form-row">
              <div class="col-12" id="form-col">
                <input class="form-control form-control-solid" type="text" formControlName="name"
                  placeholder="{{'Name in English'|translate}}" name="name" autocomplete="off" />
                <div class="col-12 invalid-feedback" style="margin-top: -1rem;margin-bottom: 1rem;"
                  *ngIf="submitted && fg.name.errors">
                  <div class="error-message" *ngIf="fg.name.errors.required">{{"Name is required."|translate}}</div>
                </div>
              </div>
            </div>
            <div class="row" id="form-row1">
              <div class="col-6" id="form-col-first">
                <input class="form-control form-control-solid" formControlName="phone" type="text"
                  placeholder="{{'Phone number'|translate}}" name="phone" autocomplete="off" />
                <div class="col-12 invalid-feedback" *ngIf="submitted && fg.phone.errors">
                  <div class="error-message" *ngIf="fg.phone.errors.required">{{"Phone is required."|translate}}</div>
                  <div class="error-message" *ngIf="fg.phone.errors.pattern">
                    {{"Phone number must be number."|translate}}</div>
                </div>
              </div>
              <div class="col-6" id="form-col-second">
                <input class="form-control form-control-solid" formControlName="email" type="text"
                  placeholder="{{'Email'|translate}}" name="email" autocomplete="off" />
                <div class="col-12 invalid-feedback" *ngIf="submitted && fg.email.errors">
                  <div class="error-message" *ngIf="fg.email.errors.required">{{"Email is required."|translate}}</div>
                  <div class="error-message" *ngIf="fg.email.errors.email">{{"Email must be a valid format."|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="form-row1">
              <div class="col-6" id="form-col-first">
                <img class="eye-icon" (click)="hide = !hide"
                  [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                <input class="form-control form-control-solid" formControlName="password"
                  placeholder="{{'Password'|translate}}" name="password" [type]="hide ? 'password' : 'text'"
                  autocomplete="off" />
                <div class="col-12 invalid-feedback" *ngIf="submitted && fg.password.errors">
                  <div class="error-message" *ngIf="fg.password.errors.required">{{"Password is required."|translate}}
                  </div>
                  <div class="error-message" *ngIf="fg.password.errors.minlength">{{"Password is too short."|translate}}
                  </div>
                </div>
              </div>
              <div class="col-6" id="form-col-second">
                <img class="eye-icon" (click)="hide = !hide"
                  [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                <input class="form-control form-control-solid" formControlName="password_confirmation"
                  placeholder="{{'Confirm password'|translate}}" [type]="hide ? 'password' : 'text'"
                  name="Confirm password" autocomplete="off" />
                <div class="col-12 invalid-feedback" *ngIf="submitted && fg.password_confirmation.errors">
                  <div class="error-message" *ngIf="fg.password_confirmation.errors.required">
                    {{"Confirm password is required."|translate}}
                  </div>
                  <div class="error-message" *ngIf="fg.password_confirmation.errors.mustMatch">
                    {{"The two password do not match."|translate}}</div>
                </div>
              </div>
              <div class="error-message" *ngIf="errMsg !== ''"> {{errMsg}} </div>
            </div>
            <div>
              By using this system, I accept that DICA will request and process personal information related to the
              investment. DICA is committed to protecting and respecting the privacy of Myanmar’s investors. The
              personal information requested in the system will be used for no other purpose than to process
              submissions.
            </div>
            <br>
            <div class="form-group form-group-bottom d-flex flex-wrap justify-content-between align-items-center">
              <label class="checkbox">
                <input type="checkbox" name="consent" formControlName="consent"/>{{"I consent"|translate}}
                <span></span>
              </label>
            </div>
            <button class="btn btn-lg btn-primary d-block" [ngClass]="{'spinner spinner-white spinner-right':loading}"
              [disabled]="loading || !fg.consent.value" type="submit">{{"REGISTER"|translate}}</button>
          </form>
          <!--end::Form-->
        </div>
        <!--end::Signin-->
      </div>
      <!--end::Content body-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>