* {
  outline: none;
}
.invalid-feedback {
  display: block;
}
.login.login-1 .login-signin {
  display: none;
}

.login.login-1.login-signin-on .login-signin {
  display: block;
}

.login.login-1.login-forgot-on .login-signin {
  display: none;
}
.flex-root {
  height: 100vh;
  .login-aside {
    position: relative;
    background-position: center;
    .bg-blur {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .left-side-title {
      h1,
      label,
      p {
        color: white;
        position: relative;
      }
      label {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .right-side {
    position: relative;
    .right-side-cover {
      flex: 0;
      .login-signin {
        .logo {
          display: block;
          margin: 30px auto 0;
          cursor: pointer;
        }
        .sign-in-title {
          font-size: 20px;
          color: #454545;
          font-weight: bold;
          margin: 40px 0px 50px;
          text-align: center;
        }
        #form-row > #form-col > input,
        select {
          height: 50px;
          border-radius: 8px;
          background: #f7f7f9;
          border: none;
          padding-left: 16px;
          margin: 0 auto 16px;
        }
        ::placeholder {
          color: #454545;
        }
        #form-row1 {
          width: 100%;
          margin: 0 auto 16px;
          #form-col-first {
            padding: 0;
            padding-right: 5px;
            position: relative;
            input {
              height: 50px;
              border-radius: 8px;
              background: #f7f7f9;
              border: none;
              padding-left: 16px;
            }
            .eye-icon {
              position: absolute;
              right: 16px;
              width: 18px;
              cursor: pointer;
              top: 21px;
            }
            ::placeholder {
              color: #454545;
            }
          }
          #form-col-second {
            padding: 0;
            padding-left: 5px;
            position: relative;
            input {
              height: 50px;
              border-radius: 8px;
              background: #f7f7f9;
              border: none;
              padding-left: 16px;
            }
            .eye-icon {
              position: absolute;
              right: 16px;
              width: 18px;
              cursor: pointer;
              top: 21px;
            }
            ::placeholder {
              color: #454545;
            }
          }
          
        }
        .error-message {
          margin-top: 8px;
          color: red;
          font-size: 12px;
        }
        .btn{
          margin: 30px auto 50px;
          min-width: 140px;
          height: 45px;
          font-size: 15px;
        }
      }
    }
    .register {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      text-align: center;
      span,
      a {
        color: #454545 !important;
        font-size: 15px !important;
        font-weight: normal !important;
      }
      a{
        color: #0baf4e !important;
        font-weight: bold !important;
      }
    }
  }
}
@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 550px;
  }
  .login.login-1 .login-form {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-form {
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-aside{
    display: none !important;
  }
  .right-side-cover{
    margin: 0px !important;
    .logo {
      margin: 0px auto !important;
    }
  }
  .login.login-1 .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
