<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card custom-card inquiry-card">
            <form name="form" [formGroup]="inquiryFormGroup" (ngSubmit)="onSubmit()" errorTailor>
                <div class="card-header">
                    <h3 class="card-title text-bold">{{"Inquiry Form"|translate}}</h3>
                </div>
                <div class="card-body">
                    <ng-form-layout [formLayout]="baseForm.forms" [formGroup]="inquiryFormGroup"></ng-form-layout>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="button" class="btn btn-lg btn-outline-secondary" (click)="location.back()"
                                routerLinkActive="router-link-active">{{(isRevision ? "BACK TO REVISION" :
                                "PREVIOUS")|translate}}</button>
                        </div>
                        <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                            <button class="btn btn-lg btn-outline-secondary mr-3" type="button" *ngIf="!isRevision"
                                (click)="saveDraft()"
                                [ngClass]="{'spinner spinner-dark spinner-right':spinner && isDraft}"
                                [disabled]="spinner">{{"SAVE DRAFT"|translate}}</button>
                            <button class="btn btn-lg btn-primary" type="submit"
                                [ngClass]="{'spinner spinner-white spinner-right':spinner && !isDraft}"
                                [disabled]="spinner">{{ (isRevision ? "SAVE" : "NEXT") |translate}}</button>
                        </div>
                        <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                            <button class="btn btn-lg btn-primary" type="button"
                                (click)="redirectLink()">{{"NEXT"|translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>