<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-endorsement-side-menu [menu]="'certificate'" (progressForms)="getProgressForms($event)">
                        </app-endorsement-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <div class="right-side-cover">
                            <form name="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" errorTailor>
                                <div class="header-section d-flex">
                                    <div class="left-header d-flex">
                                        <h3 class="text-bold">
                                            {{"Information in English for Endorsement Certificate"|translate}}</h3>
                                    </div>
                                </div>
                                <div class="form-section mt-2">
                                    <ng-form-layout [formLayout]="baseForm.forms" [formGroup]="formGroup">
                                    </ng-form-layout>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-4">
                                            <button class="btn btn-lg btn-outline-secondary" type="button"
                                                (click)="location.back()">{{(isRevision ? "BACK TO REVISION" :
                                                "PREVIOUS")|translate}}</button>
                                        </div>
                                        <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                            <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                                *ngIf="!isRevision" (click)="saveDraft()" [disabled]="spinner"
                                                [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">
                                                {{"SAVE DRAFT"|translate}}
                                            </button>
                                            <button class="btn btn-lg btn-primary" type="submit" [disabled]="spinner"
                                                [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}">{{
                                                (isRevision ? "SAVE" : "NEXT") |translate}}
                                            </button>
                                        </div>
                                        <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                            <button class="btn btn-lg btn-primary" type="button" [disabled]="spinner"
                                                (click)="redirectLink(form.id)">{{"NEXT"|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>