.section-cover{
    min-height: 150px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(112,112,112,0.25);
    display: flex;
    padding: 0 30px;
    margin-top: 30px;
    cursor: pointer;
    .image{
        width: 100px;
        position: relative;
        img{
            position: relative;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }
    .right-section-cover{
        width: calc(100% - 100px);
        position: relative;
        .right-inner-section-cover{
            position: relative;
            padding: 15px 0px;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
            line-height: 1.6;
            .title{
                font-size: 18px;
                color: #454545;
                font-family: "Roboto-Medium", "MMUNI-Bold";
                margin-bottom: 8px;
            }
            .sub-title{
                font-size: 15px;
                font-family: "Roboto-Regular", "MMUNI-Regular";
                color: #454545;
                margin: 0px;
                span{
                    font-family: "Roboto-Medium", "MMUNI-Bold";
                }
            }
        }
    }
}
.section-cover:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}
.section-cover:first-child{
    margin-top: 15px;
}
.active{
    border: 3px solid #FBC562;
    height: 148px;
    padding:0px 28px;
}