<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 offset-xl-2 right-side">
                        <h3 class="title">{{"Choose Application Language"|translate}}</h3>
                        <p class="information">
                            {{"Note: According to Section 36 of Myanmar Investment Law, every submission shall be in Myanmar language. If desired, the submission may be both in Myanmar language and English. Please select your preferred option."|translate}}
                        </p>
                        <div class="inner-language-cover">
                            <div class="left-language" (click)="openLanguage('Myanmar')">
                                <div class="myanmar">
                                    <div class="check">
                                        <img *ngIf="language == 'Myanmar'" class="icon-check"
                                            src="../../assets/icons/ic-language-check.svg">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/myanmar.jpg">
                                    </div>
                                    <div class="language-name">{{"Myanmar"|translate}}</div>
                                </div>
                            </div>
                            <div class="right-language" (click)="openLanguage('English')">
                                <div class="english">
                                    <div class="check">
                                        <img class="icon-check" *ngIf="language == 'English'"
                                            src="../../assets/icons/ic-language-check.svg">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/language.png">
                                    </div>
                                    <div class="language-name">{{"Myanmar & English"|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" [disabled]="spinner" class="btn btn-outline-secondary btn-lg"
                                        (click)="goToHome()">{{"Home"|translate}}</button>
                                </div>
                                <div class="col-8 text-right">
                                    <button type="submit" class="btn btn-primary ml-2 btn-lg" (click)="onSubmit()"
                                        [disabled]="spinner"
                                        [ngClass]="{'spinner spinner-white spinner-right':spinner}">{{"Next"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>