<div class="desktop-menu">
    <div class="single-list" [class.active-list]="menu == 'language'" (click)="openSection(0, 'choose-language')">
        <img src="../../assets/icons/ic-translate.svg">
        <ng-container *ngIf="completeSections[0] || false">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionA'" (click)="openSection(1, 'sectionA-form1')">
        <span>{{"( A )"|translate}}
            <ng-container *ngIf="completeSections[1] || false">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionB'" (click)="openSection(2, 'sectionB-form1')">
        <span>{{"( B )"|translate}}
            <ng-container *ngIf="completeSections[2] || false">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionC'" (click)="openSection(3, 'sectionC-form1')">
        <span>{{"( C )"|translate}}
            <ng-container *ngIf="completeSections[3] || false">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionD'" (click)="openSection(4, 'sectionD-form1')">
        <span>{{"( D )"|translate}}
            <ng-container *ngIf="completeSections[4] || false">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionE'" (click)="openSection(5, 'sectionE-form1')">
        <span>{{"( E )"|translate}}
            <ng-container *ngIf="completeSections[5] || false">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionF'" (click)="openSection(6, 'sectionF-form1')">
        <span>{{"( F )"|translate}}
            <ng-container *ngIf="completeSections[6] || false">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'certificate'" (click)="openSection(7, 'permit-certificate')"
        *ngIf="form?.language == 'Myanmar'">
        <img src="../../assets/icons/ic-section.svg">
        <ng-container *ngIf="completeSections[7] || false">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
    <div class="single-list" [class.active-list]="menu == 'undertaking'" (click)="openSection(8, 'undertaking')"
        *ngIf="!is_officer">
        <img src="../../assets/icons/ic-law.svg">
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[8])">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
</div>
<div class="menu-lists mobile-menu">
    <div class="single-list" [class.active-list]="menu == 'choose-language'"
        (click)="openSection(0, 'choose-language')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-translate.svg">
            </div>
            <div class="menu-title">
                <div>{{"Choose language for application"|translate}}</div>
                <div class="sub-title">{{"Please choose your comfort language."|translate}} </div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'choose-language'">
            <ng-container *ngIf="completeSections[0] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionA'" (click)="openSection(1, 'sectionA-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( A )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investors"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionA'">
            <ng-container *ngIf="completeSections[1] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionB'" (click)="openSection(2, 'sectionB-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( B )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investment"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionB'">
            <ng-container *ngIf="completeSections[2] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionC'" (click)="openSection(3, 'sectionC-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionC' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( C )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Basic Information"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionC'">
            <ng-container *ngIf="completeSections[3] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionD'" (click)="openSection(4, 'sectionD-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionD' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( D )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Land and Buildings"|translate}}
                </div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionD'">
            <ng-container *ngIf="completeSections[4] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionE'" (click)="openSection(5, 'sectionE-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionE' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( E )"|translate}}</div>
                <div class="sub-title">{{"Other Attachments"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionE'">
            <ng-container *ngIf="completeSections[5] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionF'" (click)="openSection(6, 'sectionF-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionF' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( F )"|translate}}</div>
                <div class="sub-title">{{"Other Information"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionF'">
            <ng-container *ngIf="completeSections[6] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'certificate'" (click)="openSection(7, 'permit-certificate')"
        *ngIf="form?.language == 'Myanmar'">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'certificate' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Permit Certificate"|translate}}</div>
                <div class="sub-title">{{"Information in English for permit certificate"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'certificate'">
            <ng-container *ngIf="completeSections[7] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'undertaking'" (click)="openSection(8, 'undertaking')"
        *ngIf="!is_officer">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-law{{menu == 'undertaking' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Undertaking"|translate}}</div>
                <div class="sub-title">{{"Undertaking for permit form"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'undertaking'">
            <ng-container *ngIf="completeSections[8] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
</div>