<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl-12 left-side">
                        <app-endorsement-side-menu [menu]="'sectionC'" (progressForms)="getProgressForms($event)">
                        </app-endorsement-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <div class="top-title d-flex">
                            <h3 class="left-title text-bold">{{"Questions Overview"|translate}}</h3>
                        </div>
                        <div class="form-question-section">
                            <h5 class="text-regular mt-2">
                                {{"Fill the forms from number 1 to the end. You can't fill in in reverse order."|translate}}
                            </h5>
                            <div class="question-lists">
                                <a class="d-flex" (click)="openPage(0, 'sectionC-form2')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 1"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"(Expected) timeline of investment"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                                <a class="d-flex" (click)="openPage(1, 'sectionC-form3')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) && checkComplete(2) && checkComplete(3) && checkComplete(4) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 2"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Expected investment value"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                                <a class="d-flex"
                                    (click)="openPage(2, 'sectionC-form8')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(5) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 3"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Particulars of financing of investment"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[2])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                                <a class="d-flex" (click)="openPage(3, 'sectionC-form9')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(6) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 4"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Planned employment in the first 5 years of investment"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[3])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>