table{
    margin-top: 16px;
    border:0px;
    .th-col1,.td-col1{
        width: 50px;
    }
    .th-col2,.td-col2{
        width: 116px;
    }
    .th-col3,.td-col3{
        width: 180px;
    }
    .th-col4,.td-col4{
        width: 315px;
    }
    .th-col5,.td-col5{
        width: 185px;
    }
    .th-col6,.td-col6{
        width: 350px;
    }
    thead{
        th{
            border-bottom:0px;
            vertical-align: middle;
            font-size: 15px;
            font-family: "Roboto-Regular", "MMUNI-Regular";
            color:#454545
        }
        
    }
    tbody{
       td{
        //    text-align: center;
           input{
                width: 100%;
                border: none;
                font-size: 15px;
                font-family: "Roboto-Regular", "MMUNI-Regular";
                // padding-left: 16px;
                color: #454545;
            }
            ::placeholder{
                color: #454545;
            }
            .form{
                margin-top: 15px;
                .form-title,.file-title{
                    font-size: 13px;
                    color: rgba(69,69,69,0.8);
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    display: block;
                    margin-bottom: 6px;
                    // text-align: left !important;
                }
                .file-title{
                    color: #454545;
                }

                .form-label{
                    font-size: 12px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    color: rgba(69,69,69,0.8);
                    margin: 4px 0 0 0;
                }
                input{
                    width: 100%;
                    height: 40px;
                    border: 1px solid rgba(112,112,112,0.25);
                    border-radius: 4px;
                    font-size: 15px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    padding-left: 16px;
                    color: #454545;
                }
                ::placeholder{
                    color: #454545;
                }
                .file{
                    height: 40px;
                    border-radius: 4px;
                    border: 1px solid rgba(112,112,112,0.25);
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    padding-left: 16px;
                    display: flex;
                    width: 180px;
                    cursor: pointer;
                    position: relative;
                    img{
                        width: 15px;
                    }
                    span{
                        font-size: 12px;
                        color: rgba(69,69,69,0.6);
                        display: block;
                        margin-left: 15px;
                        width: fit-content;
                        height: fit-content;
                        position: relative;
                        top: 10px;  
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .file:hover{
                    background: #F7F7F9 !important;
                }
                .add-btn{
                    background: rgba(11, 175, 78, 0.8);
                    color: white;
                    height: 40px;
                    width: 143px;
                    border-radius: 4px;
                    display: inline-block;
                    margin: 0;
                    cursor: pointer;
                    outline: none;
                    border:none;
                    float: right;
                    img{
                        width: 20px;
                        margin: 0px 5px 0 0;
                    }
                    span{
                        font-size: 13px;
                        font-family: "Roboto-Regular", "MMUNI-Regular";
                        position: relative;
                    }
                }
                .add-btn:hover{
                    background: #0BAF4E !important;
                }
            }
            .add-btn{
                background: rgba(11, 175, 78, 0.8);
                color: white;
                height: 40px;
                width: 121px;
                border-radius: 4px;
                display: inline-block;
                margin: 0;
                cursor: pointer;
                outline: none;
                border:none;
                img{
                    width: 20px;
                    margin: 10px 13px 10px 0px; 
                }
                span{
                    font-size: 13px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    position: relative;
                    // top: 1px;
                }
            }
            .add-btn:hover{
                background: #0BAF4E !important;
            }
        }
        .delete{
            // position: absolute;
            left: 0;
            border: white;
            cursor: pointer;
            vertical-align: middle;
            img{
                position: relative;
                top: 50%;
                transform: translate(0%, 0%);
            }
        }
        .td-col1,.td-col2,.td-col3,.td-col4,.td-col5{
            vertical-align: middle;
        }
        .td-col6{
            padding:0px 10px 10px !important;
        }
    }
}
.table-scroll-cover{
    overflow-x:auto;
}
.inner-table-scroll-cover{
    width:1190px;
}
.top-row{
    display: flex;
    width: 100%;
    .question-a{
        font-size: 15px;
        font-family: "Roboto-Regular", "MMUNI-Regular";
        color: #454545;
        margin-top: 16px;
        width: calc(100% - 160px);
        span{
            margin-right: 10px;
        }
    }
    .edit{
        width: 160px;
        height: 50px;
        border: 1px solid rgba(112,112,112,0.25);
        border-radius: 4px;
        color: #454545;
        background: white;
        font-size: 16px;
        font-family: "Roboto-Regular", "MMUNI-Regular";
        cursor: pointer;
        outline: none;
    }
    .edit:hover{
        background: #F7F7F9;
    }
}