.card-title{
    font-size: 32px !important;
}
.check-icon{
    height: 35px;
    img{
        width: 35px;
    }
}
.image{
    img{
        border: 1px solid rgba(112, 112, 112, 0.25);
        border-radius: 8px;
        padding: 53px 38px;
        cursor: pointer;
        width: 165px;
        height: 170px;
    }
    img:hover{
        background: #F7F7F9;
        box-shadow: 0px 20px 40px rgba(0,0,0,0.08);
    }
}
label{
    font-size: 18px;
    color: #454545;
    margin: 0px;
}
.card-footer{
    border: 0px;
}

@media (max-width: 767.98px) {
    .card{
        padding: 0 16px !important;
    }
    .card-title{
        font-size: 25px !important;
    }
    label{
        font-size: 15px !important;
    }
    .image{
        img{
            padding: 45px 30px !important;
            width: 145px !important;
            height: 150px !important;
        }
    }
}