<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl-12 left-side">
                        <app-endorsement-side-menu [menu]="'sectionE'" (progressForms)="getProgressForms($event)"></app-endorsement-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <form name="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" errorTailor>
                            <div class="header-section d-flex">
                                <div class="left-header d-flex">
                                    <h3 class="text-bold" [class.header-full-text]="form?.language == 'Myanmar'">{{"Attachments and Other Information"|translate}}</h3>
                                    <div class="lang-btn" *ngIf="form?.language != 'Myanmar'" >
                                        <button type="button"
                                            class="eng-btn btn mr-2" [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                                        <button type="button"
                                            class="myan-btn btn" [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                                    </div>
                                </div>
                                <!-- <h4 class="text-regular text-right">MIC Endorsement Form</h4> -->
                            </div>
                            <div class="form-section mt-2">
                                <ng-form-layout [formLayout]="endoForm" [formGroup]="formGroup"></ng-form-layout>
                            </div>
                            <!-- <div class="form-section mt-2">
                                <p class="text-regular question"><span class="d-inline-block">2.</span> Please upload any other recommendations, approvals, licenses, permits and similar authorized documents (which have 
                                    been received so far), which have not been uploaded yet and are required for the operation of the investment:</p>
                                <div class="inner-form-section">
                                    <div class="row upload-row">
                                        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                            <div class="form-group">
                                                <label class="form-title">Name of Document</label>
                                                <input class="form-control" type="text"
                                                    placeholder="Enter document name">
                                                <span class="form-text text-muted">Please enter document's title.</span>
                                            </div>
                                            <img class="remove-icon" src="../../assets/icons/ic-remove-circle.svg">
                                        </div>
                                        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                            <div class="form-group">
                                                <div class="file file-responsive d-flex">
                                                    <img src="../../assets/icons/ic-file.svg">
                                                    <span>Upload Document</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-lg more-upload">
                                        <img src="../../../../../assets/icons/ic-add-circle.svg">
                                        More Upload
                                    </button>
                                    <p class="form-note text-regular"><span class="text-medium">Note : </span>According the Myanmar Investment Rule 69, documents which can only be obtained in the implementation process of the investment (after receiving the endorsement) can be submitted later.</p>
                                </div>
                            </div> -->
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-outline-secondary btn-lg"
                                            (click)="location.back()">{{(isRevision ? "BACK TO REVISION" : "PREVIOUS")|translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                        <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                            (click)="saveDraft()" [disabled]="spinner" *ngIf="!isRevision"
                                            [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">
                                            {{"SAVE DRAFT"|translate}}
                                        </button>
                                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="spinner"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}">{{ (isRevision ? "SAVE" : "NEXT") |translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                        <button class="btn btn-lg btn-primary" type="button" (click)="redirectLink(form.id)">{{"NEXT"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>