.form-note{
    margin-top: 15px !important;
}
.upload-row{
    .form-group{
        margin: 15px 0 0 !important;
    }
}
.remove-icon{
    position: absolute;
    top: 50%;
    left: -10px;
    cursor: pointer;
}