<div class="card">
    <div class="card-body">
        <h5>Edit User</h5>
        <div class="form-section mt-20">
            <div class="form-group row">
                <label class="col-md-2 col-form-label offset-md-2">Name</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" [(ngModel)]="user.name" autocomplete="off">
                    <div class="error-message" *ngIf="error.name && !user.name">{{ error.name }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label offset-md-2">E-mail Address</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" [(ngModel)]="user.email" autocomplete="off" disabled= "true">
                    <div class="error-message" *ngIf="error.email && !user.email">{{ error.email }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label offset-md-2">Phone Number</label>
                <div class="col-md-7">
                    <input class="form-control" type="number"  [(ngModel)]="user.phone"autocomplete="off">
                    <div class="error-message" *ngIf="error.phone && !user.phone">{{ error.phone }}</div>
                </div>
            </div>
            <div class="btn-lists col-md-8 offset-md-4">
                <button class="btn btn-primary" [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading" type="submit" (click)="submitUserInfo()">Submit</button>
                <button class="btn btn-outline-primary ml-3">Cancel</button>
            </div>
        </div>
    </div>
</div>
