
.ft-note{
    margin-top: 30px;
    display: flex;
    span{
        width: 45px;
        color: rgba(69, 69, 69, 0.8);
    }
    ul{
        width: calc(100% - 45px);
        padding-inline-start: 16px;
        margin: 0px;
        li{
            margin-bottom: 3px;
            color: rgba(69, 69, 69, 0.8);
        }
    }
}
.zone-cover{
    margin-top: 30px;
    position: relative;
    .zone-title{
        margin-bottom: 8px;
    }
    table{
        margin: 0px 0px 15px;
        table-layout: fixed;
        border: 1px solid rgba(112,112,112,0.25);
        tr{
            th{
                background: #F7F7F9;
                border: 1px solid rgba(112,112,112,0.25);
                text-align: center;
                vertical-align: middle;
                font-weight: normal;
                font-size: 15px;
            }
            .tb-col1{
                width: 18%;
            }
            .tb-col2{
                width: 26%;
            }
            .tb-col3{
                width: 20%;
            }
            td{
                input{
                    border: 0px;
                    width: 100%;
                    height: 40px;
                    font-size: 15px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    background: transparent;
                }
                input:focus{
                    outline: none;
                }
            }
            td:nth-child(5){
                background: #F7F7F9;
            }
            .remove{
                border-color: white !important;
                vertical-align: middle;
            }
        }
        .total-row{
            td{
                background: #F7F7F9;
            }
        }
    }
    @media (max-width: 1199.98px) {
        .table-scroll-cover{
            overflow-x: auto;
            .inner-table-scroll-cover{
                width: 1110px;
                table{
                    thead{
                        tr{
                            .table-title-col1, .table-title-col2{
                                width: 250px;
                            }
                            .table-title-col3{
                                width: 270px;
                            }
                            .table-title-col4{
                                width: 340px;
                            }
                        }
                    }
                }
            }
        }
        .table-scroll-cover::-webkit-scrollbar {
            display: none;
        }
        .table-scroll-cover{
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}
.zone-cover:first-child{
    margin-top: 15px !important;
}
@media (min-width: 992px) { 
    .left-side{
        padding: 0px !important;
    }
}
@media (max-width: 575.98px) {
    .form-cover{
        overflow:  hidden !important;
        .remove{
            .remove-icon{
                position: relative !important;
                left: unset !important;
                padding: 0px !important;
            }
        }
    }
}