.card-footer{
    border-top: 0px !important;
}
.title {
    font-size: 24px;
    color: #454545;
    text-align: center;
    margin: 30px 0 50px;
    font-family: "Roboto-Bold", "MMUNI-Bold";
}
.information {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #48465b;
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
}
.inner-language-cover {
    display: flex;
    margin-top: 50px;
    max-width: 650px;
    margin: 50px auto 0;
    .left-language,
    .right-language {
        width: 100%;
        .myanmar,
        .english {
            cursor: pointer;
            width: 230px;
            .check {
                height: 80px;
                width: 100%;
                position: relative;
                .icon-check {
                    position: absolute;
                    width: 30px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .image {
                width: 230px;
                height: 125px;
                overflow: hidden;
                border-radius: 8px;
                img {
                    width: 230px;
                    height: 125px;
                }
            }
            .language-name {
                color: #454545;
                text-align: center;
                font-size: 18px;
                padding-top: 30px;
                font-family: "Roboto-Regular", "MMUNI-Regular";
            }
        }
        .english {
            float: right;
        }
        .myanmar:hover,
        .english:hover {
            .image {
                img {
                    width: 250px;
                    height: 150px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    @media (max-width: 767.98px) {
        .myanmar,
        .english {
            width: 160px !important;
            .image {
                width: 160px !important;
                height: 90px !important;
                img {
                    width: 160px !important;
                    height: 90px !important;
                }
            }
            .check {
                height: 60px !important;
                .icon-check {
                    width: 25px !important;
                }
            }
            .language-name {
                font-size: 16px;
                padding-top: 15px;
            }
        }
    }
    @media (max-width: 575.98px) {
        .myanmar,
        .english {
            width: 130px !important;
            .image {
                width: 130px !important;
                height: 90px !important;
                img {
                    width: 130px !important;
                    height: 90px !important;
                }
            }
        }
    }
}
