<form #f="ngForm" [formGroup]="formGroup" errorTailor>
    <div class="header-section d-flex">
    </div>
    <div class="form-section mt-2">
        <h4>Endorsement Issued</h4>
        <ng-form-layout [formLayout]="forms" [formGroup]="formGroup"></ng-form-layout>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-lg btn-primary" type="button" (click)="onSubmit()" [disabled]="spinner"
                [ngClass]="{'spinner spinner-dark spinner-right':spinner}">{{"SAVE"|translate}}</button>
            </div>
        </div>
    </div>

</form>