<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card undertaking-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-mic-sidemenu [menu]="menu" (progressForms)="getProgressForms($event)"></app-mic-sidemenu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <form name="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" errorTailor>
                            <!-- <div class="right-side-cover"> -->
                            <div class="header-section d-flex">
                                <div class="left-header d-flex">
                                    <h3 class="text-bold">{{"Undertaking"|translate}}</h3>
                                    <div class="lang-btn" *ngIf="form?.language != 'Myanmar'" >
                                        <button type="button"
                                            class="eng-btn btn mr-2" [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                                        <button type="button"
                                            class="myan-btn btn" [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section mt-2">
                                <div class="text-medium">{{"By the submitting this application:"|translate}}</div>
                                <div class="img">
                                    <img src="../../assets/icons/undertaking.svg" *ngIf="formGroup.invalid">
                                    <img src="../../assets/icons/undertaking-active.svg" *ngIf="!formGroup.invalid">
                                </div>
                                <ng-form-layout [formLayout]="micForm" [formGroup]="formGroup"></ng-form-layout>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-outline-secondary btn-lg" type="button"
                                            (click)="location.back()">{{"PREVIOUS"|translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                        <!-- <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                            (click)="saveDraft()" [disabled]="spinner"
                                            [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">
                                            {{"SAVE DRAFT"|translate}}
                                        </button> -->
                                        <button class="btn btn-lg btn-outline-secondary mr-3" type="button" (click)="onPreview()" *ngIf="mm == 'mm'" 
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && isPreview}"
                                            [disabled]="spinner">{{"PREVIEW"|translate}}</button>
                                        <button class="btn btn-lg btn-primary" type="submit"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft && !isPreview}"
                                            [disabled]="spinner">{{(mm == 'mm' ? "SUBMIT" : "NEXT")|translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                        <button class="btn btn-lg btn-primary" type="submit" *ngIf="mm != 'mm'"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft && !isPreview}"
                                            [disabled]="spinner">{{"NEXT"|translate}}</button>
                                        <button class="btn btn-lg btn-primary mr-3" type="button" *ngIf="mm == 'mm'" (click)="onReply()"
                                            [disabled]="spinner">{{"REPLY"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>