<!--begin::Body-->

<div id="kt_body" class="header offcanvas-right header-fixed subheader-enabled page-loading">

    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile">
        <!--begin::Logo-->
        <a [routerLink]="[ '/pages' ]"><img alt="Logo" src="assets/icons/ic-logo.svg" class="logo-default"
                style="height: 35px;" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Languages-->
            <div class="dropdown">
                <!--begin::Toggle-->
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                        <img class="h-20px w-20px rounded-sm"
                            [src]=" language === 'en' ? 'assets/media/svg/flags/226-united-states.svg' : 'assets/media/svg/flags/myanmar-1.svg'"
                            alt="" />
                    </div>
                </div>
                <!--end::Toggle-->
                <!--begin::Dropdown-->
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Nav-->
                    <ul class="navi navi-hover py-4">
                        <li class="navi-item" [ngClass]="{ active: language === 'en' }" (click)="changeLanguage('mm')">
                            <a href="#" class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="assets/media/svg/flags/myanmar-1.svg" alt="" />
                                </span>
                                <span class="navi-text">{{"မြန်မာ"}}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="navi-item" [ngClass]="{ active: language === 'mm' }" (click)="changeLanguage('en')">
                            <a class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="assets/media/svg/flags/226-united-states.svg" alt="" />
                                </span>
                                <span class="navi-text">{{"English"}}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Languages-->
            <!--begin::User-->
            <div class="dropdown profile">
                <!--begin::Toggle-->
                <div class="topbar-item phone-hide" data-toggle="dropdown" data-offset="0px,0px">
                    <div class="btn btn-dropdown btn-lg mr-1">
                        <span class="text-white opacity-70 font-weight-bold font-size-base mr-1">Hi,</span>
                        <span class="font-weight-bolder font-size-base">
                            {{username}}
                        </span>
                    </div>
                </div>
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Nav-->
                    <ul class="navi navi-hover py-4">
                        <!--begin::Item-->
                        <li class="navi-item">
                            <a class="navi-link" [routerLink]="['/pages/profile']" style="cursor: pointer">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="../../assets/icons/user icon.svg" alt="" />
                                </span>
                                <span class="navi-text">{{"Account"}}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="navi-item active">
                            <a class="navi-link" (click)="logout()" style="cursor: pointer">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="../../assets/icons/logout.svg" alt="" />
                                </span>
                                <span class="navi-text">{{"Logout"}}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Toggle-->
            </div>
            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>
            <!--end::User-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root" style="background: #F7F7F9;">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header header-fixed menu-header"
                    style="background-image: url(assets/images/main-home-bg.jpg)">
                    <!--begin::Container-->
                    <div class="container d-flex align-items-stretch justify-content-between">
                        <!--begin::Left-->
                        <div class="d-flex align-items-stretch mr-3">
                            <!--begin::Header Logo-->
                            <div class="header-logo">
                                <a [routerLink]="[ '/' ]">
                                    <img alt="Logo" src="assets/icons/ic-dica-logo.svg" class="logo-default" />
                                    <img alt="Logo" src="assets/icons/ic-dica-logo.svg" class="logo-sticky" />
                                </a>
                            </div>
                            <!--end::Header Logo-->
                            <!--begin::Header Menu Wrapper-->
                            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                <!--begin::Header Menu-->
                                <div id="kt_header_menu"
                                    class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                                    <!--begin::Header Nav-->
                                    <ul class="menu-nav">
                                        <li
                                            class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here">
                                            <a href="javascript:;" class="menu-link menu-toggle"
                                                [routerLink]="['/pages']" routerLinkActive="router-link-active">
                                                <span class="menu-text"
                                                    [style.color]="is_status ? '#454545' : '#0BAF4E'"
                                                    [style.font-family]="is_status ?  'Roboto-Regular' : 'Roboto-Bold'">{{"Home"}}</span>
                                            </a>
                                        </li>
                                        <li
                                            class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here">
                                            <a href="javascript:;" class="menu-link menu-toggle"
                                                [routerLink]="['/pages/status-checker']"
                                                routerLinkActive="router-link-active">
                                                <span class="menu-text"
                                                    [style.color]="is_status ? '#0BAF4E' : '#454545'"
                                                    [style.font-family]="is_status ? 'Roboto-Bold' : 'Roboto-Regular'">{{"Status Checker"}}</span>
                                            </a>
                                        </li>                                        
                                        <li class="menu-item menu-item-submenu menu-item-rel">
                                            <a href="https://dica.digitaldots.com.mm/faqs" class="menu-link menu-toggle"
                                                target="_blank">
                                                <span class="menu-text">{{"FAQs"}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end::Header Nav-->
                                </div>
                                <!--end::Header Menu-->
                            </div>
                            <!--end::Header Menu Wrapper-->
                        </div>
                        <!--end::Left-->
                        <!--begin::Topbar-->
                        <div class="topbar">
                            <!--begin::Languages-->
                            <div class="dropdown" *ngIf="enableLang">
                                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                    <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                                        <img class="h-20px w-20px rounded-sm"
                                            [src]=" language === 'en' ? 'assets/media/svg/flags/226-united-states.svg' : 'assets/media/svg/flags/myanmar-1.svg'"
                                            alt="" />
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" (click)="changeLanguage('mm')">
                                            <img class="flag" src="assets/media/svg/flags/myanmar-1.svg" alt="" />
                                            {{"မြန်မာ"}}
                                        </a>
                                        <a class="dropdown-item" (click)="changeLanguage('en')">
                                            <img class="flag" src="assets/media/svg/flags/226-united-states.svg"
                                                alt="" />
                                            {{"English"}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--end::Languages-->
                            <!--begin::User-->
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
                                    <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto"
                                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="text-white font-weight-bold font-size-base d-none d-md-inline mr-1"
                                            style="color: #D4D4D4 !important">Hi,</span>
                                        <span
                                            class="text-white font-weight-bolder font-size-base d-none d-md-inline mr-4">{{username}}</span>
                                        <span class="symbol symbol-35">
                                            <span
                                                class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">{{username.slice(0,1).toUpperCase()}}</span>
                                        </span>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" [routerLink]="['/pages/profile']"
                                            routerLinkActive="router-link-active">
                                            <img src="../../../assets/icons/user icon.svg">
                                            {{"Account"}}
                                        </a>
                                        <a class="dropdown-item" (click)="logout()">
                                            <img src="../../../assets/icons/logout.svg">
                                            {{"Logout"}}
                                        </a>
                                    </div>
                                </div>
                                <!--end::Toggle-->
                            </div>
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
                                    <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto"
                                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="symbol symbol-35 symbol-noti">
                                            <span
                                                class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30"><i
                                                    class="ti-bell"></i>
                                                <div class="noti" *ngIf="showNoti" ></div>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg"
                                        aria-labelledby="navbarDropdown">
                                        <form>
                                            <!--begin::Header-->
                                            <div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top"
                                                style="background-color: #0BAF4E;">
                                                <!--begin::Title-->
                                                <h4 class="d-flex flex-center rounded-top">
                                                    <h4 class="text-white">Notifications</h4>
                                                </h4>
                                                <!--end::Title-->
                                                <!--begin::Tabs-->
                                                <ul class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8"
                                                    role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active show" data-toggle="tab"
                                                            href="#topbar_notifications_notifications">New</a>
                                                    </li>
                                                </ul>
                                                <!--end::Tabs-->
                                            </div>
                                            <!--end::Header-->
                                            <!--begin::Content-->
                                            <div class="tab-content">
                                                <!--begin::Tabpane-->
                                                <div class="tab-pane show p-8 active " id="topbar_notifications_notifications"
                                                    role="tabpanel">
                                                    <div class="d-flex flex-center text-center text-muted min-h-200px" *ngIf="formLogs?.length == 0" >
                                                        All caught up!
                                                        <br>No new notifications.
                                                    </div>
                                                    <!--begin::Nav-->
                                                    <div class="scroll pr-7 mr-n7 ps ps--active-y" data-scroll="true" data-height="300" data-mobile-height="200" *ngIf="formLogs?.length > 0" 
                                                        style="height: 300px; overflow: hidden;">
                                                        <!--begin::Item-->
                                                        <div class="d-flex align-items-center mb-6 notification" *ngFor="let log of formLogs" [ngStyle]="{'background': !log.seen ? '#f5f5f5' : '#ffffff'}">
                                                            <!--begin::Symbol-->
                                                            <div class="symbol symbol-40 symbol-light-primary mr-3">
                                                                <figure class="avatar">
                                                                    <img [src]="log?.officer?.avatar ? log?.officer?.avatar : 'https://avatars.dicebear.com/api/initials/'+log?.officer?.email+'.svg'"
                                                                        class="rounded-circle" alt="...">
                                                                </figure>
                                                            </div>
                                                            <!--end::Symbol-->
                                                            <!--begin::Text-->
                                                            <div class="d-flex flex-column font-weight-bold">
                                                                <a href="javascript:;" class="text-dark text-hover-primary mb-1 font-size-lg" (click)="gotoStatusCheckerDetail(log)">Your {{log.type}}: #{{log?.extra?.application_no || ''}} replied</a>
                                                                <span class="text-muted">{{log.created_at|date:'MMM dd, yyyy hh:mm a'}}</span>
                                                            </div>  
                                                            <!--end::Text-->
                                                        </div>
                                                        <!--end::Item-->
                                                    </div>
                                                    
                                                    <!--end::Nav-->
                                                </div>
                                                <!--end::Tabpane-->

                                            </div>
                                            <!--end::Content-->
                                        </form>
                                    </div>
                                </div>
                                <!--end::Toggle-->

                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <router-outlet></router-outlet>
                <!--end::Content-->
                <!--begin::Footer-->
                <div class="footer bg-black d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div
                        class="container p-0 d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <div class="col-12 main-footer-cover">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 left-footer pt-10 pb-10">
                                    <h2 class="footer-title">{{"RELATED LINKS"}}</h2>
                                    <div class="col-12">
                                        <div class="row related-link-section">
                                            <a href="https://www.dica.gov.mm/en/information-myanmar-investment-commission-mic"
                                                target="blank" class="col-6">{{"About the MIC"}}</a>
                                            <a href="https://www.dica.gov.mm/en/key-partners" target="_blank"
                                                class="col-6">{{"Key Partners"}}</a>
                                            <a href="https://www.dica.gov.mm/en/news" target="_blank"
                                                class="col-6">{{"News and Stories"}}</a>
                                            <a href="https://dica.digitaldots.com.mm/faqs" target="_blank"
                                                class="col-6">{{"FAQs"}}</a>
                                            <a target="_blank" class="col-6">{{"Application Forms"}}</a>
                                            <a href="https://www.dica.gov.mm/en/departmental-cooperation-team-one-stop-service-oss"
                                                target="_blank" class="col-6">{{"Departmental Cooperation Team"}}</a>
                                            <a href="https://www.dica.gov.mm/en/announcements-information"
                                                target="_blank" class="col-6">{{"Announcements and Information"}} </a>
                                            <a href="https://www.dica.gov.mm/en/archive-for-documents" target="_blank"
                                                class="col-6">{{"Archive for Documents"}}</a>
                                        </div>
                                    </div>
                                    <div class="image d-flex mt-15">
                                        <div class="left-image">
                                            <img src="assets/icons/ic-dica-logo.svg">
                                        </div>
                                        <div class="right-image">
                                            <img src="assets/icons/ic-footer-img.svg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 center-footer pt-10 pb-10 pl-20">
                                    <div class="center-footer-cover">
                                        <h2 class="footer-title">{{"CONTACT US"}}</h2>
                                        <div class="section mb-4">
                                            {{"No. 1, Thitsar Road, Yankin Township, Yangon, Myanmar"}}
                                        </div>
                                        <div class="section mb-4">
                                            <a href="tel:+951 658102" class="d-block m-0">{{"+951 658102"}}</a>
                                            <a href="tel:658 103" class="d-block m-0">{{"658 103"}}</a>
                                        </div>
                                        <div class="section mb-4">
                                            <a href="mailto:dica.ip.mm@gmail.com"
                                                class="d-block">dica.ip.mm@gmail.com</a>
                                            <a href="mailto:dica@mptmail.net.mm" class="d-block">dica@mptmail.net.mm</a>
                                        </div>
                                        <div class="contact-footer d-flex mt-10">
                                            <a class="social-image">
                                                <img class="default" src="../../assets/icons/ic-facebook.svg">
                                                <img class="hover" src="../../assets/icons/ic-facebook-hover.svg">
                                            </a>
                                            <a class="social-image">
                                                <img class="default" src="../../assets/icons/ic-linkin.svg">
                                                <img class="hover" src="../../assets/icons/ic-linkin-hover.svg">
                                            </a>
                                            <a class="social-image">
                                                <img class="default" src="../../assets/icons/ic-twitter.svg">
                                                <img class="hover" src="../../assets/icons/ic-twitter-hover.svg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 right-footer pt-10 pb-10 pl-20">
                                    <div class="right-footer-cover">
                                        <h2 class="footer-title">{{"BUSINESS HOURS"}}</h2>
                                        <div class="section mb-4">
                                            <label class="d-block m-0">{{"MON to FRI"}}</label>
                                            <label class="d-block m-0">{{"9:30 AM - 4:30 PM"}}</label>
                                        </div>
                                        <h2 class="footer-title m-0 mb-4">{{"FAX NUMBER"}}</h2>
                                        <div class="section mb-4">
                                            {{"+951 658143"}}
                                        </div>
                                        <h2 class="footer-title m-0 mb-4">{{"PAYMENT METHOD"}}</h2>
                                        <div class="payment-icon d-flex">
                                            <img src="../../assets/icons/ic-visa.svg">
                                            <img src="../../assets/icons/ic-master.svg">
                                            <img src="../../assets/icons/ic-jcb.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
                <div class="bottom-footer bg-black d-flex flex-lg-column pt-3 pb-3" id="kt_footer">
                    <!--begin::Container-->
                    <div
                        class="container p-0 d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <div class="col-12 main-footer-cover">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 left-side-footer p-0">
                                    <label class="m-0 text-white">© COPYRIGHT DICA 2020. ALL RIGHTS RESERVED.</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 right-side-footer p-0">
                                    <div class="list float-right d-flex">
                                        <a href="javascript:;" class="menu-link menu-toggl" [routerLink]="['/']"
                                            routerLinkActive="router-link-active">
                                            <label class="active-link">{{"Home"}}</label>
                                        </a>
                                        <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/pages']"
                                            routerLinkActive="router-link-active">
                                            <label>{{"Investor Portal"}}</label>
                                        </a>
                                        <a href="https://dica.digitaldots.com.mm/faqs" class="menu-link menu-toggle"
                                            target="_blank">
                                            <label>{{"FAQs"}}</label>
                                        </a>
                                        <a href="https://dica.digitaldots.com.mm/contact-us/"
                                            class="menu-link menu-toggle" target="_blank">
                                            <label>{{"Contact us"}}</label>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
                    <path
                        d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
                        fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </div>
</div>
<!--end::Body-->