*,
li {
    outline: none;
}
.container {
    padding: 0 15px !important;
}
.header {
    .menu-header {
        padding: 50px 0 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: auto;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        color: #0baf4e;
        text-transform: uppercase;
        width: 310px;
        margin-left: 15px;
    }
    .topbar-item {
        font-size: 15px;
        color: #454545;
        padding: 0px;
        span {
            color: black !important;
        }
        .symbol-label {
            background: #f7f7f9 !important;
        }
        .symbol-noti {
            i {
                color: black !important;
            }
            .noti {
                position: absolute;
                width: 6px;
                height: 6px;
                background: red;
                border-radius: 50%;
                right: 6px;
                top: 5px;
            }
        }
    }
    .language {
        padding-right: 0px;
        margin: 0 -12px 0 0;
    }
    .menu-nav {
        a {
            background: none;
            span {
                color: #454545;
                font-size: 15px;
                font-family: "Roboto-Regular", "MMUNI-Regular";
            }
        }
        a:hover {
            background: none !important;
            span {
                font-family: "Roboto-Bold", "MMUNI-Bold";
                color: #0baf4e;
            }
        }
    }
    .user-info {
        width: 90px;
        overflow: hidden;
        display: flex;
        span:nth-child(2) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .header-mobile {
        padding: 0px !important;
    }
    .profile {
        width: 80px;
        .phone-hide {
            .btn-dropdown {
                width: 80px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .symbol {
        .avatar {
            width: 32px;
            height: 24px;
        }
    }
    @media (max-width: 991.98px) {
        .header-mobile {
            padding: 0 15px !important;
        }
    }
}
#topbar_notifications_notifications{

    div {
        height: auto !important;
    }
    padding: 0 !important;

    .notification{
        padding: 15px 25px;
        margin-bottom: 0px !important;
    }
}

