<div class="menu-lists">
    <div class="menu-title" *ngIf="!is_officer">
        {{ "Tax Incentive Application" | translate }}
        <span *ngIf="taxSubmissionModel?.application_no">( {{taxSubmissionModel?.application_no}} )</span>
        <span *ngIf="form.submission" style="display: block; font-size: 14px;">( <span class="y"
                style="color: #ffa800; font-weight: bold;">*</span>
            ) {{"denotes to revise your form"|translate}}.</span>
    </div>
    <div class="menu-title" *ngIf="is_officer && form.submission">
        <span style="display: block; font-size: 14px;">( <span class="y"
                style="color: #ffa800; font-weight: bold;">*</span>
            ) {{"denotes to revise your form"|translate}}</span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'choose-language'"
        (click)="openSection(0, 'choose-language')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-translate{{menu == 'choose-language' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Choose language for application"|translate}}</div>
                <div class="sub-title">{{"Please choose your comfort language."|translate}} </div>
            </div>
            <img class="arrow" *ngIf="menu == 'choose-language'" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[0])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'formData'" (click)="openSection(1, 'form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'formData' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Form Data"|translate}}</div>
                <div class="sub-title">{{"Please fill the form accurately"|translate}}</div>
            </div>
            <img class="arrow" *ngIf="menu == 'formData'" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Form Data')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[1])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'submission'" (click)="openSection(2, 'submission')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'submission' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Submission"|translate}}</div>
                <div class="sub-title">{{"Agreements for form submission"|translate}} </div>
            </div>
            <img class="arrow" *ngIf="menu == 'submission'" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Submission')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[2])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
</div>