<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="card custom-card inquiry-card">
            <div class="inner-inquiry-card">
                <h1 class="payment-title" *ngIf="language=='en'">Inquiry Submitted Successfully</h1>
                <h1 class="payment-title" *ngIf="language=='mm'">စုံစမ်းမေးမြန်းခြင်းလျှောက်ထားလွှာပုံစံ <br>တင်သွင်းခြင်း အောင်မြင်ပါပြီ</h1>
                <div class="thank">{{"Thank you for your inquiry."|translate}}</div>
                <p>{{"A DICA officer will assess your submission and issue non-binding guidance within 10 working days. Please note that the assessment period can be extended if the submitted form is incomplete or if additional information is required."|translate}}
                </p>
                <p>
                    {{"Please check the progress of this inquiry in the status checker. A DICA officer will be in touch soon."|translate}}
                </p>
                <div class="bottom">
                    {{"Sincerely,"|translate}}
                </div>
                <div class="bottom">
                    {{"DICA"|translate}}
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 text-right">
                        <button class="btn btn-lg btn-outline-secondary" type="button" [routerLink]="['/']">{{"Home"|translate}}</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-lg btn-primary" type="button"
                            [routerLink]="['/pages/status-checker']">{{"Status Checker"|translate}}</button>
                    </div>
        
                </div>
            </div>
        </div>
    </div>