.inner-inquiry-card{
    max-width: 600px;
    margin: auto;
}
.payment-title{
    text-align: center;
    font-size: 30px;
    font-family: "Roboto-Bold", "MMUNI-Bold";
    margin: 40px 0px;  
    color: #454545; 
    line-height: 55px;   
}
.thank{
    font-size: 15px;
    color: #454545;
    font-family: "Roboto-Regular", "MMUNI-Regular";
}
p{
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: #454545;
    margin: 35px 0;
    line-height: 2.5;
}
.bottom{
    font-size: 15px;
    color: #454545;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    margin-top: 15px;
}
.card-footer{
    border-top: 0px !important;
}
