.left-side{
    padding: 0px;
}
table {
    table-layout: fixed;
    margin-top: 16px;
    border: 0px;
    tr {
        th {
            height: 65px;
            background: #f7f7f9;
            font-weight: normal;
            border: 1px solid rgba(112, 112, 112, 0.25);
            text-align: center;
            vertical-align: middle;
        }
        .ftb-col1 {
            width: 14%;
        }
        .ftb-col2 {
            width: 20%;
        }
        .ftb-col3,
        .stb-col3,
        .ltb-col2 {
            width: 16.5%;
        }
        .stb-col1 {
            width: 27%;
        }
        .stb-col2 {
            width: 20%;
        }
        .ltb-col1 {
            width: 16.667%;
        }
        .ltb-col3 {
            width: 16.999%;
        }
        td {
            height: 40px;
            padding: 0px 0 0 16px;
            vertical-align: middle;
            input {
                width: 100%;
                border: 0px;
                height: 40px;
                font-size: 15px;
                color: #454545;
            }
            input:focus {
                outline: none;
            }
        }
        .remove{
            padding: 0px;
            border: 1px solid white;
            vertical-align: middle;
        }
        .bg-color {
            background: #f7f7f9;
        }
    }
    .btn-col {
        border: 1px solid white;
        td {
            border: 0px !important;
            padding: 16px 0px;
            border: 1px solid rgba(112, 112, 112, 0.25);
        }
    }
}
.value {
    height: 40px;
    background: #f7f7f9;
    line-height: 40px;
    padding: 0 0 0 16px;
    border-radius: 4px;
}
.rev-icon{
    position: absolute;
    left: -15px;
    top: 50%;
}
@media (max-width: 1199.98px) {
    .tb-cover,
    .stb-cover,
    .ltb-cover {
        overflow-x: scroll;
        .tb-inner-cover {
            width: 1320px;
        }
        .stb-inner-cover {
            width: 1270px;
        }
        .ltb-inner-cover {
            width: 1370px;
        }
        .ftb-col1 {
            width: 180px !important;
        }
        .ftb-col2 {
            width: 260px !important;
        }
        .ftb-col3,
        .stb-col3,
        .ltb-col2 {
            width: 220px !important;
        }
        .stb-col1 {
            width: 330px !important;
        }
        .stb-col2 {
            width: 250px !important;
        }
        .ltb-col1 {
            width: 230px !important;
        }
        .ltb-col3 {
            width: 240px !important;
        }
    }
    .tb-cover::-webkit-scrollbar,
    .stb-cover::-webkit-scrollbar,
    .ltb-cover::-webkit-scrollbar {
        display: none;
    }
    .tb-cover,
    .stb-cover,
    .ltb-cover {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

