.top-question {
    background: #f7f7f9;
    padding: 16px 30px;
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: rgba(69, 69, 69, 0.8);
    margin: 30px 0 15px;
    border-radius: 8px;
    line-height: 1.8;
    span {
        font-family: "Roboto-Bold", "MMUNI-Bold";
    }
}
.form-note {
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: rgba(69, 69, 69, 0.8);
    margin: 0px 0 30px 0;
    display: inline-flex;
    line-height: 28px;
    span {
        font-family: "Roboto-Medium", "MMUNI-Bold";
    }
    p {
        margin: 0px;
        a {
            color: #0baf4e;
        }
    }
}
