<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-mic-sidemenu [menu]="'sectionB'" (progressForms)="getProgressForms($event)">
                        </app-mic-sidemenu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <form [formGroup]="micFormGroup" #f="ngForm" novalidate (ngSubmit)="onSubmit()" errorTailor>
                            <div class="header-section d-flex">
                                <div class="left-header d-flex">
                                    <h3 class="text-bold" [class.header-full-text]="form?.language == 'Myanmar'">
                                        {{"Overview of Investment"|translate}}</h3>
                                    <div class="lang-btn" *ngIf="form?.language != 'Myanmar'">
                                        <button type="button" class="eng-btn btn mr-2"
                                            [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                                        <button type="button" class="myan-btn btn"
                                            [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <section>
                                <div class="top-question">
                                    <div class="question1">{{"Based on your selected answer"|translate}}
                                        <span>"{{micModel.overview_is_established | uppercase}}"</span> {{"to the question"|translate}}
                                    </div>
                                    <div class="question2">{{"“Has the enterprise been established in Myanmar yet?”"|translate}}
                                    </div>
                                </div>
                            </section> -->
                            <div class="form-section mt-3">
                                <p class="section-title text-medium">{{"2. Basic information about the
                                    investment"|translate}}</p>

                                <div class="form-note"><span>{{"Note"|translate}}</span> &nbsp;: &nbsp;
                                    <p>
                                        {{"Enterprise means: (i) Any legal entity, including company, trust,
                                        partnership, sole proprietorship, business association or similar organizations
                                        established or registered to do businesses in accordance with the applicable
                                        laws. (ii) A branch office of such legal entity established in accordance with
                                        the applicable laws. If the investor has not yet legally established the
                                        enterprise, the natural or legal person responsible for establishing such
                                        enterprise may submit the proposal as an investor. The establishment as the
                                        enterprise under the law is a condition of being issued the permit and shall not
                                        alter any of the obligations of the investor under the Myanmar Investment Law.
                                        New companies can be registered under the Myanmar Companies Law using the
                                        Myanmar Companies Online (MyCO) system" | translate}}
                                        <a href="https://www.myco.dica.gov.mm/"
                                            target="_blank">(https://www.myco.dica.gov.mm/)</a>
                                    </p>
                                </div>
                                <ng-form-layout [formLayout]="micForm" [formGroup]="micFormGroup"
                                    (ngSubmit)="onSubmit()" errorTailor></ng-form-layout>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-lg btn-outline-secondary" type="button"
                                            (click)="location.back()">{{(isRevision ? "BACK TO REVISION" :
                                            "PREVIOUS")|translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                        <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                            (click)="saveDraft()" [disabled]="spinner" *ngIf="!isRevision"
                                            [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">
                                            {{"SAVE DRAFT"|translate}}
                                        </button>
                                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="spinner"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}">{{
                                            (isRevision ? "SAVE" : "NEXT") |translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                        <button class="btn btn-lg btn-primary" type="button"
                                            (click)="redirectLink(form.id)">{{"NEXT"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>