<ng-container [ngSwitch]="form" >
    <app-inquiry-form *ngSwitchCase="'form'" [id]="id"></app-inquiry-form>
    <app-inquiry-state-and-region *ngSwitchCase="'state-and-region'"></app-inquiry-state-and-region>
    <app-inquiry-form1 *ngSwitchCase="'form1'" [id]="id"></app-inquiry-form1>
    <app-inquiry-form2 *ngSwitchCase="'form2'" [id]="id"></app-inquiry-form2>
    <app-inquiry-form3 *ngSwitchCase="'form3'" [id]="id"></app-inquiry-form3>
    <app-inquiry-form4 *ngSwitchCase="'form4'" [id]="id"></app-inquiry-form4>
    <app-inquiry-form5 *ngSwitchCase="'form5'" [id]="id"></app-inquiry-form5>
    <app-inquiry-form6 *ngSwitchCase="'form6'" [id]="id"></app-inquiry-form6>
    <app-inquiry-form7 *ngSwitchCase="'form7'" [id]="id"></app-inquiry-form7>
</ng-container>