<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
      style="background-image: url(assets/images/farm.jpg);">
      <div class="bg-blur"></div>
      <!--begin: Aside Container-->
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <!--begin: Aside content-->
        <div class="flex-column-fluid left-side-title d-flex flex-column justify-content-center">
          <label class="text-center">{{"Welcome to the"|translate}}</label>
          <h1 class="text-center">{{"Investor Portal "|translate}}</h1>
          <!-- <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc
            enim quis nibh. Maecenas convallis eros a ante dignissim, vitae elementum metus facilisis.</p> -->
        </div>
        <!--end: Aside content-->
      </div>
      <!--end: Aside Container-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid d-flex flex-column right-side p-7">
      <!--begin::Content body-->
      <div class="d-flex right-side-cover flex-column-fluid flex-center mt-30 mt-lg-0">
        <!--begin::Signin-->
        <div class="login-form login-signin">
          <img class="logo" [routerLink]="['/']" src="../../assets/icons/ic-logo-big.svg">
          <h3 class="sign-in-title">{{"Password Reset"|translate}}</h3>
          <p class="paragraph1">{{"Please enter your account email. If it is"|translate}}</p>
          <p class="paragraph2">{{"in our database, we will send you OTP code in order to reset your password"|translate}}</p>
          <!--begin::Form-->
          <form class="form" [formGroup]="forgotForm" (ngSubmit)="checkMailForm()">
            <div class="form-group">
              <input class="form-control form-control-solid" type="text" formControlName="email"
                placeholder="{{'Enter your Email Address'|translate}} " />
              <ng-container *ngIf="forgotSubmit && ControlForgot.email.errors">
                <div class="error-message" *ngIf="ControlForgot.email.errors.required">{{"The Email field is required."|translate}}
                </div>
                <div class="error-message" *ngIf="ControlForgot.email.errors.email">
                  {{"Email must be a valid format."|translate}}
                </div>
              </ng-container>
              <div class="error-message" *ngIf="errMsg !== ''">{{errMsg}}</div>
            </div>
            <button class="btn btn-lg btn-primary d-block" type="submit" [ngClass]="{'spinner spinner-white spinner-right':loading}">{{"SUBMIT"|translate}}</button>
          </form>
          <!--end::Form-->
        </div>
        <!--end::Signin-->
      </div>
      <!--end::Content body-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
