<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-1 col-md-12 col-sm-12 col4-xl-1 left-side mini">
                        <app-mic-sidemenu-mini [menu]="'sectionC'" (progressForms)="getProgressForms($event)">
                        </app-mic-sidemenu-mini>
                    </div>
                    <div class="col-lg-11 col-md-12 col-sm-12 col-xl-11 right-side">
                        <!-- <div class="right-side-cover"> -->
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold" [class.header-full-text]="form?.language == 'Myanmar'">
                                    {{"Proposed Investment - Basic Information"|translate}}</h3>
                                <div class="lang-btn" *ngIf="form?.language != 'Myanmar'">
                                    <button type="button" class="eng-btn btn mr-2"
                                        [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                                    <button type="button" class="myan-btn btn"
                                        [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-section">
                            <p class="question-name text-medium">{{"2. Expected investment value"|translate}}</p>
                            <p class="form-question text-medium">{{"b. Expected investment value - details"|translate}}
                            </p>
                            <div class="ft-row">
                                <label class="text-regular">{{"Please provide a breakdown of “Cash and equivalents”
                                    using the following format:"|translate}}</label>
                                <button class="btn btn-lg btn-primary" type="button" (click)="addColumn()"
                                    *ngIf="!is_officer">
                                    <img src="../../assets/icons/ic-add-circle.svg">
                                    <span>{{"Add amount column"|translate}}</span>
                                </button>
                            </div>

                            <!-- Start Cash Form Group -->
                            <form [formGroup]="cashFormGroup" [class.submitted]="submitted">
                                <div class="ftb-scroll">
                                    <table class="ftb table table-bordered" formArrayName="cash_equivalent">
                                        <thead>
                                            <tr *ngIf="!is_officer">
                                                <td class="del-col1"></td>
                                                <ng-container
                                                    *ngFor="let foreign of foreignList(0).controls; let i=index">
                                                    <td class="add-del-col text-regular" data-toggle="modal"
                                                        (click)="removeColumn(i)" *ngIf="i != 0">
                                                        {{"Delete column"|translate}}
                                                    </td>
                                                </ng-container>
                                            </tr>
                                            <tr [formGroupName]="0">
                                                <th class="header-col1"><label class="text-medium">{{"Cash and
                                                        equivalents"|translate}}</label>
                                                </th>
                                                <th class="header-col2"><label>
                                                        <span class="text-medium">{{"Amount"|translate}}</span>
                                                        <span class="text-medium">{{"(Myanmar
                                                            origin)"|translate}}</span></label>
                                                </th>
                                                <ng-container formArrayName="foreign_origin_list">
                                                    <th class="add-col"
                                                        *ngFor="let foreign of foreignList(0).controls; let i=index"
                                                        [formGroupName]="i">
                                                        <div class="top-col">
                                                            <label><span
                                                                    class="text-medium">{{"Amount"|translate}}</span><span
                                                                    class="text-medium">{{"( Foreign
                                                                    origin)"|translate}}</span></label>
                                                        </div>
                                                        <div class="bottom-col select-currency">
                                                            <ng-select [data]="currencies" formControlName="currency"
                                                                [disabled]="is_officer"
                                                                (valueChange)="changeCurrency(i,$event)"></ng-select>
                                                            <i class="fa fa-warning text-danger required-currency-alert"
                                                                *ngIf="foreign.get('currency').invalid"></i>
                                                        </div>
                                                    </th>
                                                </ng-container>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cash of cashList; let i=index" [formGroupName]="i">
                                                <td class="tb-col1">
                                                    <input type="text" readonly
                                                        value="{{cash.get('name').value | translate}}"
                                                        autocomplete="off">
                                                    <i class="fa fa-warning text-danger required-alert"
                                                        *ngIf="cash.get('name').invalid"></i>
                                                </td>
                                                <td class="tb-col2">
                                                    <input type="number" class="text-right pr-3" autocomplete="off"
                                                        placeholder="{{'Enter amount'|translate}}"
                                                        [readonly]="is_officer" formControlName="myan_origin"
                                                        (input)="calculateKyat()">
                                                    <i class="fa fa-warning text-danger required-alert"
                                                        *ngIf="cash.get('myan_origin').invalid"></i>
                                                </td>
                                                <ng-container formArrayName="foreign_origin_list">
                                                    <td class="tb-add-col"
                                                        *ngFor="let foreign of foreignList(i).controls; let j=index"
                                                        [formGroupName]="j">
                                                        <input type="number" class="text-right pr-3"
                                                            formControlName="amount" (input)="calculateForeign()"
                                                            [readonly]="is_officer" autocomplete="off">
                                                        <i class="fa fa-warning text-danger required-alert"
                                                            *ngIf="foreign.get('amount').invalid"></i>
                                                    </td>
                                                </ng-container>
                                            </tr>
                                            <tr>
                                                <td class="tb-col1"><label
                                                        class="text-regular">{{"Total"|translate}}</label>
                                                </td>
                                                <td class="tb-col2 bg-color">
                                                    <label
                                                        class="value text-regular text-right pr-3">{{totalCash[0]|number}}</label>
                                                </td>
                                                <td class="tb-add-col bg-color"
                                                    *ngFor="let foreign of foreignList(0).controls; let i=index">
                                                    <label class="value text-regular text-right pr-3">
                                                        {{totalCash[i + 1]|number}}
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <!-- End Cash Form Group -->

                            <!-- Start mic Form Group  -->
                            <form [formGroup]="micFormGroup" errorTailor>
                                <ng-form-layout [formLayout]="micForm" [formGroup]="micFormGroup" errorTailor>
                                </ng-form-layout>
                            </form>
                            <!-- End mic Form Group  -->
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-lg btn-outline-secondary" type="button"
                                        (click)="location.back()">{{(isRevision ? "BACK TO REVISION" : "PREVIOUS")|translate}}</button>
                                </div>
                                <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                    <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                        (click)="saveDraft()" [disabled]="spinner" *ngIf="!isRevision"
                                        [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">
                                        {{"SAVE DRAFT"|translate}}
                                    </button>
                                    <button class="btn btn-lg btn-primary" type="button" (click)="onSubmit()"
                                        [disabled]="spinner"
                                        [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}">
                                        {{ (isRevision ? "SAVE" : "NEXT") |translate}}</button>
                                </div>
                                <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                    <button class="btn btn-lg btn-primary" type="button"
                                        (click)="redirectLink(form.id)">
                                        {{"NEXT"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>