.zone-lists {
    .single-zone {
        margin-top: 38px;
        table {
            table-layout: fixed;
            border: 0px;
            tr {
                th {
                    height: 65px;
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    background: #f7f7f9;
                    border: 1px solid rgba(112, 112, 112, 0.25);
                }
                .tb-col1 {
                    width: 22%;
                }
                .tb-col2 {
                    width: 34%;
                }
                td {
                    padding: 0px;
                    height: 40px;
                    border: 1px solid rgba(112, 112, 112, 0.25);
                    vertical-align: middle;
                    input {
                        height: 40px;
                        border: 0px;
                        outline: none;
                        font-size: 15px;
                        color: #454545;
                        padding-left: 16px;
                        width: 100%;
                    }
                    input:focus {
                        outline: none;
                    }
                }
                .remove {
                    border: 1px solid white;
                    vertical-align: middle;
                }
                .bg-color {
                    background: #f7f7f9;
                    padding: 0 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .btn-col {
                border: 1px solid white;
                td {
                    border: 0px !important;
                    padding: 16px 0px;
                    border: 1px solid rgba(112, 112, 112, 0.25);
                }
            }
        }
    }
    .single-zone:first-child {
        margin-top: 30px !important;
    }
}
.rev-icon{
    position: absolute;
    left: -15px;
    top: 50%;
}
.more-btn {
    width: 141px !important;
}
@media (max-width: 1199.98px) {
    .tb-cover {
        overflow-x: scroll;
        .tb-inner-cover {
            width: 990px;
            .tb-col1 {
                width: 230px !important;
            }
            .tb-col2 {
                width: 300px;
            }
        }
    }
    .tb-cover::-webkit-scrollbar {
        display: none;
    }
    .tb-cover {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
