$header-height: 70px;

$navigation-width: 300px;
$small-navigation-width: 75px;

$default-font-size: 15px;

$border-style: 1px solid #ebebeb;
$border-style-color: #ebebeb;
$dark-border-style: 1px solid rgba(white, .1);

$body-bg-color: #182139;
$body-bg-color-dark: #04071a;
$default-dark-text-color: #c7c7c7;

$body-bg-color-dark-light: #313852;

$default-text-color: #646464;
$default-text-color-dark: #b9b9b9;

$default-avatar-size: 3rem;

$element-focus-outline-opacity: .40;

$color-primary: #1A944E;
$color-secondary: #C19533;
$color-success: #00C851;
$color-info: #33b5e5;
$color-light: #afb8bd;
$color-danger: #ff4444;
$color-warning: #ffbb33;
$color-dark: #293134;

$color-primary-bright: rgba($color-primary, .3);
$color-secondary-bright: rgba($color-secondary, .3);
$color-success-bright: rgba($color-success, .3);
$color-info-bright: rgba($color-info, .3);
$color-danger-bright: rgba($color-danger, .3);
$color-warning-bright: rgba($color-warning, .3);
$color-dark-bright: #d4d5d8;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #db4437;
$color-pinterest: #bd081c;
$color-linkedin: #0077b5;
$color-tumblr: #35465c;
$color-instagram: #3f729b;
$color-dribbble: #ea4c89;
$color-youtube: #cd201f;
$color-whatsapp: #43d854;
$color-github: #00405d;
$color-behance: #1769ff;
$color-skype: #00aff0;
$color-yahoo: #410093;