<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-land-right-side-menu [menu]="'formData'" (progressForms)="getProgressForms($event)">
                        </app-land-right-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold">{{"Questions Overview"|translate}}</h3>
                            </div>
                            <!-- <h4 class="text-regular text-right">{{"Land Right Authorization"|translate}}</h4> -->
                        </div>
                        <p class="section-title text-regular">
                            {{"Fill the forms from number 1 to the end. You can't fill in in reverse order."|translate}}
                        </p>
                        <div class="section-lists">
                            <div class="section" (click)="openPage(0, 'form1', false)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 1"|translate}} :</div>
                                <div class="text">
                                    {{"Is an authorized representative filling in the application on behalf of the investor(s)?"|translate}}
                                </div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(1, 'form2', false)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 2"|translate}} :</div>
                                <div class="text">
                                    {{"For which investment is the land authorization application being submitted?"|translate}}
                                </div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(2, 'form3', true)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(2) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 3"|translate}} :</div>
                                <div class="text">{{"Owner of land and/or building(s)"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[2])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(3, 'form4', true)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(3)  && checkComplete(4) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 4"|translate}} :</div>
                                <div class="text">
                                    {{"In case of sublease (i.e. if the owner is not the lessor of the land and/or buildings)"|translate}}
                                </div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[3]) && checkRevise(pages[4])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(4, 'form6', true)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(5)  ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 5"|translate}} :</div>
                                <div class="text">{{"Particulars on lease agreement"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[5])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section"
                                (click)="openPage(5, 'form7', true)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(6) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 6"|translate}} :</div>
                                <div class="text">{{"Location"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[6])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(6, 'form8', true)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(7) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 7"|translate}} :</div>
                                <div class="text">{{"Particulars on land used/leased"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[7])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage(7, 'form9', true)">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(8) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 8"|translate}} :</div>
                                <div class="text">{{"Particulars on buildings used/leased"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[8])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>