<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Land Right</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Officer</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Land Right</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Land Right Payments</h5>
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row align-items-center">
                                    <div class="col-md-12 my-2 my-md-0">
                                        <div class="d-sm-flex justify-content-between align-items-center">
                                            <div class="d-sm-flex">
                                                <div class="input-group mw-250 mr-3">
                                                    <input type="text" class="form-control form-daterangepicker"
                                                        placeholder="Select date range">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="ti-calendar text-muted"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <ng-select class="mw-300 mr-3" [placeholder]="'Filter by Status'"
                                                    [(ngModel)]="status" (ngModelChange)="onChangeSector()">
                                                    <option></option>
                                                    <option value="Paid">Paid</option>
                                                    <option value="Unpaid">Unpaid</option>
                                                </ng-select>
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" name="keywords"
                                                        placeholder="Search..." id="generalSearch">
                                                    <span>
                                                        <i class="ti-search text-muted"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-datatable-land-right-payment"></div>
                </div>
            </div>

        </div>
    </div>

</div>