<div id="loader-wrapper" *ngIf="show" >
    <div id="loader"></div>
    <p>Please wait...</p>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
