.info-section{
    padding: 16px 16px 16px 25px;
    background: #F7F7F9;
    color: rgba(69, 69, 69, 0.8);
    border-radius: 4px;
    margin-bottom: 30px;
}
.form-note{
    margin-top: 15px !important;
}
.upload-row{
    .form-group{
        margin: 15px 0 0 !important;
    }
}
.remove-icon{
    position: absolute;
    top: 50%;
    left: -10px;
    cursor: pointer;
}
.form-note {
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: rgba(69, 69, 69, 0.8);
    margin: 0px 0 30px 0;
    display: inline-flex;
    line-height: 28px;
    span {
        font-family: "Roboto-Medium", "MMUNI-Bold";
    }
    p {
        margin: 0px;
        a {
            color: #0baf4e;
        }
    }
}