<div class="desktop-menu">
    <div class="single-list" [class.active-list]="menu == 'language'"
        (click)="openSection(0, 'endorsement-choose-language')">
        <img src="../../assets/icons/ic-translate.svg">
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[0])">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionA'" (click)="openSection(1, 'sectionA-form1')">
        <span>
            {{"( A )"|translate}}
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[1])">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionB'" (click)="openSection(2, 'sectionB-form1')">
        <span>
            {{"( B )"|translate}}
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[2])">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionC'" (click)="openSection(3, 'sectionC-form1')">
        <span>
            {{"( C )"|translate}}
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[3])">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionD'" (click)="openSection(4, 'sectionD-form1')">
        <span>
            {{"( D )"|translate}}
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[4])">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionE'" (click)="openSection(5, 'sectionE-form1')">
        <span>
            {{"( E )"|translate}}
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[5])">
                <i class="fa fa-check"></i>
            </ng-container>
        </span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'certificate'"
        (click)="openSection(6, 'endorsement-certificate')" *ngIf="form?.language == 'Myanmar'">
        <img src="../../assets/icons/ic-section.svg">
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[6])">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
    <div class="single-list" [class.active-list]="menu == 'undertaking'" (click)="openSection(7, 'undertaking')">
        <img src="../../assets/icons/ic-law.svg">
        <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[7])">
            <i class="fa fa-check ic-check"></i>
        </ng-container>
    </div>
</div>
<div class="menu-lists mobile-menu">
    <div class="single-list" [class.active-list]="menu == 'choose-language'"
        (click)="openSection(0, 'choose-language')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-translate.svg">
            </div>
            <div class="menu-title">
                <div>{{"Choose language for application"|translate}}</div>
                <div class="sub-title">{{"Please choose your comfort language."|translate}} </div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'choose-language'">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[0])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>    
    <div class="single-list" [class.active-list]="menu == 'sectionA'" (click)="openSection(1, 'sectionA-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionA' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( A )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investors"|translate}}</div>
            </div>
            <img *ngIf="menu == 'sectionA'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[1])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionB'" (click)="openSection(2, 'sectionB-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionB' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( B )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investment"|translate}}</div>
            </div>
            <img *ngIf="menu == 'sectionB'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[2])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionC'" (click)="openSection(3, 'sectionC-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionC' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( C )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Basic Information"|translate}}
                </div>
            </div>
            <img *ngIf="menu == 'sectionC'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[3])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionD'" (click)="openSection(4, 'sectionD-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionD' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( D )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Land and Building"|translate}}
                </div>
            </div>
            <img *ngIf="menu == 'sectionD'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[4])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionE'" (click)="openSection(5, 'sectionE-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionE' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( E )"|translate}}</div>
                <div class="sub-title">{{"Attachments and Other Information"|translate}}</div>
            </div>
            <img *ngIf="menu == 'sectionE'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[5])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'certificate'"
        (click)="openSection(6, 'endorsement-certificate')" *ngIf="form?.language == 'Myanmar'">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'certificate' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Endorsement Certificate"|translate}}</div>
                <div class="sub-title">
                    {{"Information in English for endorsement certificate"|translate}}</div>
            </div>
            <img *ngIf="menu == 'certificate'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[6])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'undertaking'" (click)="openSection(7, 'undertaking')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-law{{menu == 'undertaking' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Undertaking"|translate}}</div>
                <div class="sub-title">{{"Undertaking for endorsement form"|translate}}</div>
            </div>
            <img *ngIf="menu == 'undertaking'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[7])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
</div>