.choose-lists{
    .choose{
        padding: 16px;
        font-size: 15px;
        font-family: "Roboto-Regular", "MMUNI-Regular";
        color: rgba(69, 69, 69, 0.8);
        border: 1px solid rgba(112,112,112,0.25);
        border-radius: 4px;
        margin-top: 12px;
        cursor: pointer;
    }
    .active{
        border: 2px solid #FBC562;
        padding: 15px;
    }
}