<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
      style="background-image: url(assets/images/farm.jpg);">
      <div class="bg-blur"></div>
      <!--begin: Aside Container-->
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <!--begin: Aside content-->
        <div class="flex-column-fluid left-side-title d-flex flex-column justify-content-center">
          <label class="text-center">{{"Welcome to the"|translate}}</label>
          <h1 class="text-center">{{"Investor Portal "|translate}}</h1>
          <!-- <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc
            enim quis nibh. Maecenas convallis eros a ante dignissim, vitae elementum metus facilisis.</p> -->
        </div>
        <!--end: Aside content-->
      </div>
      <!--end: Aside Container-->
    </div>
    <!--begin::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid d-flex flex-column right-side p-7">
      <!--begin::Content body-->
      <div class="d-flex right-side-cover flex-column-fluid flex-center mt-30 mt-lg-0">
        <!--begin::Signin-->
        <div class="login-form login-signin">
          <img class="logo" [routerLink]="['/']" src="../../assets/icons/ic-logo-big.svg">
          <h3 class="sign-in-title">{{"Password Reset"|translate}}</h3>
          <p class="paragraph1">{{"your current password was sent to your"|translate}}</p>
          <p class="paragraph2">{{"email,please enter that password in the current password box and you can set your new password in the password box."|translate}}</p>
          <!--begin::Form-->
          <form [formGroup]="passwordForm" (ngSubmit)="checkPasswordForm()" class="form-group">

            <div class="form">
              <img class="eye-icon" (click)="hide = !hide"
              [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
              <input [type]="hide ? 'password' : 'text'" class="form-control form-control-solid" formControlName="current_password"
                placeholder="{{'Enter current password.'|translate}}">
              <ng-container *ngIf="passwordSubmit && ControlPasswordForm.current_password.errors">
                <div class="error-message" *ngIf="ControlPasswordForm.current_password.errors.required">{{"Current password is required."|translate}}</div>
              </ng-container>
            </div>

            <div class="form">
              <img class="eye-icon" (click)="hide = !hide"
              [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
              <input [type]="hide ? 'password' : 'text'" class="form-control form-control-solid" formControlName="password"
                placeholder="{{'Enter new password.'|translate}}">
              <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password.errors">
                <div class="error-message" *ngIf="ControlPasswordForm.password.errors.required">
                  {{"New password is required."|translate}}</div>
                <div class="error-message" *ngIf="ControlPasswordForm.password.errors.minlength">
                  {{"Password must be at least 6 characters."|translate}}</div>
              </ng-container>
            </div>

            <div class="form">
              <img class="eye-icon" (click)="hide = !hide"
              [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
              <input [type]="hide ? 'password' : 'text'" class="form-control form-control-solid" formControlName="password_confirmation"
                placeholder="{{'Enter confirm password.'|translate}}">
              <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password_confirmation.errors">
                <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.required">
                  {{"Password field is required."|translate}}</div>
                <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.minlength">
                  {{"Password must be at least 6 characters."|translate}}</div>
                <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.mustMatch">
                  {{"The two passwords do not match."|translate}}
                </div>
              </ng-container>
            </div>

            <div class="form">
              <div class="error-message" *ngIf="errMsg !== ''">{{errMsg}}</div>
            </div>

            <button class="btn btn-lg btn-primary d-block" [ngClass]="{'spinner spinner-white spinner-right':loading}" type="submit">
              {{"SUBMIT"|translate}}
            </button>


          </form>
          <!--end::Form-->
        </div>
        <!--end::Signin-->
      </div>
      <!--end::Content body-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
