* {
  outline: none;
}
.login.login-1 .login-signin {
  display: none;
}

.login.login-1.login-signin-on .login-signin {
  display: block;
}

.login.login-1.login-forgot-on .login-signin {
  display: none;
}

@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 600px;
  }
  .login.login-1 .login-form {
    width: 100%;
    max-width: 450px;
  }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 550px;
  }
}

@media (max-width: 991.98px) {
  .login.login-1 .login-aside{
    display: none !important;
  }
  .right-side-cover{
    margin-top: 0px !important;
  }
  .login.login-1 .login-form {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 575.98px) {
  .login.login-1 .login-form {
    width: 100%;
    max-width: 100%;
  }
}

.flex-root {
  height: 100vh;
  .login-aside {
    position: relative;
    background-position: center;
    .bg-blur {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .left-side-title {
      h1,
      label,
      p {
        color: white;
        position: relative;
      }
      label {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .right-side {
    background: white;
    position: relative;
    .right-side-cover {
      flex: 0;
      .login-signin {
        .logo {
          display: block;
          margin: 50px auto 0;
          cursor: pointer;
        }
        .sign-in-title {
          font-size: 20px;
          color: #454545;
          font-weight: bold;
          margin: 20px 0px 30px;
          text-align: center;
        }
        .paragraph1 {
          text-align: center;
          font-size: 15px;
          color: #454545;
          line-height: 15px;
        }
        .paragraph2 {
          max-width: 474px;
          margin: auto;
          line-height: 30px;
          position: relative;
          text-align: center;
          font-size: 15px;
          color: #454545;
        }
        .form-group {
          .form {
            margin-top: 30px;
            position: relative;
            input {
              max-width: 450px;
              height: 50px;
              border-radius: 8px;
              background: #f7f7f9;
              border: none;
              padding-left: 16px;
              margin: auto;
            }
            .eye-icon {
              position: absolute;
              right: 16px;
              width: 18px;
              cursor: pointer;
              top: 21px;
            }
            .error-message {
              font-size: 12px;
              margin-top: 10px;
              color: red;
            }
            .invalid-feedback {
              padding-left: 1rem;
              margin: auto;
              max-width: 450px;
            }
            ::placeholder {
              color: #454545;
            }
          }
          .form:first-child {
            margin-top: 50px;
          }
        }
        .btn{
          font-size: 15px;
          margin: 30px auto;
          min-width: 140px;
          height: 45px;
        }
      }
    }
  }
}
