p.card-info {
    max-width: 500px;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: #48465B;
    font-family: "Roboto-Regular", "MMUNI-Regular";
}
.card-title{
    font-size: 32px !important;
}
.card-footer{
    border: 0px;
}

@media (max-width: 767.98px) {
    .card{
        padding: 0 16px !important;
    }
   
}