<ng-container [ngSwitch]="form">
    <app-taxincentive-choose-language *ngSwitchCase="'choose-language'" [id]="id"></app-taxincentive-choose-language>
    <app-tax-incentive-form1 *ngSwitchCase="'form1'" [id]="id"></app-tax-incentive-form1>
    <app-tax-incentive-form2 *ngSwitchCase="'form2'" [id]="id"></app-tax-incentive-form2>
    <app-tax-incentive-form3 *ngSwitchCase="'form3'" [id]="id"></app-tax-incentive-form3>
    <app-tax-incentive-form4 *ngSwitchCase="'form4'" [id]="id"></app-tax-incentive-form4>
    <app-tax-incentive-form5 *ngSwitchCase="'form5'" [id]="id"></app-tax-incentive-form5>
    <app-tax-incentive-form6 *ngSwitchCase="'form6'" [id]="id"></app-tax-incentive-form6>
    <app-tax-incentive-form7 *ngSwitchCase="'form7'" [id]="id"></app-tax-incentive-form7>
    <app-tax-incentive-form8 *ngSwitchCase="'form8'" [id]="id"></app-tax-incentive-form8>
    <app-tax-incentive-form9 *ngSwitchCase="'form9'" [id]="id"></app-tax-incentive-form9>
    <app-tax-incentive-form10 *ngSwitchCase="'form10'" [id]="id"></app-tax-incentive-form10>
    <app-tax-incentive-form11 *ngSwitchCase="'form11'" [id]="id"></app-tax-incentive-form11>
    <app-tax-incentive-form12 *ngSwitchCase="'form12'" [id]="id"></app-tax-incentive-form12>
    <app-tax-incentive-submission *ngSwitchCase="'submission'" [id]="id"></app-tax-incentive-submission>
</ng-container>