<ng-container [ngSwitch]="form">
    <app-endorsement-form *ngSwitchCase="'form'" [id]="id"></app-endorsement-form>
    <app-endorsement-choose-language *ngSwitchCase="'endorsement-choose-language'" [id]="id"></app-endorsement-choose-language>
    <app-endorsement-state-and-region *ngSwitchCase="'endorsement-state-and-region'" [id]="id"></app-endorsement-state-and-region>
    <app-endorsement-section-a-form1 *ngSwitchCase="'sectionA-form1'" [id]="id"></app-endorsement-section-a-form1>
    <app-endorsement-section-a-form2 *ngSwitchCase="'sectionA-form2'" [id]="id"></app-endorsement-section-a-form2>
    <app-endorsement-section-a-form3 *ngSwitchCase="'sectionA-form3'" [id]="id"></app-endorsement-section-a-form3>
    <app-endorsement-section-a-form4 *ngSwitchCase="'sectionA-form4'" [id]="id"></app-endorsement-section-a-form4>
    <app-endorsement-section-b-form1 *ngSwitchCase="'sectionB-form1'" [id]="id"></app-endorsement-section-b-form1>
    <app-endorsement-section-b-form2 *ngSwitchCase="'sectionB-form2'" [id]="id"></app-endorsement-section-b-form2>
    <app-endorsement-section-b-form3 *ngSwitchCase="'sectionB-form3'" [id]="id"></app-endorsement-section-b-form3>
    <app-endorsement-section-b-form4 *ngSwitchCase="'sectionB-form4'" [id]="id"></app-endorsement-section-b-form4>
    <app-endorsement-section-c-form1 *ngSwitchCase="'sectionC-form1'" [id]="id"></app-endorsement-section-c-form1>
    <app-endorsement-section-c-form2 *ngSwitchCase="'sectionC-form2'" [id]="id"></app-endorsement-section-c-form2>
    <app-endorsement-section-c-form3 *ngSwitchCase="'sectionC-form3'" [id]="id"></app-endorsement-section-c-form3>
    <app-endorsement-section-c-form4 *ngSwitchCase="'sectionC-form4'" [id]="id"></app-endorsement-section-c-form4>
    <app-endorsement-section-c-form5 *ngSwitchCase="'sectionC-form5'" [id]="id"></app-endorsement-section-c-form5>
    <app-endorsement-section-c-form6 *ngSwitchCase="'sectionC-form6'" [id]="id"></app-endorsement-section-c-form6>
    <app-endorsement-section-c-form7 *ngSwitchCase="'sectionC-form7'" [id]="id"></app-endorsement-section-c-form7>
    <app-endorsement-section-c-form8 *ngSwitchCase="'sectionC-form8'" [id]="id"></app-endorsement-section-c-form8>
    <app-endorsement-section-c-form9 *ngSwitchCase="'sectionC-form9'" [id]="id"></app-endorsement-section-c-form9>
    <app-endorsement-section-d-form1 *ngSwitchCase="'sectionD-form1'" [id]="id"></app-endorsement-section-d-form1>
    <app-endorsement-section-d-form2 *ngSwitchCase="'sectionD-form2'" [id]="id"></app-endorsement-section-d-form2>
    <app-endorsement-section-d-form3 *ngSwitchCase="'sectionD-form3'" [id]="id"></app-endorsement-section-d-form3>
    <app-endorsement-section-d-form4 *ngSwitchCase="'sectionD-form4'" [id]="id"></app-endorsement-section-d-form4>
    <app-endorsement-section-d-form5 *ngSwitchCase="'sectionD-form5'" [id]="id"></app-endorsement-section-d-form5>
    <app-endorsement-section-d-form6 *ngSwitchCase="'sectionD-form6'" [id]="id"></app-endorsement-section-d-form6>
    <app-endorsement-section-d-form7 *ngSwitchCase="'sectionD-form7'" [id]="id"></app-endorsement-section-d-form7>
    <app-endorsement-section-e-form1 *ngSwitchCase="'sectionE-form1'" [id]="id"></app-endorsement-section-e-form1>
    <app-endorsement-section-e-form2 *ngSwitchCase="'sectionE-form2'" [id]="id"></app-endorsement-section-e-form2>
    <app-endorsement-section-e-form3 *ngSwitchCase="'sectionE-form3'" [id]="id"></app-endorsement-section-e-form3>
    <app-endorsement-section-e-form4 *ngSwitchCase="'sectionE-form4'" [id]="id"></app-endorsement-section-e-form4>
    <app-endorsement-certificate *ngSwitchCase="'endorsement-certificate'" [id]="id"></app-endorsement-certificate>
    <app-endorsement-undertaking *ngSwitchCase="'undertaking'" [id]="id"></app-endorsement-undertaking>
</ng-container>