<app-loader [show]="loading.inquiry || loading.mic || loading.endo || loading.tax || loading.land"></app-loader>
<ng-container *ngIf="!loading.inquiry && !loading.mic && !loading.endo && !loading.tax && !loading.land">
    <ng-container *ngFor="let draft of drafts; let i = index">
        <div class="inquiry-cover" *ngIf="draft.data.length > 0">
            <div class="topbar">
                <div class="left-header">{{draft?.name}}</div>
            </div>
            <div class="inner-inquiry-cover status-checker table table table-striped">
                <table>
                    <thead>
                        <tr>
                            <th width="120px">{{"Temporary ID"|translate}}</th>
                            <th width="50%">{{"Type of Application"|translate}}</th>
                            <th>{{"Updated On"|translate}}</th>
                            <th width="100px">{{"Status"|translate}}</th>
                            <th width="100px">{{"Action"|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let form of draft.data">
                            <tr *ngIf="form.submission == null">
                                <td (click)="openDraftForm(form, draft.type)">{{form?.created_at | date:'ddmmss'}}</td>
                                <td (click)="openDraftForm(form, draft.type)">{{form?.application_type || draft?.name}}</td>
                                <td (click)="openDraftForm(form, draft.type)">{{form?.updated_at | date: 'dd-MM-yyyy'}}
                                </td>
                                <td (click)="openDraftForm(form, draft.type)">
                                    <button class="btn btn-sm text-bold"
                                        [ngClass]="draft.data.status == 'Rejects' ? 'btn-light-danger' : 'btn-light-primary'">{{form?.status}}</button>
                                </td>
                                <td (click)="delete(form, draft.type)">
                                    <button class="btn btn-sm text-bold btn-danger">{{"Delete" | translate}}</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <div class="inquiry-cover empty-page" *ngIf="empty.inquiry && empty.mic && empty.endo && empty.tax && empty.land
     && !loading.inquiry && !loading.mic && !loading.endo && !loading.tax && !loading.land">
        <div class="empty-section pt-25 pb-25">
            <img class="d-block m-auto" src="'../../../../../../assets/icons/empty-status.svg">
            <p class="text-center mt-10">Empty Status.</p>
        </div>
    </div>
</ng-container>