.single-question{
    background: #F7F7F9;
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: rgba(69,69,69,0.8);
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 2px solid #F7F7F9;
    cursor: pointer;
}
.single-question:first-child{
    margin-top: 30px;
}
.single-question:hover{
    border: 2px solid #FBC562;
}
.active{
    border: 2px solid #FBC562;
}
.info-link{
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: rgba(69,69,69,0.8);
}