<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl-12 left-side">
                        <app-endorsement-side-menu [menu]="'sectionD'" (progressForms)="getProgressForms($event)">
                        </app-endorsement-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold">{{"Questions Overview"|translate}}</h3>
                            </div>
                        </div>
                        <div class="form-question-section">
                            <h5 class="text-regular mt-2">
                                {{"Fill the forms from number 1 to the end. You can't fill in in reverse order."|translate}}
                            </h5>
                            <div class="question-lists">
                                <a class="d-flex" (click)="openPage('sectionD-form2', false)">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 1"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Do you wish to apply for permission to lease or use land according to the Myanmar Investment Rules 116 together with this proposal?"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                                <a class="d-flex" (click)="openPage('sectionD-form3',true)">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) && checkComplete(2) && checkComplete(3) && checkComplete(4) && checkComplete(5) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 2"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Location of investment and lease agreements"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>