.form-note{
    font-size: 15px;
    color: rgba(69,69,69,0.8);
    font-family: "Roboto-Regular", "MMUNI-Regular";
    width: calc(100% - 115px);
    display: flex;
    .left-note{
        width: 50px;
        font-family: "Roboto-Bold", "MMUNI-Bold";
    }
    .right-list{
        width: calc(100% - 45px);
        padding-left: 15px;
        list-style: none;
        li{
            line-height: 26px;
        }
        .nth-child{
            margin-top:25px;
        }
    }
}