<select #selectControll [disabled]="disabled" style="width: 100%">
    <ng-content select="option, optgroup">
    </ng-content>
</select>
<div *ngIf="isSubmit && !isValid" class="col-12 invalid-feedback" >
    <div>{{"Field is required."|translate}}</div>
</div>

