<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-mic-sidemenu [menu]="'sectionD'" (progressForms)="getProgressForms($event)">
                        </app-mic-sidemenu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <form name="form" [formGroup]="micFormGroup" (ngSubmit)="onSubmit()" errorTailor>
                            <div class="header-section d-flex">
                                <div class="left-header d-flex">
                                    <h3 class="text-bold" [class.header-full-text]="form?.language == 'Myanmar'">
                                        {{"Proposed Investment - Land And Building"|translate}}</h3>
                                    <div class="lang-btn" *ngIf="form?.language != 'Myanmar'">
                                        <button type="button" class="eng-btn btn mr-2"
                                            [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                                        <button type="button" class="myan-btn btn"
                                            [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <ng-form-layout [formLayout]="micForm" [formGroup]="micFormGroup"></ng-form-layout>
                            <button class="btn btn-lg btn-primary mb-3" type="button" (click)="moreLocation()"
                                [disabled]="spinner" *ngIf="!is_officer"
                                [ngClass]="{'spinner spinner-white spinner-right':spinner && is_more && !is_draft}">
                                <img class="mr-2" src="../../assets/icons/ic-add-circle.svg">
                                <span>{{"More Location"|translate}}</span>
                            </button>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-lg btn-outline-secondary" type="button"
                                            (click)="location.back()">{{(isRevision ? "BACK TO REVISION" :
                                            "PREVIOUS")|translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                        <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                            (click)="saveDraft()" [disabled]="spinner" *ngIf="!isRevision"
                                            [ngClass]="{'spinner spinner-dark spinner-right':spinner && !is_more && is_draft}">
                                            {{"SAVE DRAFT"|translate}}
                                        </button>
                                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="spinner"
                                            *ngIf="isRevision"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}">{{"SAVE"|translate}}</button>
                                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="spinner"
                                            *ngIf="!is_last && !isRevision"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft && !is_more}">{{"NEXT"|translate}}</button>
                                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="spinner"
                                            *ngIf="is_last && !isRevision"
                                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft && !is_more}">{{next_label|translate}}</button>
                                    </div>
                                    <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                        <button class="btn btn-lg btn-primary" *ngIf="!is_last" type="button"
                                            (click)="redirectLink(form.id)">{{"NEXT"|translate}}</button>
                                        <button class="btn btn-lg btn-primary" *ngIf="is_last" type="button"
                                            (click)="redirectLink(form.id)">{{next_label|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>