<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl-12 left-side">
                        <app-endorsement-side-menu [menu]="'sectionE'"></app-endorsement-side-menu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold">{{"Questions Overview"|translate}}</h3>
                            </div>
                        </div>
                        <div class="form-question-section">
                            <h5 class="text-regular mt-2">
                                {{"Fill the forms from number 1 to the end. You can't fill in in reverse order."|translate}}
                            </h5>
                            <div class="question-lists">
                                <a class="d-flex" (click)="openPage(0, 'sectionE-form2')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 1"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Please upload the following documents"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                                <a class="d-flex" (click)="openPage(1, 'sectionE-form3')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 2"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Please upload any other recommendations, approvals, licenses, permits and similar authorized documents (which have been received so far), which have not been uploaded yet and are required for the operation of the investment:"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                                <a class="d-flex" (click)="openPage(2, 'sectionE-form4')">
                                    <span class="check-icon d-block"><img
                                            [src]="'../../assets/icons/ic-form-check'+(checkComplete(2) ? '-correct' : '')+'.svg'"></span>
                                    <label class="no d-block text-medium m-0">{{"Q 3"|translate}} :</label>
                                    <label
                                        class="question d-block text-regular m-0">{{"Is an authorized representative filling in the application on behalf of the investor(s)?"|translate}}</label>
                                    <i class="fa fa-star revise" *ngIf="checkRevise(pages[2])"></i>
                                    <span class="arrow-icon d-block"><img
                                            src="../../assets/icons/ic-arrow-icon.svg"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>