<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
  <app-loader [show]="loading"></app-loader>
  <div class="container p-0">
    <div class="card custom-card p-0">
      <div class="card-body p-0">
        <div class="row m-0">
          <div class="col-lg-4 col-md-12 col-sm-12 col4-xl-12 left-side">
            <div class="menu-lists">
              <app-land-right-side-menu [menu]="'formData'" (progressForms)="getProgressForms($event)">
              </app-land-right-side-menu>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
            <form name="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" errorTailor>
              <div class="header-section d-flex">
                <div class="left-header d-flex">
                  <h3 class="text-bold" [class.header-full-text]="form?.language == 'Myanmar'">{{"Form Data"|translate}}
                  </h3>
                  <div class="lang-btn" *ngIf="form?.language != 'Myanmar'">
                    <button type="button" class="eng-btn btn mr-2"
                      [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                    <button type="button" class="myan-btn btn"
                      [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                  </div>
                </div>
                <!-- <h4 class="text-regular text-right">{{"Land Right Authorization"|translate}}</h4> -->
              </div>
              <ng-form-layout [formLayout]="landRightForm" [formGroup]="formGroup"></ng-form-layout>
              <div class="card-footer">
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-outline-secondary btn-lg" type="button" (click)="location.back()">
                      {{(isRevision ? "BACK TO REVISION" : "PREVIOUS")|translate}}</button>
                  </div>
                  <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                    <button class="btn btn-outline-secondary btn-lg" type="button" (click)="saveDraft()"
                      [disabled]="spinner" *ngIf="!isRevision"
                      [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">{{"SAVE
                      DRAFT"|translate}}</button>
                    <button class="btn btn-primary ml-2 btn-lg" type="submit"
                      [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}" [disabled]="spinner">{{
                      (isRevision ? "SAVE" : "NEXT") |translate}}
                    </button>
                  </div>
                  <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                    <button class="btn btn-primary ml-2 btn-lg" type="button"
                      (click)="redirectLink(form.id)">{{"NEXT"|translate}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>