.content{
    .form2-cover{
        width: 100%;
        background: white;
        border: 1px solid rgba(112,112,112,0.15);
        margin-top: -80px;
        z-index: 9;
        position: relative;
        border-radius: 8px;
        margin-bottom: 80px;
        .row{
            .left-side{
                height: 100%;
                padding: 20px 38px 20px 20px;
            }
            .right-side{
                position: relative;
                width: 100%;
                padding: 35px;
                border-left: 1px solid #EAEAEA;
                .right-side-cover{
                    width: 100%;
                    position: relative;
                    margin-bottom: 150px;
                    .top-header{
                        display: flex;
                        width: 100%;
                        color: #454545;
                        .left-title{
                            font-size: 18px;
                            font-family: "Roboto-Bold", "MMUNI-Bold";
                            width: calc(100% - 340px);
                            position: relative;
                            top:8px;
                        }
                        .header-row-cover{
                            display: flex;
                            .top-btn{
                                width: 220px;
                                display: flex;
                                .left-btn, .right-btn{
                                    width: 100px;
                                    height: 40px;
                                    border-radius: 4px;
                                    font-size: 13px;
                                    font-family: "Roboto-Regular", "MMUNI-Regular";
                                    outline: none;
                                }
                                .left-btn{
                                    border: none;
                                    background: #FBC562;
                                    color: #454545;
                                }
                                .right-btn{
                                    margin: 0 10px;
                                    border: 1px solid #C59533;
                                    color: #C59533;
                                    background: white;
                                }
                                .right-btn:hover{
                                    background: #F7F7F9;
                                }
                            }
                            .right-title{
                                font-size: 15px;
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                text-align: right;
                                position: relative;
                                width: 120px;
                                span{
                                    display: block;
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .question{
                        margin-top: 30px;
                        display: flex;
                        width: calc(100% - 115px);
                        .no{
                            width: 30px;
                            font-size: 15px;
                            color: #454545;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                        }
                        .question-name{
                            width: calc(100% - 30px);
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            font-size: 15px;
                            color: #454545;
                        }
                    }
                    .form-note{
                        font-family: "Roboto-Regular", "MMUNI-Regular";
                        font-size: 15px;
                        color: rgba(69,69,69,0.8);
                        width: calc(100% - 145px);
                        margin: 15px 0 0px 30px;
                        span{
                            font-family: "Roboto-Bold", "MMUNI-Bold";
                        }
                    }
                    .form-cover{
                        width: calc(100% - 150px);
                        margin-left: 30px;
                        .location-title{
                            font-size: 15px;
                            font-family: "Roboto-Bold", "MMUNI-Bold";
                            color: #454545;
                            margin-top: 30px;
                        }
                        .question-a{
                            font-size: 15px;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            color: #454545;
                            margin-top: 16px;
                            span{
                                margin-right: 10px;
                            }
                        }
                        .form-title, .file-title, .title2{
                            font-size: 13px;
                            color: rgba(69,69,69,0.8);
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            display: block;
                            margin-bottom: 6px;
                        }
                        .file-title{
                            color: #454545;
                        }
                        .title2{
                            color: #454545;
                            font-size: 15px;
                        }
                        .form-label{
                            font-size: 12px;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            color: rgba(69,69,69,0.8);
                            margin: 4px 0 0 0;
                        }
                        input, textarea{
                            width: 100%;
                            height: 40px;
                            border: 1px solid rgba(112,112,112,0.25);
                            border-radius: 4px;
                            font-size: 15px;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            padding-left: 16px;
                            color: #454545;
                        }
                        textarea{
                            height: 80px;
                            padding: 10px 16px;
                        }
                        ::placeholder{
                            color: #454545;
                        }
                        .add-btn{
                            background: rgba(11, 175, 78, 0.8);
                            color: white;
                            height: 40px;
                            width: 121px;
                            border-radius: 4px;
                            display: inline-block;
                            margin: 0;
                            cursor: pointer;
                            margin-top: 16px;
                            outline: none;
                            img{
                                width: 20px;
                                margin: 10px 13px;
                            }
                            span{
                                font-size: 13px;
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                position: relative;
                                top: 1px;
                            }
                        }
                        .add-btn:hover{
                            background: #0BAF4E !important;
                        }
                        .form{
                            margin-top: 30px;
                            position: relative;
                        }
                        .file{
                            height: 40px;
                            border-radius: 4px;
                            border: 1px solid rgba(112,112,112,0.25);
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            padding-left: 16px;
                            display: flex;
                            width: 180px;
                            cursor: pointer;
                            img{
                                width: 15px;
                            }
                            span{
                                font-size: 12px;
                                color: rgba(69,69,69,0.6);
                                display: block;
                                margin-left: 15px;
                                width: fit-content;
                                height: fit-content;
                                position: relative;
                                top: 10px;  
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .file:hover{
                            background: #F7F7F9 !important;
                        }
                        .main-title{
                            font-size: 15px;
                            font-family: "Roboto-Medium", "MMUNI-Bold";
                            color: #454545;
                            margin-top: 30px;
                        }
                        .inner-cover{
                            display: flex;
                            width: 100%;
                            .from-date{
                                width: calc(50% - 25px);
                            }
                            .center{
                                width: 50px;
                                position: relative;
                                span{
                                    font-size: 15px;
                                    color: #454545;
                                    font-family: "Roboto-Regular", "MMUNI-Regular";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                            .to-date{
                                width: calc(50% - 25px);
                            }
                        }
                        .rdo-custom {
                            display: inline-block;
                            position: relative;
                            padding-left: 30px;
                            cursor: pointer;
                            margin: 8px 40px 0 0;
                            color: #454545;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            cursor: pointer;
                            font-size: 15px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                &:checked {
                                    ~ {
                                        .checkmark {
                                            background-color: #fff;
                                            border: 2px solid #0BAF4E;
                                            &:after {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                            .checkmark {
                                &:after {
                                    top: 2px;
                                    left: 2px;
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    background: #0BAF4E;
                                }
                            }
                        }
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 20px;
                            width: 20px;
                            background-color: #eee;
                            border-radius: 50%;
                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                        }
                    }
                }
                .bottom-position{
                    position: absolute;
                    width: calc(100% - 185px);
                    bottom: 0;
                    padding-bottom: 40px;
                    .divider{
                        width: 100%;
                        height: 1px;
                        background: #EAEAEA;
                        margin-top: 80px;
                    }
                    .footer-btn{
                        margin: 20px 0 0;
                        display: inline-block;
                        width: 100%;
                        .btn1, .btn2, .btn3{
                            width: 150px;
                            height: 50px;
                            font-size: 16px;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            color: #454545;
                            border-radius: 4px;
                            outline: none;
                        }
                        .btn2, .btn1{
                            border: 1px solid rgba(112,112,112,0.25);
                            background: rgba(255,255,255,0.5);
                        }
                        .btn2:hover, .btn1:hover{
                            background: rgba(247,247,249,0.5) !important;
                        }
                        .btn3{
                            background: rgba(11, 175, 78, 0.8);
                            color: white;
                            border: none;
                            margin-left: 16px;
                            font-family: "Roboto-Medium", "MMUNI-Bold";
                        }
                        .btn3:hover{
                            box-shadow: 0px 4px 16px rgba(11,175,78,0.15);
                            background: #0BAF4E !important;
                        }
                        .btn-cover{
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767.98px) {
    .inner-cover{
        display: inherit !important;
        .from-date, .to-date{
            width: 100% !important;
        }
        .from-date{
            margin-bottom: 30px;
        }
        .center{
            display: none !important;
        }
    }
    .question,.form-note{
        width:100% !important;
    }
}