.select-item {
    min-height: 150px;
    border-radius: 8px;
    border: 1px solid rgba(112, 112, 112, 0.25);
    padding: 0 30px;
    margin: 30px 0;
    cursor: pointer;
    .image {
        width: 100px;
        img {
            position: relative;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }
    .right-col {
        width: calc(100% - 100px);
        .inner-right-col{
            position: relative;
            padding: 15px 0px;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
            line-height: 1.6;
            .title {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
    }
}
.section-cover:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
.active {
    border: 3px solid #fbc562;
    padding: 0px 28px;
}
