<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-1 col-md-12 col-sm-12 col4-xl-1 left-side mini">
                        <app-mic-sidemenu-mini [menu]="'sectionC'" (progressForms)="getProgressForms($event)">
                        </app-mic-sidemenu-mini>
                    </div>
                    <div class="col-lg-11 col-md-12 col-sm-12 col-xl-11 right-side">
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold" [class.header-full-text]="form?.language == 'Myanmar'">
                                    {{"Proposed Investment - Basic Information"|translate}}</h3>
                                <div class="lang-btn" *ngIf="form?.language != 'Myanmar'">
                                    <button type="button" class="eng-btn btn mr-2"
                                        [ngClass]="mm && mm == 'mm' ? 'btn-outline-warning' : 'btn-warning'">{{"English"|translate}}</button>
                                    <button type="button" class="myan-btn btn"
                                        [ngClass]="mm && mm == 'mm' ? 'btn-warning' : 'btn-outline-warning'">{{"Myanmar"|translate}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-section mt-2">
                            <form [formGroup]="micFormGroup" errorTailor>
                                <ng-form-layout [formLayout]="micForm" [formGroup]="micFormGroup"></ng-form-layout>
                            </form>
                            <form [formGroup]="micExpectedInvestment" [class.submitted]="submitted">
                                <div class="table-scroll-cover">
                                    <div class="inner-table-scroll-cover">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="header1"></th>
                                                    <th class="header4">
                                                        {{"Total Amount in Myanmar Kyat"|translate}}
                                                    </th>
                                                    <th class="header3">
                                                        {{"Equivalent Amount in USD"|translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container formArrayName="expected_list">
                                                    <ng-container
                                                        *ngFor="let row of expected_list.controls; let i = index"
                                                        [formGroupName]="i">
                                                        <tr>
                                                            <td class="left">
                                                                <div class="left-side-cover">
                                                                    <div class="no">
                                                                        <span>{{rowNumbers[i]|translate}}</span>
                                                                    </div>
                                                                    <div class="name">
                                                                        {{row.get('name').value | translate}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="number" class="text-right"
                                                                    placeholder="{{'Enter amount'|translate}}"
                                                                    autocomplete="off" formControlName="amount_kyat"
                                                                    [readonly]="is_officer" (input)="changeRowKyat(i)">
                                                                <i class="fa fa-warning text-danger required-currency-alert"
                                                                    *ngIf="row.get('amount_kyat').invalid"></i>
                                                            </td>
                                                            <td>
                                                                <div class="total-amount text-right pr-3">
                                                                    {{getExpectedValue(i).get('amount_usd').value | number }}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                                <tr>
                                                    <td class="left">
                                                        <div class="name1">{{"(Expected) investment value"|translate}}
                                                        </div>
                                                    </td>
                                                    <td class="bg-color">
                                                        <div class="total-amount text-right pr-3">
                                                            {{(getTotalMillionAmoutKyat())| number}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="total-amount text-right pr-3">
                                                            {{getTotalMillionAmoutUSD()| number}}</div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="left">
                                                        <div class="name1">
                                                            {{"Percentage (%) of (expected) investment value during the construction or preparatory period"|translate}}
                                                        </div>
                                                    </td>
                                                    <td colspan="2">
                                                        <input type="number" class="text-center"
                                                            placeholder="{{'Enter amount'|translate}}"
                                                            autocomplete="off" formControlName="percent_construction"
                                                            [readonly]="is_officer">
                                                        <i class="fa fa-warning text-danger required-currency-alert"
                                                            *ngIf="micExpectedInvestment.get('percent_construction').invalid"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="left">
                                                        <div class="name1">
                                                            {{"Percentage (%) of (expected) investment value during the commercial operation period"|translate}}
                                                        </div>
                                                    </td>
                                                    <td class="right-td bg-color" colspan="2">
                                                        <div class="total-amount">{{getPercentCommercial()}}%</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form [formGroup]="micFormGroupFile" errorTailor>
                                <ng-form-layout [formLayout]="micFormFile" [formGroup]="micFormGroupFile">
                                </ng-form-layout>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-lg btn-outline-secondary" type="button"
                                        (click)="location.back()">{{(isRevision ? "BACK TO REVISION" : "PREVIOUS")|translate}}
                                    </button>
                                </div>
                                <div class="col-8 text-right" *ngIf="user?.type == 'investor'">
                                    <button class="btn btn-lg btn-outline-secondary mr-3" type="button"
                                        [disabled]="spinner" (click)="onDraftSave()" *ngIf="!isRevision"
                                        [ngClass]="{'spinner spinner-dark spinner-right':spinner && is_draft}">
                                        {{"SAVE DRAFT"|translate}}
                                    </button>
                                    <button class="btn btn-lg btn-primary" [disabled]="spinner"
                                        [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_draft}"
                                        (click)="onSubmit()" type="button">{{ (isRevision ? "SAVE" : "NEXT") |translate}}</button>
                                </div>
                                <div class="col-8 text-right" *ngIf="user?.type != 'investor'">
                                    <button class="btn btn-lg btn-primary" type="button"
                                        (click)="redirectLink(form.id)">{{"NEXT"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>