table{
    margin-top: 35px;
    margin-bottom: 20px !important;
    border: 1px solid white !important;
    table-layout: fixed;
    thead{
        tr{
            th{
                border-bottom-width: 1px !important;
            }
            .header1{
                width: 50%;
                border-left: 1px solid white !important;
                border-top: 1px solid white !important;
            }
            .header2, .header3, .header4{
                width: 16.667%;
                padding: 0px;
                height: 80px;
            }
            .top1{
                border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                background: #F7F7F9;
                position: relative;
                height: 40px;
                padding-top: 9px;
                font-size: 15px;
                font-family: "Roboto-Medium", "MMUNI-Bold";
                font-weight: normal;
                text-align: center;
            }
            .top2{
                height: 40px;
                position: relative;
            }
            .header3, .header4{
                position: relative;
                background: #F7F7F9;
                vertical-align: middle;
                text-align: center;
                font-size: 15px;
                font-family: "Roboto-Medium", "MMUNI-Bold";
                font-weight: normal;
                label {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
    tbody{
        tr{
            position: relative;
            td{
                padding: 20px 8px;
                position: relative;
                vertical-align: middle;
                .total-amount{
                    font-size: 15px;
                    text-align: center;
                    color: #454545;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                }
                .input-form{
                    position: relative;
                }
                input{
                    width: 100%;
                    border: none;
                    font-size: 15px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    color: #454545;
                    // margin-top: 10px;
                    // transform: translate(0%, -30%);
                    background: none;
                }
            }
            td:nth-child(3), td:nth-child(4), .bg-color{
                background: #F7F7F9;
            }
            .left, .left1{
                .left-side-cover{
                    width: 100%;
                    display: flex;
                    .no{
                        width: 45px;
                        position: relative;
                        span{
                            position: absolute;
                            top: 44%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 15px;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            color: #454545;
                            height: 100%;
                        }
                    }
                    .name{
                        font-size: 15px;
                        width: calc(100% - 45px);
                        .upload-btn{
                            background: rgba(11, 175, 78, 0.8);
                            color: white;
                            height: 40px;
                            width: 121px;
                            border-radius: 4px;
                            display: inline-block;
                            cursor: pointer;
                            outline: none;
                            img{
                                width: 20px;
                                margin: 10px 13px;
                            }
                            span{
                                font-size: 13px;
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                position: relative;
                                top: 1px;
                                color: white;
                            }
                        }
                        .upload-btn:hover{
                            background: #0BAF4E !important;
                        }
                    }
                }
                .name1{
                    font-size: 15px;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    color: #454545;
                    margin-left: 18px;
                }
            }
            
            .left1{
                padding-top: 0px;
                padding-bottom: 0px;
                height: 65px;
            }
            .remove{
                vertical-align: middle;
                border: 1px solid white;
            }
        }
    }
}
@media (max-width: 1199.98px) {
    .table-scroll-cover{
        overflow-x: auto;
        .inner-table-scroll-cover{
            width: 1107px;
        }
    }
    .table-scroll-cover::-webkit-scrollbar {
        display: none;
    }
    .table-scroll-cover{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.required-currency-alert {
    position: absolute;
    margin: -30px 28px;
    display: none;
    font-size: 16px;
    right: 0;
}
.required-alert {
    position: absolute;
    margin: -68px 28px;
    display: none;
    font-size: 16px;
    right: 0;
}
.submitted {
    .required-alert, .required-currency-alert  {
        display: block;
    }
    .border-alert {
        border-color:#dc3545 !important
    }
}