.left-side{
    padding: 0px;
}
.tform-note {
    margin-top: 16px;
    width: 100%;
    display: flex;
    line-height: 30px;
    span {
        width: 45px;
        color: rgba(69, 69, 69, 0.8);
    }
    .note-lists {
        width: calc(100% - 45px);
        ul {
            list-style: none;
            padding-inline-start: 0px;
            li {
                color: rgba(69, 69, 69, 0.8);
                line-height: 30px;
            }
        }
    }
}
.year-lists {
    margin-top: 30px;
    .one-year {
        margin-bottom: 8px;
        .year-header {
            height: 56px;
            line-height: 56px;
            background: #f7f7f9;
            padding: 0 16px;
            cursor: pointer;
            img {
                float: right;
                padding-top: 16px;
                cursor: pointer;
            }
        }
        .year-content {
            animation: fade 0.3s forwards;
            transform: scaleY(0);
            transform-origin: 0 0;
            margin-top: 16px;
            .tb-cover {
                overflow-x: scroll;
                .tb-scroll {
                    width: 1650px;
                    table {
                        border: 0px;
                        margin: 0px;
                        tr {
                            th {
                                background: #f7f7f9;
                                font-weight: normal;
                                vertical-align: middle;
                                text-align: center;
                                height: 80px;
                                border: 1px solid rgba(112, 112, 112, 0.25);
                                padding: 0px;
                                span {
                                    display: block;
                                    padding-top: 5px;
                                }
                            }
                            .tb-col1 {
                                width: 100px;
                            }
                            .tb-col2 {
                                width: 200px;
                            }
                            .tb-col3 {
                                width: 300px;
                            }
                            .l-col,
                            .r-col {
                                width: 50%;
                                line-height: 40px;
                                display: inline-block;
                            }
                            .l-col {
                                border-right: 1px solid rgba(112, 112, 112, 0.25);
                            }
                            .tb-col4 {
                                width: 350px;
                                .t-header {
                                    height: 39px;
                                    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                                    line-height: 39px;
                                }
                            }
                            td {
                                height: 40px;
                                vertical-align: middle;
                                text-align: center;
                                padding: 0px;
                                input {
                                    font-size: 15px;
                                    color: #454545;
                                    font-family: "Roboto-Regular", "MMUNI-Regular";
                                    padding-left: 16px;
                                    border: 0px;
                                    height: 40px;
                                    width: 100%;
                                }
                                input:focus {
                                    outline: none;
                                }
                            }
                            .remove-icon {
                                position: relative;
                                right: -10px;
                                top: 10px;
                                cursor: pointer;
                            }
                        }
                        .btn-col {
                            border: 1px solid white;
                            td {
                                text-align: left;
                                border: 0px !important;
                                padding: 16px 0px;
                                border: 1px solid rgba(112, 112, 112, 0.25);
                            }
                        }
                        .total-row {
                            td {
                                background: #f7f7f9;
                            }
                        }
                    }
                }
            }
            .tb-cover::-webkit-scrollbar {
                display: none;
            }
            .tb-cover {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
        .active-header {
            background: #0baf4e;
            color: white;
        }
        @keyframes fade {
            to {
                transform: scaleY(1);
            }
        }
    }
}
.save-btn {
    width: 165px;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 24px;
    height: 50px;
    display: block;
}

.avg-cover {
    height: 125px;
    background: #f7f7f9;
    border-radius: 4px;
    border: 2px solid #fbc562;
    margin-top: 16px;
    padding-left: 32px;
    label {
        margin-top: 24px;
        display: block;
    }
    h2 {
        margin: 16px 0 0;
        font-size: 28px;
        font-weight: bold;
    }
}
