.btn{
    min-width: 120px;
}
.error-message{
    font-size: 13px;
    color: red;
    margin-top: 8px;
}
.password {
    padding-right: 40px;
}
.form-group{
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 15px;
    top: 43px;
    width: 15px;
    cursor: pointer;
}