<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="container p-0">
    <h1 class="text-bold account-title m-0">{{"Account"|translate}}</h1>
    <div class="card custom-card profile-page">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 left-col">
          <app-side-menu [menu]="'password'"></app-side-menu>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 right-col">
          <section>
            <form [formGroup]="passwordForm" (ngSubmit)="checkPasswordForm()" class="login" method="post">
              <h3 class="text-medium mb-15">{{"Change Password"|translate}}</h3>
              <div class="form-section">

                <div class="form-group">
                  <label class="form-label">{{"Current password"|translate}}</label>
                  <input class="password form-control" formControlName="current_password" autocomplete="off"
                    [type]="hide ? 'password' : 'text'" placeholder="{{'Enter password'|translate}}">
                  <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.current_password.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.current_password.errors.required">
                      {{"Current password is required."|translate}}</div>
                  </ng-container>
                </div>

                <div class="form-group">
                  <label class="form-label">{{"New password"|translate}}</label>
                  <input class="password form-control" [type]="hide ? 'password' : 'text'" formControlName="password"
                    placeholder="{{'Enter password'|translate}}" autocomplete="off">
                  <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.password.errors.required">
                      {{"New password is required."|translate}}</div>
                    <div class="error-message" *ngIf="ControlPasswordForm.password.errors.minlength">
                      {{"Password must be at least 6 characters."|translate}}</div>
                  </ng-container>
                </div>

                <div class="form-group">
                  <label class="form-label">{{"Confirm password"|translate}}</label>
                  <input class="password form-control" formControlName="password_confirmation"
                    [type]="hide ? 'password' : 'text'" placeholder="{{'Enter password'|translate}}" autocomplete="off">
                  <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password_confirmation.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.required">
                      {{"Password field is required."|translate}}</div>
                    <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.minlength">
                      {{"Password must be at least 6 characters."|translate}}</div>
                    <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.mustMatch">
                      {{"The two passwords do not match."|translate}}
                    </div>
                  </ng-container>
                </div>

              </div>

              <div class="btn-lists mt-5 text-right">
                <button class="btn btn-primary btn-lg" [ngClass]="{'spinner spinner-white spinner-right':loading}"
                  [disabled]="loading" type="submit">{{"Update"|translate}}</button>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
