<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0" style="min-height: 500px;">
        <div class="status-header">
            {{"Status Checker"|translate}}
        </div>
        <div class="card card-custom gutter-b list card-cover">
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-bold nav-tabs-line">
                        <li class="nav-item" (click)="openTab('submission')">
                            <a [ngClass]="open == 'submission' ? 'nav-link active': 'nav-link'" data-toggle="tab" href="#submission">Submission</a>
                        </li>
                        <li class="nav-item" (click)="openTab('approved')">
                            <a [ngClass]="open == 'approved' ? 'nav-link active': 'nav-link'" data-toggle="tab" href="#approved">Approved Application</a>
                        </li>
                        <li class="nav-item" (click)="openTab('draft')">
                            <a [ngClass]="open == 'draft' ? 'nav-link active': 'nav-link'" data-toggle="tab" href="#drap_application">Draft Application</a>
                        </li>
                        <li class="nav-item" (click)="openTab('payment')">
                            <a [ngClass]="open == 'payment' ? 'nav-link active': 'nav-link'" data-toggle="tab" href="#payment_history">Payment History</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div [ngClass]="open == 'submission' ? 'tab-pane fade show active': 'tab-pane fade'" id="submission" role="tabpanel" aria-labelledby="kt_tab_pane_2" *ngIf="open == 'submission'">
                        <ng-container *ngFor="let submission of submissions; let i = index">
                            <div class="card-cover" *ngIf="submission.data.length > 0">
                                <div class="topbar">
                                    <div class="left-header">{{submission?.name}}</div>
                                </div>
                                <div class="inner-inquiry-cover status-checker table table table-striped">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="30%">{{"Application No."|translate}}</th>
                                                <th width="30%">{{"Type of Application"|translate}}</th>
                                                <th width="20%">{{"Date of Submission"|translate}}</th>
                                                <th width="180px">{{"Status"|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr (click)="openForm(form, submission.type)" *ngFor="let form of submission.data" >
                                                <td>{{form?.application_no}}</td>
                                                <td>{{form?.application_type || submission?.name}}</td>
                                                <td>{{form?.created_at | date: 'dd-MM-yyyy'}}</td>
                                                <td>
                                                    <button class="btn btn-sm text-bold" [ngClass]="submission.data.status == 'Rejects' ? 'btn-light-danger' : 'btn-light-primary'" >{{form?.status}}</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-container>
                        <div class="inquiry-cover empty-page" *ngIf="is_submissions_empty && !loading">
                            <div class="empty-section pt-25 pb-25">
                                <img class="d-block m-auto" src="'../../../../../../assets/icons/empty-status.svg">
                                <p class="text-center mt-10">Empty Status.</p>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="open == 'approved' ? 'tab-pane fade show active': 'tab-pane fade'" id="approved" role="tabpanel" aria-labelledby="kt_tab_pane_4"
                        *ngIf="open == 'approved'">
                        <app-approved></app-approved>
                    </div>
                    <div [ngClass]="open == 'draft' ? 'tab-pane fade show active': 'tab-pane fade'" id="drap_application" role="tabpanel" aria-labelledby="kt_tab_pane_2" *ngIf="open == 'draft'">
                        <app-draft-application></app-draft-application>
                    </div>
                    <div [ngClass]="open == 'payment' ? 'tab-pane fade show active': 'tab-pane fade'" id="payment_history" role="tabpanel" aria-labelledby="kt_tab_pane_3" *ngIf="open == 'payment'">
                        <app-payment-history></app-payment-history>
                    </div>                    
                </div>
            </div>
        </div>
        
    </div>
</div>






