<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="container p-0">
    <h1 class="text-bold account-title m-0">{{"Account"|translate}}</h1>
    <div class="card custom-card profile-page">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 left-col">
          <app-side-menu [menu]="'info'"></app-side-menu>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 pb-20 right-col">
          <h3 class="text-medium">{{"Personal Information"|translate}}</h3>
          <div class="form-section">

            <div class="profile">
              <input style="display: none;" #fileInput name="imageUrl" type="file" accept="image/*"
                (change)="handleInputChange($event)" />
              <img [src]="imageSrc ? imageSrc : 'https://avatars.dicebear.com/api/initials/' + username + '.svg'">
              <div class="profile-edit" (click)="fileInput.click()"> {{"Edit"|translate}} </div>
            </div>
            <div class="form-group mt-25">
              <label class="form-label">{{"User Name"|translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="user.name" placeholder="{{'Enter name'|translate}}" autocomplete="off">
              <div class="error-message" *ngIf="error.name && !user.name">{{ error.name }}</div>
            </div>
            <div class="form-group">
              <label class="form-label">{{"Phone number"|translate}}</label>
              <input type="tel" class="form-control" [(ngModel)]="user.phone" placeholder="{{'Enter phone number'|translate}}" autocomplete="off">
              <div class="error-message" *ngIf="error.phone && !user.phone">{{ error.phone }}</div>
            </div>
            <div class="form-group">
              <label class="form-label">{{"Email"|translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="{{'Enter email'|translate}}" [disabled]="true" autocomplete="off">
            </div>
          </div>
          <div class="btn-lists mt-5 text-right">
            <!-- <button class="btn btn-lg mr-2 cancel">{{"cancel"|translate}}</button> -->
            <button class="btn btn-lg btn-primary" [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading" type="submit" (click)="submitUserInfo()">
              {{"Save"|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
