<section class="desktop-view">
    <div class="user-profile">
        <img [src]="profile ? profile : 'https://avatars.dicebear.com/api/initials/' + username + '.svg'">
    </div>
    <label class="name text-medium d-block mt-2 text-center">{{ username }}</label>
    <div class="side-menu mt-10">
        <a class="text-regular d-block pl-5" [class.active-menu]="menu == 'info'" [routerLink]="['/pages/profile']" routerLinkActive="router-link-active">
            <img src="../../../../assets/icons/ic-user{{menu == 'info' ? '-active' : ''}}.svg">
            <div class="line"></div>
            {{"Personal Information"|translate}}
        </a>
        <a class="text-regular d-block pl-5" [class.active-menu]="menu == 'mail'" [routerLink]="['/pages/change-email']" routerLinkActive="router-link-active">
            <img src="../../../../assets/icons/ic-mail{{menu == 'mail' ? '-active' : ''}}.svg">
            <div class="line"></div>
            {{"Change Email"|translate}}
        </a>
        <a class="text-regular d-block pl-5" [class.active-menu]="menu == 'password'" [routerLink]="['/pages/change-password']" routerLinkActive="router-link-active">
            <img src="../../../../assets/icons/ic-lock{{menu == 'password' ? '-active' : ''}}.svg">
            <div class="line"></div>
            {{"Change Password"|translate}}
        </a>
        <a class="text-regular d-block pl-5 mt-30" (click)="logout()">
            <img src="../../../../assets/icons/ic-logout.svg">
            <div class="line"></div>
            {{"Logout"|translate}}
        </a>
    </div>
</section>
<section class="tablet-view">
    <a class="text-regular text-center d-inline-block pb-3" [class.active-menu]="menu == 'mail'" [routerLink]="['/pages/profile']" routerLinkActive="router-link-active" [class.active]="menu == 'info'">{{"Personal Information"|translate}}</a>
    <a class="text-regular text-center d-inline-block pb-3" [class.active-menu]="menu == 'mail'" [routerLink]="['/pages/change-email']" routerLinkActive="router-link-active" [class.active]="menu == 'mail'">{{"Change Email"|translate}}</a>
    <a class="text-regular text-center d-inline-block pb-3" [class.active-menu]="menu == 'mail'" [routerLink]="['/pages/change-password']" routerLinkActive="router-link-active" [class.active]="menu == 'password'">{{"Change Password"|translate}}</a>
</section>
