.user-profile {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
  img {
    width: 94px;
    height: 94px;
    border-radius: 50%;
  }
}
.side-menu {
  a {
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    position: relative;
    img {
      margin-right: 32px;
    }
    .line {
      display: none;
      position: absolute;
      height: 100%;
      right: 0;
      width: 3px;
      background: #0baf4e;
      top: 0;
    }
  }
  a:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #454545;
  }
  .active-menu {
    color: #0baf4e;
    background: rgba(89, 226, 124, 0.05);
    .line {
      display: initial !important;
    }
  }
  .active-menu:hover {
    color: #0baf4e !important;
  }
}
