<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>MIC Permits: {{status || 'All'}}</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Officer</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">MIC Permits</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row align-items-center">
                                    <div class="col-md-12 my-2 my-md-0">
                                        <div class="d-sm-flex justify-content-between align-items-center">
                                            <div class="d-sm-flex">
                                                <div class="input-group mw-250 mr-3">
                                                    <input type="text" class="form-control form-daterangepicker"
                                                        placeholder="Select date range">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="ti-calendar text-muted"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <ng-select class="mw-300 mr-3" [placeholder]="'Filter by Sector'" [(ngModel)]="sector"
                                                    [data]="sectors" (ngModelChange)="onChangeSector()"></ng-select>
                                                <ng-select class="mw-300 mr-3" *ngIf="status == 'Revision'" [placeholder]="'Filter by Status'" [(ngModel)]="sub_status"
                                                    [data]="statuses" (ngModelChange)="onChangeStatus()"></ng-select>
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" name="keywords" placeholder="Search..." id="mic-permit-search">
                                                    <span>
                                                        <i class="ti-search text-muted"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-datatable-mic-permit"></div>
                </div>
            </div>

        </div>
    </div>

</div>