<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="form2-cover">
            <div class="row m-0">
                <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                    <div class="menu-lists">
                        <div class="single-list" [routerLink]="['/choose-language']"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-translate.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Choose language for application"|translate}}</div>
                                    <div class="sub-title">{{"Please choose your comfort language."|translate}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/sectionA-form1', id]"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Section ( A )"|translate}}</div>
                                    <div class="sub-title">{{"Investment Process Particulars"|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/sectionB-form1', id]"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Section ( B )"|translate}}</div>
                                    <div class="sub-title">{{"Investor Details"|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/sectionC-form1', id]"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Section ( C )"|translate}}</div>
                                    <div class="sub-title">{{"Investment Enterprise - Basic Information"|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/sectionD-form1', id]"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Section ( D )"|translate}}</div>
                                    <div class="sub-title">{{"Investment Enterprise - Details"|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/sectionE-form1', id]"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Section ( E )"|translate}}</div>
                                    <div class="sub-title">{{"Land and Buildings"|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/sectionF-form1', id]"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Section ( F )"|translate}}</div>
                                    <div class="sub-title">{{"Other Information"|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/template-form1', id]"
                            routerLinkActive="router-link-active" [class.active-list]="menu == 'template'">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-section-active.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Endorsement Template"|translate}}</div>
                                    <div class="sub-title">{{"Endorsement template in English"|translate}}</div>
                                </div>
                                <img class="arrow" src="assets/icons/ic-arrow-right.svg">
                            </div>
                        </div>
                        <div class="single-list" [routerLink]="['/pages/endorsement/undertaking-form1', id, 'mm']"
                            routerLinkActive="router-link-active">
                            <div class="inner-single-list-cover">
                                <div class="image">
                                    <img src="../../assets/icons/ic-law.svg">
                                </div>
                                <div class="menu-title">
                                    <div>{{"Undertaking"|translate}}</div>
                                    <div class="sub-title">{{"Undertaking for endorsement form"|translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                    <div class="right-side-cover">
                        <form name="form" [formGroup]="endorsementForm" (ngSubmit)="onSubmit()" *ngIf="loaded">
                            <div class="top-header">
                                <div class="left-title">{{"Endorsement Template"|translate}}</div>
                                <div class="top-btn">
                                    <button type="submit" class="left-btn">{{"English"|translate}}</button>
                                    <button type="submit" class="right-btn">{{"Myanmar"|translate}}</button>
                                </div>
                                <div class="right-title">MIC<br> Endorsement<br> Form</div>
                            </div>
                            <div class="top-question">{{"If you only filled in the application in Myanmar Language, please provide the following information for the permit template in English language"|translate}}:</div>
                            <div class="question">
                                <div class="no">5.</div>
                                <div class="question-name">{{"Name(s) of investor(s)"|translate}}:
                                </div>
                            </div>
                            <div class="form-cover" formArrayName="rows">
                                <div class="row row-title">
                                    <div class="col-4 col-title"><span>{{"Name"|translate}}</span></div>
                                    <div class="col-4 col-title"><span>{{"Address"|translate}}</span></div>
                                    <div class="col-4 col-title">{{"Country of Incorporation or citizenship"|translate}}</div>
                                </div>
                                <div class="row row-list" *ngFor="let row of rows.controls; let i = index"
                                    [formGroupName]="i">
                                    <div class="col-4 list">
                                        <input type="text" placeholder="{{'Enter name'|translate}}" formControlName="name" autocomplete="off">
                                        <p>
                                            <label class="title-label text-danger"
                                            *ngIf="submitted && row.get('name').hasError('required')">
                                            {{"Please enter name."|translate}}</label>
                                        </p>
                                    </div>
                                    <div class="col-4 list">
                                        <input type="text" placeholder="{{'Enter address'|translate}}" formControlName="address" autocomplete="off">
                                        <p>
                                            <label class="title-label text-danger"
                                            *ngIf="submitted && row.get('address').hasError('required')">
                                            {{"Please enter address."|translate}}</label>
                                        </p>
                                    </div>
                                    <div class="col-4 list">
                                        <ng-select [placeholder]="'Select Country'" [data]="countries"
                                            formControlName="country">
                                        </ng-select>
                                        <p>
                                            <label class="title-label text-danger"
                                            *ngIf="submitted && row.get('country').hasError('required')">
                                            {{"Please choose country."|translate}}</label>
                                        </p>
                                    </div>
                                    <img class="remove-icon" src="../../assets/icons/ic-remove-circle.svg"
                                        *ngIf="rows.length > 1" (click)="removeRow(i)">
                                </div>
                                <div class="add-btn" (click)="addRow()">
                                    <img src="../../assets/icons/ic-add-circle.svg">
                                    <span>{{"Add Row"|translate}}</span>
                                </div>
                            </div>
                            <div class="bottom-position">
                                <div class="divider"></div>
                                <div class="footer-btn">
                                    <button class="btn1" [routerLink]="['/pages/endorsement/template-form5', id]"
                                        routerLinkActive="router-link-active">{{"PREVIOUS"|translate}}</button>
                                    <div class="btn-cover">
                                        <button class="btn2" type="submit">{{"SAVE DRAFT"|translate}}</button>
                                        <button class="btn3" type="submit">{{"NEXT"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>