
.content{
    .form2-cover{
        width: 100%;
        background: white;
        border: 1px solid rgba(112,112,112,0.15);
        margin-top: -80px;
        z-index: 9;
        position: relative;
        border-radius: 8px;
        margin-bottom: 80px;
        .row{
            .left-side{
                border-right: 1px solid #EAEAEA;
                height: 100%;
                padding: 20px 38px 20px 20px;
                .menu-lists{
                    .single-list{
                        height: 90px;
                        border-radius: 8px;
                        position: relative;
                        cursor: pointer;
                        z-index: 99;
                        .inner-single-list-cover{
                            display: flex;
                            width: 100%;
                            position: absolute;
                            transform: translate(0,-50%);
                            left: 0;
                            top: 50%;
                            .image{
                                width: 70px;
                                position: relative;
                                img{
                                    margin: auto;
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%,-50%);
                                }
                            }
                            .menu-title{
                                width: calc(100% - 95px);
                                div{
                                    color: #454545;
                                    font-size: 15px;
                                    line-height: 1.7;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-family: "Roboto-Regular", "MMUNI-Regular";
                                }
                                .sub-title{
                                    font-size: 15px;
                                    color: rgba(69,69,69,0.6);
                                }
                            }
                        }
                        .arrow{
                            position: absolute;
                            right: -17px;
                            top: 50%;
                            transform: translate(0%, -50%);
                        }
                    }
                    .active-list{
                        background:#F7F7F9;
                    }
                }
            }
            .right-side{
                position: relative;
                width: 100%;
                padding: 35px;
                .right-side-cover{
                    width: 100%;
                    .top-header{
                        display: flex;
                        width: 100%;
                        color: #454545;
                        .left-title{
                            font-size: 18px;
                            font-family: "Roboto-Bold", "MMUNI-Bold";
                            width: calc(100% - 330px);
                            position: relative;
                            top: 8px;
                        }
                        .top-btn{
                            width: 210px;
                            display: flex;
                            .left-btn, .right-btn{
                                width: 100px;
                                height: 40px;
                                border-radius: 4px;
                                font-size: 13px;
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                outline:none;
                            }
                            .left-btn{
                                border: none;
                                background: #FBC562;
                                color: #454545;
                            }
                            .right-btn{
                                margin: 0 0 0 10px;
                                border: 1px solid #C59533;
                                color: #C59533;
                                background: white;
                            }
                            .right-btn:hover{
                                background: #F7F7F9;
                            }
                        }
                        .right-title{
                            font-size: 15px;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            text-align: right;
                            position: relative;
                            width: 120px;
                        }
                    }
                    .top-question{
                        width: calc(100% - 115px);
                        font-size:15px;
                        font-family: "Roboto-Regular", "MMUNI-Regular";
                        color:#454545;
                        margin:30px 0px 0px;
                    }
                    .question{
                        margin-top: 30px;
                        display: flex;
                        width: calc(100% - 115px);
                        .no{
                            width: 30px;
                            font-size: 15px;
                            color: #454545;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                        }
                        .question-name{
                            width: calc(100% - 30px);
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                            font-size: 15px;
                            color: #454545;
                        }
                    }
                    .form-cover{
                        width:calc(100% - 150px);
                        margin-left:30px;
                        .row-title{
                            margin:30px 0px 6px;
                            .col-title{
                                font-size: 13px;
                                color: rgba(69,69,69,0.8);
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                padding: 0px 5px;
                                position: relative;
                                span{
                                    position: absolute;
                                    bottom: 0;
                                    width: calc(100% - 10px);
                                }
                            }
                        }
                        .row-list{
                            position: relative;
                            margin: 0 -5px;
                            .remove-icon{
                                position: absolute;
                                left: -25px;
                                top: 10px;
                            }
                            .list{
                                padding:0 5px;
                                margin-bottom: 16px;
                                input{
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid rgba(112,112,112,0.25);
                                    border-radius: 4px;
                                    font-size: 15px;
                                    font-family: "Roboto-Regular", "MMUNI-Regular";
                                    padding-left: 16px;
                                    color: #454545;
                                }
                                .dropdown{
                                    height: 40px;
                                    border-radius: 4px;
                                    border: 1px solid rgba(112,112,112,0.25);
                                    font-size: 15px;
                                    font-family: "Roboto-Regular", "MMUNI-Regular";
                                    padding-left: 16px;
                                    color: #454545;
                                    display: flex;
                                    width: 100%;
                                    .value{
                                        width: calc(100% - 30px);
                                        label{
                                            margin: 0;
                                            width: 100%;
                                            position: relative;
                                            top: 50%;
                                            transform: translate(0%, -50%);
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            font-size: 15px;
                                            font-family: "Roboto-Regular", "MMUNI-Regular";
                                            color:#454545;
                                        }
                                    }
                                    img{
                                        width: 20px;
                                    }
                                }
                            }
                        }
                        .add-btn{
                            background: rgba(11, 175, 78, 0.8);
                            color: white;
                            height: 40px;
                            width: 121px;
                            border-radius: 4px;
                            display: inline-block;
                            margin: 0;
                            margin-bottom: 160px;
                            cursor: pointer;
                            outline: none;
                            img{
                                width: 20px;
                                margin: 10px 13px;
                            }
                            span{
                                font-size: 13px;
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                position: relative;
                                top: 1px;
                            }
                        }
                        .add-btn:hover{
                            background: #0BAF4E !important;
                        }
                    }
                    .bottom-position{
                        position: absolute;
                        width: calc(100% - 185px);
                        bottom: 0;
                        padding-bottom: 40px;
                        .divider{
                            width: 100%;
                            height: 1px;
                            background: #EAEAEA;
                            margin-top: 80px;
                        }
                        .footer-btn{
                            margin: 20px 0 0;
                            display: inline-block;
                            width: 100%;
                            .btn1, .btn2, .btn3{
                                width: 150px;
                                height: 50px;
                                font-size: 16px;
                                font-family: "Roboto-Regular", "MMUNI-Regular";
                                color: #454545;
                                border-radius: 4px;
                                outline: none;
                            }
                            .btn2, .btn1{
                                border: 1px solid rgba(112,112,112,0.25);
                                background: rgba(255,255,255,0.5);
                            }
                            .btn2:hover, .btn1:hover{
                                background: rgba(247,247,249,0.5) !important;
                            }
                            .btn3{
                                background: rgba(11, 175, 78, 0.8);
                                color: white;
                                border: none;
                                margin-left: 16px;
                                font-family: "Roboto-Medium", "MMUNI-Bold";
                            }
                            .btn3:hover{
                                box-shadow: 0px 4px 16px rgba(11,175,78,0.15);
                                background: #0BAF4E !important;
                            }
                            .btn-cover{
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
