<div class="menu-lists">
    <div class="menu-title" *ngIf="!is_officer">
        {{ "MIC Permit Application " | translate }}
        <span *ngIf="form?.submission?.application_no">( {{form?.submission?.application_no}} )</span>
        <span *ngIf="form?.submission" style="display: block; font-size: 14px;">( <span class="y" style="color: #ffa800; font-weight: bold;">*</span> ) {{"denotes to revise your form"|translate}}</span>
    </div>
    <div class="menu-title" *ngIf="is_officer && form?.submission">
        <span style="display: block; font-size: 14px;">( <span class="y" style="color: #ffa800; font-weight: bold;">*</span> ) {{"denotes to revise your form"|translate}}</span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'choose-language'"
        (click)="openSection(0, 'choose-language')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-translate{{menu == 'choose-language' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Choose language for application"|translate}}</div>
                <div class="sub-title">{{"Please choose your comfort language."|translate}} </div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'choose-language'">
            <ng-container *ngIf="completeSections[0] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionA'" (click)="openSection(1, 'sectionA-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionA' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( A )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investors"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionA'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section A')"></i>
            <ng-container *ngIf="completeSections[1] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionB'" (click)="openSection(2, 'sectionB-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionB' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( B )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investment"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionB'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section B')"></i>
            <ng-container *ngIf="completeSections[2] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionC'" (click)="openSection(3, 'sectionC-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionC' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( C )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Basic Information"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionC'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section C')"></i>
            <ng-container *ngIf="completeSections[3] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionD'" (click)="openSection(4, 'sectionD-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionD' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( D )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Land and Building"|translate}}
                </div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionD'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section D')"></i>
            <ng-container *ngIf="completeSections[4] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionE'" (click)="openSection(5, 'sectionE-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionE' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( E )"|translate}}</div>
                <div class="sub-title">{{"Other Attachments"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionE'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section E')"></i>
            <ng-container *ngIf="completeSections[5] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionF'" (click)="openSection(6, 'sectionF-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionF' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( F )"|translate}}</div>
                <div class="sub-title">{{"Other Information"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'sectionF'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section F')"></i>
            <ng-container *ngIf="completeSections[6] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'certificate'" (click)="openSection(7, 'permit-certificate')"
        *ngIf="form?.language == 'Myanmar'">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'certificate' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"MIC Certificate"|translate}}</div>
                <div class="sub-title">{{"Information in English for MIC certificate"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'certificate'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Certificate')"></i>
            <ng-container *ngIf="completeSections[7] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'undertaking'" (click)="openSection(8, 'undertaking')"
        *ngIf="!is_officer">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-law{{menu == 'undertaking' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Undertaking"|translate}}</div>
                <div class="sub-title">{{"Undertaking for mic form"|translate}}</div>
            </div>
            <img class="arrow" src="assets/icons/ic-arrow-right.svg" *ngIf="menu == 'undertaking'">
            <i class="fa fa-star revise" *ngIf="checkRevise('Undertaking')"></i>
            <ng-container *ngIf="completeSections[8] || false">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
</div>