<div class="footer bg-black d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container p-0 d-flex flex-column flex-md-row align-items-center justify-content-between">
      <div class="col-12 main-footer-cover">
        <div class="row">
          <div class="col-lg-4 col-xl-4 left-footer pt-10 pb-10">
            <h2 class="footer-title">{{"RELATED LINKS"|translate}}</h2>
            <div class="col-12">
              <div class="row related-link-section">
                <a href="https://www.dica.gov.mm/en/information-myanmar-investment-commission-mic" target="blank" class="col-6">{{"About the MIC"|translate}}</a>
                <a href="https://www.dica.gov.mm/en/key-partners" target="_blank" class="col-6">{{"Key Partners"|translate}}</a>
                <a href="https://www.dica.gov.mm/en/news" target="_blank" class="col-6">{{"News and Stories"|translate}}</a>
                <a [routerLink]="['/faq']" target="_blank" class="col-6">{{"faqs"|translate}}</a>
                <a target="_blank" class="col-6">{{"Application Forms"|translate}}</a>
                <a href="https://www.dica.gov.mm/en/departmental-cooperation-team-one-stop-service-oss" target="_blank" class="col-6">{{"Departmental Cooperation Team"|translate}}</a>
                <a href="https://www.dica.gov.mm/en/announcements-information" target="_blank" class="col-6">{{"Announcements and Information"|translate}} </a>
                <a href="https://www.dica.gov.mm/en/archive-for-documents" target="_blank" class="col-6">{{"Archive for Documents"|translate}}</a>
              </div>
            </div>
            <div class="image d-flex mt-15">
              <div class="left-image">
                <img src="assets/icons/ic-dica-logo.svg">
              </div>
              <div class="right-image">
                <img src="assets/icons/ic-footer-img.svg">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-4 center-footer pt-10 pb-10 pl-20">
            <div class="center-footer-cover">
              <h2 class="footer-title">{{"CONTACT US"|translate}}</h2>
              <div class="section mb-4">
                {{"No. 1, Thitsar Road, Yankin Township, Yangon, Myanmar"|translate}}
              </div>
              <div class="section mb-4">
                <a href="tel:+951 658102" class="d-block m-0">{{"+951 658102"|translate}}</a>
                <a href="tel:658 103" class="d-block m-0">{{"658 103"|translate}}</a>
              </div>
              <div class="section mb-4">
                <a href="mailto:dica.ip.mm@gmail.com" class="d-block">dica.ip.mm@gmail.com</a>
                <a href="mailto:dica@mptmail.net.mm" class="d-block">dica@mptmail.net.mm</a>
              </div>
              <div class="contact-footer d-flex mt-10">
                <a class="social-image">
                  <img class="default" src="../../assets/icons/ic-facebook.svg">
                  <img class="hover" src="../../assets/icons/ic-facebook-hover.svg">
                </a>
                <a class="social-image">
                  <img class="default" src="../../assets/icons/ic-linkin.svg">
                  <img class="hover" src="../../assets/icons/ic-linkin-hover.svg">
                </a>
                <a class="social-image">
                  <img class="default" src="../../assets/icons/ic-twitter.svg">
                  <img class="hover" src="../../assets/icons/ic-twitter-hover.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-4 right-footer pt-10 pb-10 pl-20">
            <div class="right-footer-cover">
              <h2 class="footer-title">{{"BUSINESS HOURS"|translate}}</h2>
              <div class="section mb-4">
                <label class="d-block m-0">{{"MON to FRI"|translate}}</label>
                <label class="d-block m-0">{{"9:30 AM - 4:30 PM"|translate}}</label>
              </div>
              <h2 class="footer-title m-0 mb-4">{{"FAX NUMBER"|translate}}</h2>
              <div class="section mb-4">
                {{"+951 658143"|translate}}
              </div>
              <h2 class="footer-title m-0 mb-4">{{"PAYMENT METHOD"|translate}}</h2>
              <div class="payment-icon d-flex">
                <img src="../../assets/icons/ic-visa.svg">
                <img src="../../assets/icons/ic-master.svg">
                <img src="../../assets/icons/ic-jcb.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Container-->
  </div>
  <div class="bottom-footer bg-black d-flex flex-lg-column pt-3 pb-3" id="kt_footer">
    <!--begin::Container-->
    <div class="container p-0 d-flex flex-column flex-md-row align-items-center justify-content-between">
      <div class="col-12 main-footer-cover">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 left-side-footer p-0">
            <label class="m-0 text-white">© COPYRIGHT DICA 2020. ALL RIGHTS RESERVED.</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 right-side-footer p-0">
            <div class="list float-right d-flex">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/']"
                routerLinkActive="router-link-active">
                <label [class.active-link]="page == 'home'">{{"Home"|translate}}</label>
              </a>
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/pages']"
                routerLinkActive="router-link-active">
                <label>{{"Investor Portal"|translate}}</label>
              </a>
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/faq']" target="_blank"
                routerLinkActive="router-link-active">
                <label [class.active-link]="page == 'faqs'">{{"FAQs"|translate}}</label>
              </a>
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/contact-us']"
                routerLinkActive="router-link-active">
                <label [class.active-link]="page == 'contact'">{{"Contact us"|translate}}</label>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Container-->
  </div>
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
      <span class="svg-icon">
        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
            <path
              d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
              fill="#000000" fill-rule="nonzero" />
          </g>
        </svg>
        <!--end::Svg Icon-->
      </span>
    </div>
    <!--end::Scrolltop-->
