<div class="officer">
    <!-- begin::preloader-->
    <!-- <div class="preloader">
        <div class="preloader-icon"></div>
    </div> -->
    <!-- end::preloader -->

    <!-- begin::header -->
    <div class="header">
        <div>
            <ul class="navbar-nav">

                <!-- begin::navigation-toggler -->
                <!-- <li class="nav-item navigation-toggler">
                    <a href="#" class="nav-link" title="Hide navigation">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </li> -->
                <li class="nav-item navigation-toggler mobile-toggler">
                    <a href="#" class="nav-link" title="Show navigation">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <!-- end::navigation-toggler -->
            </ul>
        </div>
        <div>
            <ul class="navbar-nav">

                <!-- begin::header notification dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" title="Notifications" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <div class="noti" *ngIf="showNoti"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-4 text-center d-flex justify-content-between mw-300">
                            <h6 class="mb-0">Notifications</h6>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <ng-container *ngFor="let log of formLogs" >
                                    <li>
                                        <a href="javascript:;" class="list-group-item d-flex hide-show-toggler" (click)="gotoFormDetail(log)" [ngStyle]="{'background': !log.seen ? '#f5f5f5' : '#ffffff'}">
                                            <div>
                                                <figure class="avatar mr-3">
                                                    <img [src]="log?.user?.avatar ? log?.user?.avatar : 'https://avatars.dicebear.com/api/initials/'+log?.user?.email+'.svg'"
                                                        class="rounded-circle" alt="...">
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 line-height-20 d-flex justify-content-between text-primary">
                                                    {{log.status}} {{log.type}}: #{{log?.extra?.application_no || ''}} received
                                                </p>
                                                <span class="text-muted small">{{log.created_at|date:'MMM dd, yyyy hh:mm a'}}</span>
                                            </div>
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <div class="p-2 text-right">
                            <ul class="list-inline small">
                                <li class="list-inline-item mt-2">
                                    <a href="javascript:;" class="text-primary"  (click)="gotoNotifications()">See All Notifications</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- begin::mobile header toggler -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-arrow-down">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <polyline points="19 12 12 19 5 12"></polyline>
                        </svg>
                    </a>
                </li>
            </ul>
            <!-- end::mobile header toggler -->
        </div>
    </div>
    <!-- end::header -->

    <!-- begin::main -->
    <div id="main">

        <!-- begin::navigation -->
        <div class="navigation">

            <div class="navigation-menu-tab">
                <div>
                    <div class="navigation-menu-tab-header" title="APIToolz" data-placement="right">
                        <a class="nav-link" (click)="openProfile()">
                            <figure class="avatar avatar-sm">
                                <img src="{{imageSrc || 'https://avatars.dicebear.com/api/initials/apitoolz.svg'}}"
                                    class="rounded-circle" alt="avatar">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="flex-grow-1" *ngIf="menuList.length">
                    <ul>
                        <li *ngFor="let menu of menuList">
                            <ng-container *ngIf="menu.root" >
                                <a href="javascript:;" data-toggle="tooltip" title="{{menu.title}}" data-placement="right"
                                    [attr.data-nav-target]="'#'+menu.target" [ngClass]="menu.active ? 'active' : ''"
                                    (click)="openTab(menu.target)">
                                    <img src="{{menu.icon}}">
                                </a>
                                <label>{{menu.alias}}</label>
                            </ng-container>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="javascript:;" (click)="logout()" data-toggle="tooltip" data-placement="right"
                                title="Logout">
                                <img src="/assets/images/icons/log-out.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- begin::navigation menu -->
            <div class="navigation-menu-body">

                <!-- begin::navigation-logo -->
                <div>
                    <div id="navigation-logo">
                        <a href="/" *ngIf="config.logo">
                            <img class="logo" [src]="config.logo.dark || ''" width="80px" alt="logo">
                            <img class="logo-light" [src]="config.logo.light || ''" width="80px" alt="light logo">
                        </a>
                    </div>
                </div>
                <div class="navigation-menu-group" *ngIf="config.aside">
                    <div *ngFor="let menu of config.aside.items" id="{{menu.target}}"
                        [ngClass]="menu.active ? 'open' : ''">
                        <ul>
                            <li class="navigation-divider">{{menu.title}}</li>
                            <ng-container *ngFor="let sub of menu.submenu">
                                <li [ngClass]="sub?.has_child && sub.active ? 'open' : 'open'">
                                    <a href="javascript:;" (click)="openPage(sub)"
                                        [ngClass]="!sub?.has_child && sub.active ? 'active' : ''">
                                        <span>{{sub.title}}</span>
                                        <i *ngIf="sub?.has_child" class="sub-menu-arrow ti-minus rotate-in"
                                            [ngClass]="sub.active ? 'ti-angle-up' : 'ti-angle-down'"></i>
                                    </a>
                                    <ng-container *ngIf="sub?.has_child">
                                        <ul>
                                            <li *ngFor="let child of sub.submenu">
                                                <a href="javascript:;" (click)="openPage(child)"
                                                    [ngClass]="child.active ? 'active' : ''">{{child.title}}</a>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div [ngClass]="hasAccountOpen  ? 'open' : ''">
                        <ul>
                            <li class="navigation-divider">Account</li>
                            <li>
                                <a href="javascript:;" [routerLink]="'/officer/account/edit-profile'"
                                    [ngClass]="hasProfileActive ? 'active':''">
                                    <span>Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" [routerLink]="'/officer/account/change-password'"
                                    [ngClass]="hasChangePwdActive ? 'active':''">
                                    <span>Change Passowrd</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <!-- end::navigation -->

        <!-- begin::main-content -->
        <div class="main-content">

            <router-outlet></router-outlet>
            <!-- begin::footer -->
            <footer>
                <div class="container-fluid">
                    <div>© 2020 Digital Dots</div>
                </div>
            </footer>
            <!-- end::footer -->

        </div>
        <!-- end::main-content -->

    </div>
</div>