.officer .navigation .navigation-menu-body ul li.open > a {
    color: #505050;
    font-weight: 500;
    &.active {
        color: #1A944E !important;
        font-weight: 600;
    }
}
.officer .navigation .navigation-menu-tab ul > li {
    text-align: center;
}
.officer .navigation .navigation-menu-tab ul li > label {
    color: white;
}
.officer {
    .navbar-nav {
        .list-group-item {
            p {
                font-size: 14px;
            }
        }
    }
}
.mw-200 {
    width: 200px;
}
.mw-300 {
    width: 300px;
}
.text-primary {
    color: #1A944E !important;
}