<!--begin::Content-->
<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="inquiry-cover">
            <div class="inner-inquiry-cover">
                <div class="top-heading d-sm-flex justify-content-between align-items-center">
                    <div class="left-menu">
                        <button (click)="location.back()">
                            <img src="assets/icons/left-arrow.svg">
                        </button>
                        <div class="title ml-3">{{submission?.type}}</div>
                    </div>
                    <div class="dropdown export-dropdown" *ngIf="type == 'inquiry'" (click)="previewForm('en')">
                        <button class="btn btn-primary btn-lg"><i
                                class="fa fa-file-pdf-o"></i> Preview</button>
                    </div>
                    <div class="dropdown export-dropdown" *ngIf="type != 'inquiry'">
                        <button class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><i
                                class="fa fa-file-pdf-o"></i> Preview</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;" (click)="previewForm('mm')">Myanmar</a>
                            <a class="dropdown-item" href="javascript:;" (click)="previewForm('en')" *ngIf="submission?.form?.language  == 'English'">English</a>
                        </div>
                    </div>
                </div>
                <div class="both-tab">

                    <button class="application-btn" [class.active-tab]="tab == 'application'"
                        (click)="openTab('application')">
                        <div class="block"></div>{{"Application Details"|translate}}
                    </button>

                    <button class="reply-btn" [class.active-tab]="tab == 'reply'" (click)="openTab('reply')">
                        <div class="block"></div>{{"Messages"|translate}} ( {{messages.length || 0}} )
                    </button>

                    <button class="reply-btn" [class.active-tab]="tab == 'history'" (click)="openTab('history')">
                        <div class="block"></div>{{"History Logs"|translate}}
                    </button>
                    
                </div>
                <div class="data-cover" *ngIf="tab == 'application'">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 data-col1">
                            <div class="left-title">{{"Date of Submission :"|translate}}</div>
                        </div>
                        <div class="col-sm-12 col-md-8 data-col2">
                            <div class="right-value">{{submission?.created_at | date: 'dd-MM-yyyy'}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 data-col1">
                            <div class="left-title">{{"Type of Application :"|translate}}</div>
                        </div>
                        <div class="col-sm-12 col-md-8 data-col2">
                            <div class="right-value">{{submission?.type}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 data-col1">
                            <div class="left-title">{{"Application no :"|translate}}</div>
                        </div>
                        <div class="col-sm-12 col-md-8 data-col2">
                            <div class="right-value">{{submission?.application_no}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 data-col1">
                            <div class="left-title">{{"Status :"|translate}}</div>
                        </div>
                        <div class="col-sm-12 col-md-8 data-col2">
                            <div class="right-value revision">{{ submission?.status }}</div>
                        </div>
                    </div>
                    <div class="row" *ngIf="lastReplyMessage">
                        <div class="col-sm-12 col-md-4 data-col1">
                            <div class="left-title">{{"Notification / Feedback from Officers :"|translate}}</div>
                        </div>
                        <div class="col-sm-12 col-md-8 data-col2">
                            <div class="right-value feedback" [innerHTML]="lastReplyMessage.reply_message|safeHtmlPipe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 data-col1">
                        </div>
                        <div class="col-sm-12 col-md-8 data-col2">
                            <ng-container *ngIf="submission?.allow_revision">
                                <button class="btn btn-primary btn-custom mr-3" (click)="openRevision()">{{"Edit Form"|translate}}</button>
                            </ng-container>
                            <ng-container
                                *ngIf="submission?.sub_status == 'PAT Meetings' || submission.sub_status == 'MIC Meetings'">
                                <button class="btn btn-primary btn-custom mr-3"
                                    *ngIf="submission.sub_status == 'PAT Meetings' &&  !submission.confirm_date_pat"
                                    (click)="openTab('reply')">{{"Confirm Meeting Date"|translate}}</button>
                                <button class="btn btn-primary btn-custom mr-3"
                                    *ngIf="submission.sub_status == 'MIC Meetings' &&  !submission.confirm_date_mic"
                                    (click)="openTab('reply')">{{"Confirm Meeting Date"|translate}}</button>
                                <button class="btn btn-primary btn-custom mr-3"
                                    *ngIf="submission.sub_status == 'MIC Meetings' &&  submission.confirm_date_mic"
                                    (click)="openTab('reply')">{{"Send Presentation File"|translate}}</button>
                            </ng-container>
                            <ng-container
                                *ngIf="submission?.sub_status == 'Acceptance' && (submission?.type == 'MIC Permit Application ' || submission?.type == 'Endorsement (Form 4ab)')">
                                <button class="btn btn-primary btn-custom mr-3"
                                    (click)="downloadCertificate(submission)">{{"Download Certificate"|translate}}</button>
                            </ng-container>
                            <ng-container *ngIf="submission?.sub_status != 'Rejects'">
                                <button class="btn btn-primary btn-custom mr-3" *ngIf="checkPaymentNeed"
                                    (click)="paymentForm()">{{"Pay Now"|translate}}</button>
                                <!-- <button class="btn btn-outline-light btn-custom"  *ngIf="checkPaymentNeed" 
                                    (click)="downloadInvoiceForm()">{{"Download Invoice"|translate}}</button>
                                <button class="btn btn-outline-light btn-custom" *ngIf="!checkPaymentNeed"
                                    (click)="downloadInvoiceReceipt()">{{"Download Receipt"|translate}}</button> -->
                            </ng-container>
                            <ng-container *ngIf="submission?.sub_status == 'Reply' || submission.sub_status == 'Revision'">
                                <button class="btn btn-outline-light btn-custom mr-3"
                                    (click)="openTab('reply')">{{"Reply Message"|translate}}</button>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="data-cover" *ngIf="tab == 'reply'">
                    <div class="main-cover">
                        <div class="row">
                            <div class="col-md-4 app-lists">
                                <ul class="list-group list-group-flush mt-4">
                                    <h3 class="inbox mb-4" *ngIf="messages.length">Inbox ({{messages.length || 0}})</h3>
                                    <li class="list-group-item d-flex mb-2 pl-1 pr-1" *ngFor="let reply of messages"
                                        (click)="openMessage(reply)"
                                        [class.selected]="selectedMessage && reply.id == selectedMessage.id">
                                        <div class="mt-1">
                                            <figure class="avatar mr-3">
                                                <img [src]="reply?.user?.avatar ? reply?.user?.avatar : 'https://avatars.dicebear.com/api/initials/'+reply?.user?.email+'.svg'"
                                                    class="rounded-circle" alt="...">
                                            </figure>
                                        </div>
                                        <div class="flex-grow-1 min-width-0">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="text-truncate app-list-title"><strong
                                                        class="mr-1">{{reply?.user?.name}}</strong><span>(
                                                        {{reply.role == 'Officer' ? 'Officer' : 'Investor'}} )</span>
                                                </div>
                                                <div class="pl-3 d-flex">
                                                    <span
                                                        class="text-nowrap text-muted">{{reply.created_at|date:'MMM d, yyyy'}}</span>
                                                </div>
                                            </div>
                                            <div class="text-muted d-flex justify-content-between">
                                                <div class="text-truncate small">{{reply.subject || '...'}}
                                                </div>
                                                <div class="text-nowrap pl-3">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item mb-0"
                                                            *ngIf="reply.hasAttach || false">
                                                            <a href="#" data-toggle="tooltip" title=""
                                                                data-original-title="Attachment">
                                                                <i class="fa fa-paperclip"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item mb-0">
                                                            <!-- <i class="fa fa-circle " [ngClass]="getStatusStyle(reply.status)"></i> -->
                                                            {{reply.created_at|date:'hh:mm a'}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <button class="btn btn-primary btn-lg block mt-4" (click)="openMessage(null)">New
                                        Message</button>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <ng-container *ngIf="selectedMessage">
                                    <!-- Message -->
                                    <div class="d-flex mt-4 mb-3">
                                        <div class="d-flex align-items-center">
                                            <figure class="avatar mr-3">
                                                <img [src]="selectedMessage?.user?.avatar ? selectedMessage?.user?.avatar : 'https://avatars.dicebear.com/api/initials/'+selectedMessage?.user?.email+'.svg'"
                                                    class="rounded-circle" alt="...">
                                            </figure>
                                            <div class="d-inline-block">
                                                <div><strong
                                                        class="mr-1">{{selectedMessage?.user?.name}}</strong><span>(
                                                        officer )</span></div>
                                                <span
                                                    class="text-muted">{{selectedMessage.created_at|date:'MMM d, yyyy hh:mm a'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p [innerHTML]="selectedMessage.message|safeHtmlPipe"></p>
                                    <ul class="list-unstyled mb-0" *ngIf="selectedMessage.attachments">
                                        <li *ngFor="let x of selectedMessage.attachments">
                                            <a href="javascript:;" (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                <img src="../../assets/images/attachment.svg" width="14px" class="mr-3">
                                                <label class="form-label">{{x.name}}</label>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Reply messages -->
                                    <ng-container *ngIf="selectedMessage.reply.length > 0">
                                        <ng-container *ngFor="let reply of selectedMessage.reply">
                                            <div *ngIf="reply.role == 'Officer'">
                                                <div class="d-flex mt-5 mb-3">
                                                    <div class="d-flex align-items-center">
                                                        <figure class="avatar mr-3">
                                                            <img [src]="reply?.reply_user?.avatar ? reply?.reply_user?.avatar : 'https://avatars.dicebear.com/api/initials/'+reply?.reply_user?.email+'.svg'"
                                                                class="rounded-circle" alt="...">
                                                        </figure>
                                                        <div class="d-inline-block">
                                                            <div><strong
                                                                    class="mr-1">{{reply?.reply_user?.name}}</strong><span>(
                                                                    officer
                                                                    )</span></div>
                                                            <span
                                                                class="text-muted">{{reply.created_at|date:'MMM d, yyyy hh:mm a'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p [innerHTML]="reply.reply_message|safeHtmlPipe"></p>
                                                <ul class="list-unstyled mb-0" *ngIf="reply.attachments">
                                                    <li *ngFor="let x of reply.attachments">
                                                        <a href="javascript:;"
                                                            (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                            <img src="../../assets/images/attachment.svg" width="14px"
                                                                class="mr-3">
                                                            <label class="form-label">{{x.name}}</label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div *ngIf="reply.role != 'Officer'"
                                                class="card card-body p-3  mt-3 custom">
                                                <div class="d-flex mb-3">
                                                    <div class="d-flex align-items-center">
                                                        <figure class="avatar mr-3">
                                                            <img [src]="reply?.reply_user?.avatar ? reply?.reply_user?.avatar : 'https://avatars.dicebear.com/api/initials/'+reply?.reply_user?.email+'.svg'"
                                                                class="rounded-circle" alt="...">
                                                        </figure>
                                                        <div class="d-inline-block">
                                                            <div><strong
                                                                    class="mr-1">{{reply?.reply_user?.name}}</strong><span>(
                                                                    investor
                                                                    )</span></div>
                                                            <span
                                                                class="text-muted">{{reply.created_at|date:'MMM d, yyyy hh:mm a'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p [innerHTML]="reply.reply_message|safeHtmlPipe"></p>
                                                <p *ngIf="reply.confirm_date"><i class="ti-calendar mr-2"></i>
                                                    {{reply.confirm_date|date:'dd-MM-yyyy hh:mm a'}}</p>
                                                <ul class="list-unstyled mb-0" *ngIf="reply.attachments">
                                                    <li *ngFor="let x of reply.attachments">
                                                        <a href="javascript:;"
                                                            (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                            <img src="../../assets/images/attachment.svg" width="14px"
                                                                class="mr-3">
                                                            <label class="form-label">{{x.name}}</label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <!-- Reply Message -->
                                <ng-container>
                                    <div class="mt-4">
                                        <h4 class="mb-4 text-bold">
                                            {{(selectedMessage ? "Reply Message" : "New Message" ) | translate}}</h4>
                                        <div class="row mb-2" *ngIf="!selectedMessage">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Subject</label>
                                                    <input class="form-control" [(ngModel)]="msg.subject"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2"
                                            *ngIf="selectedMessage && (selectedMessage.status == 'PAT Meetings' || selectedMessage.status == 'MIC Meetings')">
                                            <div class="col-md-12" *ngIf="!checkDateConfirm">
                                                <div class="form-group">
                                                    <label class="form-label">{{"Meeting Date"|translate}}</label>
                                                    <div class="radio-list">
                                                        <label class="radio">
                                                            <input type="radio"
                                                                [value]="selectedMessage.appointment_date_1"
                                                                name="appointment_date"
                                                                [(ngModel)]="msg.confirm_date" />
                                                            <span></span>
                                                            {{selectedMessage.appointment_date_1|date:'dd-M-yyyy hh:mm a'}}
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio"
                                                                [value]="selectedMessage.appointment_date_2"
                                                                name="appointment_date"
                                                                [(ngModel)]="msg.confirm_date" />
                                                            <span></span>
                                                            {{selectedMessage.appointment_date_2|date:'dd-M-yyyy hh:mm a'}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ng-container *ngIf="msg?.attachments && msg?.attachments.length > 0">
                                                    <label
                                                        class="form-control-label mb-3">{{"Attached Files"|translate}}</label>
                                                    <ul class="list-unstyled mb-0">
                                                        <li *ngFor="let x of msg.attachments">
                                                            <a>
                                                                <img src="../../assets/images/attachment.svg"
                                                                    width="14px" class="mr-3">
                                                                <label class="form-label">{{x.name}}</label>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                                <quill-editor [styles]="{height: '250px'}" [(ngModel)]="msg.message">
                                                </quill-editor>
                                                <div class="d-flex mt-3">
                                                    <button type="button" class="btn btn-primary btn-custom mr-3"
                                                        [disabled]="!msg.message"
                                                        [ngClass]="{'spinner spinner-white spinner-right':loading}"
                                                        (click)="createMessage()">
                                                        Submit
                                                    </button>
                                                    <button class="btn btn-outline-light btn-custom" type="button"
                                                        title="" data-toggle="tooltip"
                                                        data-original-title="Attach files" (click)="fileInput.click()">
                                                        <input type="file" #fileInput
                                                            (change)="onFileChange($event.target.files[0])" hidden />
                                                        <img src="../../assets/images/attachment.svg" width="14px">
                                                        <span
                                                            class="ml-1">{{msg?.attachments && msg?.attachments.length || 0}}
                                                            Attachment(s)</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="data-cover" *ngIf="tab == 'history'">
                    <div class="main-cover">
                        <div class="row">
                            <app-form-history class="datable_history"></app-form-history>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->