<div class="menu-lists">
    <div class="menu-title" *ngIf="!is_officer">
        {{ "Endorsement Application " | translate }}
        <span *ngIf="form?.submission?.application_no">( {{form?.submission?.application_no}} )</span>
        <span *ngIf="form?.submission" style="display: block; font-size: 14px;">( <span class="y" style="color: #ffa800; font-weight: bold;">*</span> ) {{"denotes to revise your form"|translate}}</span>
    </div>
    <div class="menu-title" *ngIf="is_officer && form?.submission">
        <span style="display: block; font-size: 14px;">( <span class="y" style="color: #ffa800; font-weight: bold;">*</span> ) {{"denotes to revise your form"|translate}}</span>
    </div>
    <div class="single-list" [class.active-list]="menu == 'choose-language'"
        (click)="openSection(0, 'endorsement-choose-language')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-translate{{menu == 'choose-language' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Choose language for application"|translate}}</div>
                <div class="sub-title">{{"Please choose your comfort language."|translate}}
                </div>
            </div>
            <img *ngIf="menu == 'choose-language'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[0])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionA'" (click)="openSection(1, 'sectionA-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionA' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( A )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investors"|translate}}</div>
            </div>
            <img *ngIf="menu == 'sectionA'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section A')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[1])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionB'" (click)="openSection(2, 'sectionB-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionB' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( B )"|translate}}</div>
                <div class="sub-title">{{"Overview of Investment"|translate}}</div>
            </div>
            <img *ngIf="menu == 'sectionB'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section B')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[2])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionC'" (click)="openSection(3, 'sectionC-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionC' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( C )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Basic Information"|translate}}
                </div>
            </div>
            <img *ngIf="menu == 'sectionC'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section C')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[3])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionD'" (click)="openSection(4, 'sectionD-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionD' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( D )"|translate}}</div>
                <div class="sub-title">{{"Proposed Investment - Land and Building"|translate}}
                </div>
            </div>
            <img *ngIf="menu == 'sectionD'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section D')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[4])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'sectionE'" (click)="openSection(5, 'sectionE-form1')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'sectionE' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Section ( E )"|translate}}</div>
                <div class="sub-title">{{"Attachments and Other Information"|translate}}</div>
            </div>
            <img *ngIf="menu == 'sectionE'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Section E')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[5])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'certificate'"
        (click)="openSection(6, 'endorsement-certificate')" *ngIf="form?.language == 'Myanmar'">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-section{{menu == 'certificate' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Endorsement Certificate"|translate}}</div>
                <div class="sub-title">
                    {{"Information in English for endorsement certificate"|translate}}</div>
            </div>
            <img *ngIf="menu == 'certificate'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Certificate')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[6])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="single-list" [class.active-list]="menu == 'undertaking'" (click)="openSection(7, 'undertaking')">
        <div class="inner-single-list-cover">
            <div class="image">
                <img src="../../assets/icons/ic-law{{menu == 'undertaking' ? '-active' : ''}}.svg">
            </div>
            <div class="menu-title">
                <div>{{"Undertaking"|translate}}</div>
                <div class="sub-title">{{"Undertaking for endorsement form"|translate}}</div>
            </div>
            <img *ngIf="menu == 'undertaking'" class="arrow" src="assets/icons/ic-arrow-right.svg">
            <i class="fa fa-star revise" *ngIf="checkRevise('Undertaking')"></i>
            <ng-container *ngIf="(completeSections && completeSections.length>0 && completeSections[7])">
                <button class="btn">
                    <i class="fa fa-check"></i>
                </button>
            </ng-container>
        </div>
    </div>
</div>