<ng-container [formGroup]="formGroup" errorTailor>
    <div class="row form-layout">
        <ng-container *ngFor="let form of formLayout" [ngSwitch]="form.controlType">

            <!-- Form Group 1 -->
            <ng-container *ngSwitchCase="'form_group'">
                <div class='col-md-12' *ngIf="hasCriteria(form, formGroup)">
                    <ng-form-layout [formLayout]="form.formGroup" [formGroup]="formGroup.get(form.key)">
                    </ng-form-layout>
                </div>
            </ng-container>

            <!-- Form Array 1 -->
            <ng-container *ngSwitchCase="'form_array'">
                <div class='col-md-12' *ngIf="hasCriteria(form, formGroup)">
                    <ng-container *ngIf="!form.useTable" [formArrayName]="form.key">
                        <div *ngFor="let formArr of formGroup.get(form.key)['controls']; let i = index;">
                            <div class="row" [formGroupName]="i">
                                <ng-container *ngFor="let form2 of form.formArray">
                                    <div class="flex-column justify-content-end" [ngClass]="form2.columns">
                                        <!-- Form Group 2 -->
                                        <ng-container *ngIf="form2.controlType == 'form_group'">
                                            <div *ngIf="hasCriteria(form2, formArr)" [formGroupName]="form2.key">
                                                <ng-form-layout [formLayout]="form2.formGroup"
                                                    [formGroup]="formArr.get(form2.key)"></ng-form-layout>
                                            </div>
                                        </ng-container>
                                        <!-- Form Array 2 -->
                                        <ng-container *ngIf="form2.controlType == 'form_array'">
                                            <div *ngIf="hasCriteria(form2, formArr)">
                                                <ng-form-layout [formLayout]="form2.formGroup"
                                                    [formGroup]="formArr.get(form2.key)"></ng-form-layout>
                                            </div>
                                        </ng-container>
                                        <ng-form-control
                                            *ngIf="form2.controlType != 'form_group' && form2.controlType != 'form_array'"
                                            [unqKey]="(form2.key || form2.label)+'['+i+']'" [formField]="form2" [formGroup]="formArr" [index]="i">
                                        </ng-form-control>
                                    </div>
                                </ng-container>
                                <button *ngIf="!readonly" class="btn remove-icon" type="button"
                                    (click)="remove(formGroup.get(form.key), i, form.rowDeleteEvent)">
                                    <img src="../../assets/icons/ic-remove-circle.svg">
                                </button>
                            </div>
                        </div>
                        <div class="row" *ngIf="!readonly">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary" type="button"
                                        (click)="addMore(form.formArray, formGroup.get(form.key))">
                                        <img src="../../assets/icons/ic-add-circle.svg" class="mr-3">
                                        <span>{{form.addMoreText|translate}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.useTable" [formArrayName]="form.key">
                        <div class="tb-form">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <ng-container *ngIf="form.tableHeader">
                                            <tr *ngFor="let header of form.tableHeader; ">
                                                <ng-container *ngFor="let th of header">
                                                    <th class="text-medium" [attr.colspan]="th.colSpan"
                                                        [attr.rowspan]="th.rowSpan" [ngStyle]="th.style">
                                                        {{th.label | translate}}</th>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="!form.tableHeader">
                                            <tr>
                                                <ng-container *ngFor="let form2 of form.formArray">
                                                    <th class="tb-col1 text-medium" [ngClass]="form2.columns" *ngIf="visibleColumn(form2)" 
                                                        [ngStyle]="form2.style">{{form2.label | translate}}
                                                    </th>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let formArr of formGroup.get(form.key)['controls']; let i = index;"
                                            [formGroupName]="i">
                                            <ng-container *ngFor="let form2 of form.formArray">
                                                <td [ngClass]="form2.columns" [ngStyle]="form2.style" *ngIf="visibleColumn(form2)" >
                                                    <ng-form-control
                                                        *ngIf="form2.controlType != 'form_group' && form2.controlType != 'form_array'"
                                                        [unqKey]="(form2.key || form2.label)+'['+i+']'" [formField]="form2" [formGroup]="formArr" [index]="i">
                                                    </ng-form-control>
                                                </td>
                                            </ng-container>
                                            <button class="btn remove-icon" *ngIf="i > 0 && (!readonly && !form.disableAddRow)"
                                                (click)="remove(formGroup.get(form.key), i, form.rowDeleteEvent)">
                                                <img src="../../assets/icons/ic-remove-circle.svg">
                                            </button>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="form.tableFooter">
                                        <tr *ngFor="let footer of form.tableFooter; ">
                                            <ng-container *ngFor="let tf of footer">
                                                <td class="text-medium" [attr.colspan]="tf.colSpan"
                                                    [attr.rowspan]="tf.rowSpan" [ngStyle]="tf.style">
                                                    {{tf.label | translate}}
                                                    {{(tf.cellFn ? tf.cellFn() : '') | number}}
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row" *ngIf="!readonly && !form.disableAddRow" >
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary" type="button"
                                        (click)="addMore(form.formArray, formGroup.get(form.key))">
                                        <img src="../../assets/icons/ic-add-circle.svg" class="mr-3">
                                        <span>{{form.addMoreText|translate}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- Form -->
            <ng-container *ngIf="form.controlType != 'form_group' && form.controlType != 'form_array'">
                <div [ngClass]="form.columns" class="flex-column justify-content-end">
                    <ng-form-control [unqKey]="form.key || form.label" [formField]="form" [formGroup]="formGroup" [index]="null">
                    </ng-form-control>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>