<div [formGroup]="formGroup" errorTailor>

    <div [ngSwitch]="formField.controlType">

        <ng-container *ngSwitchCase="'textbox'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label class="form-label" *ngIf="formField.label" [attr.for]="formField.key">
                    {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                    <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                    <i class="ti-comment-alt text-warning form-comment"
                        *ngIf="commentable || (commented && !commented.resolved)"
                        [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment"
                        theme="dark" tooltip-class="tooltip" max-width="500" placement="top" show-delay="300"
                        (click)="openCmtModal()"></i>
                </label>
                <input class="form-control" [formControlName]="formField.key" [id]="formField.key"
                    [type]="formField.type" [placeholder]="formField.placeholder | translate"
                    [class.border-alert]="formField.required && formGroup.get(formField.key).invalid"
                    [readOnly]="formField.readonly" autocomplete="off" *ngIf="!formField.prefix && !formField.endfix">
                <div class="input-icon" *ngIf="formField.prefix || formField.endfix"
                    [ngClass]="formField.prefix ? 'input-icon-left' : 'input-icon-right'">
                    <input class="form-control" [formControlName]="formField.key" [id]="formField.key"
                        [type]="formField.type" [placeholder]="formField.placeholder | translate"
                        [class.border-alert]="formField.required && formGroup.get(formField.key).invalid"
                        [readOnly]="formField.readonly" autocomplete="off">
                    <span>
                        {{(formField.prefix || formField.endfix) | translate}}
                    </span>
                </div>
                <i class="fa fa-warning text-danger required-alert"
                    *ngIf="formField.required && formGroup.get(formField.key).invalid"></i>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label class="form-label" *ngIf="formField.label" [attr.for]="formField.key">
                    {{formField.label | translate}} 
                </label>
                <input class="form-text" [formControlName]="formField.key" [id]="formField.key" outline = "none" 
                    [type]="formField.type" [placeholder]="formField.placeholder | translate"
                    readonly="true" autocomplete="off" *ngIf="!formField.prefix && !formField.endfix">
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'hidden'">
            <div class="form-group d-none" *ngIf="hasCriteria" [ngStyle]="formField.style">
                <label class="form-label" *ngIf="formField.label" [attr.for]="formField.key">
                    {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                </label>
                <input class="form-control" [formControlName]="formField.key" [id]="formField.key" type="hidden"
                    [readOnly]="formField.readonly">
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'textarea'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label class="form-label" *ngIf="formField.label" [attr.for]="formField.key">
                    {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                    <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                    <i class="ti-comment-alt text-warning form-comment"
                        *ngIf="commentable || (commented && !commented.resolved)"
                        [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment"
                        theme="dark" tooltip-class="tooltip" max-width="500" placement="top" show-delay="300"
                        (click)="openCmtModal()"></i>
                </label>
                <textarea class="form-control" [formControlName]="formField.key" [id]="formField.key"
                    [placeholder]="formField.placeholder | translate" [readOnly]="formField.readonly"
                    [class.border-alert]="formField.required && formGroup.get(formField.key).invalid"></textarea>
                <i class="fa fa-warning text-danger required-alert"
                    *ngIf="formField.required && formGroup.get(formField.key).invalid"></i>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label [attr.for]="formField.key" class="checkbox">
                    <input [checked]="values[formField.key].value" [id]="formField.key" [type]="formField.type"
                        (change)="onCheckChange($event.target.checked)"
                        [disabled]="formField.readonly">{{formField.label | translate}} <b class="required"
                        *ngIf="formField.required">*</b>
                    <span></span>
                    <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                </label>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'radio'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label [attr.for]="formField.key+'-'+toSlug(formField.value)+'-'+(index || 0)"
                    class="radio radio-success">
                    <input 
                        [value]="formField.value"
                        [checked]="values[formField.key].value == formField.value || false"
                        [name]="formField.key+'-'+(index || 0)" [type]="formField.type"
                        [id]="formField.key+'-'+toSlug(formField.value)+'-'+(index || 0)"
                        (change)="onRadioChange($event.target.value)" [disabled]="formField.readonly">
                    <span></span>
                    {{formField.label | translate}}
                    <a class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></a>
                </label>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label class="form-label" *ngIf="formField.label" [attr.for]="formField.key">
                    {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                    <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                    <i class="ti-comment-alt text-warning form-comment"
                        *ngIf="commentable || (commented && !commented.resolved)"
                        [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment"
                        theme="dark" tooltip-class="tooltip" max-width="500" placement="top" show-delay="300"
                        (click)="openCmtModal()"></i>
                </label>
                <ng-date-picker 
                    [id]="formField.key+'-'+(index || 0)"
                    [datePickerControl]="values[formField.key]"
                    [placeholder]="formField.placeholder | translate" autocomplete="off"
                    [invalid]="formField.required && formGroup.get(formField.key).invalid"
                    [readOnly]="formField.readonly"
                    [dateView]="formField.dateView"
                ></ng-date-picker>
                <i class="fa fa-warning text-danger required-alert"
                    *ngIf="formField.required && formGroup.get(formField.key).invalid"></i>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'dropdown'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label class="form-label" *ngIf="formField.label" [attr.for]="formField.key">
                    {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                    <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                    <i class="ti-comment-alt text-warning form-comment" 
                        *ngIf="commentable || (commented && !commented.resolved)"
                        [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment"
                        theme="dark" tooltip-class="tooltip" max-width="500" placement="top" show-delay="300"
                        (click)="openCmtModal()"></i>
                </label>
                <div>
                    <ng-select [formControlName]="formField.key"
                        [data]="formField.options$ ? (formField.options$ | async | filter:filterKey:filterValue) : formField.options"
                        [options]="{multiple: formField.multiple}" [id]="formField.key"
                        [placeholder]="formField.placeholder  | translate"
                        [class.border-alert]="formField.required && formGroup.get(formField.key).invalid"
                        (ngModelChange)="onSelectChange(values[formField.key].value)" [disabled]="formField.readonly">
                    </ng-select>
                    <i class="fa fa-warning text-danger required-alert"
                        *ngIf="formField.required && formGroup.get(formField.key).invalid"></i>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'file'">
            <div class="row" *ngIf="hasCriteria" [ngStyle]="formField.style">
                <div class="d-flex flex-column justify-content-end col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <div class="form-group" [class.submitted]="submitted">
                        <label class="form-label">
                            {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                            <span class="form-tooltip" *ngIf="formField.tooltip"
                                tooltip="{{formField.tooltip  | translate }}" placement="top" show-delay="500"><i
                                    class="ti-help-alt"></i></span>
                            <i class="ti-comment-alt text-warning form-comment" 
                                *ngIf="commentable || (commented && !commented.resolved)"
                                [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''"
                                tooltip="Add comment" theme="dark" tooltip-class="tooltip" max-width="500"
                                placement="top" show-delay="300" (click)="openCmtModal()"></i>
                        </label>
                        <input class="form-control disabled" type="text"
                            [value]="values[formField.key].value ? values[formField.key].value['name'] || '' : ''"
                            [placeholder]="formField.placeholder  | translate" readonly
                            [accept]="formField.acceptFiles"
                            [class.border-alert]="formField.required && !values[formField.key].value">
                        <a *ngIf="values[formField.key].value && values[formField.key].value['file'] && values[formField.key].value['file']['url']" class="btn btn-file-download" href="javascript:;" (click)="downloadFile(values[formField.key].value['file']['url'], values[formField.key].value['file']['type'])"><i
                                class="fa fa-download"></i></a>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-end col-sm-12 col-md-5 col-lg-5 col-xl-5" *ngIf="!formField.readonly">
                    <div class="form-group d-flex file-group">
                        <div class="file file-responsive" (click)="fileInput.click()">
                            <input type="file" #fileInput (change)="onFileChange($event.target.files[0])" hidden />
                            <img src="../../assets/icons/ic-file.svg">
                            <span>{{(values[formField.key].value && values[formField.key].value['file'] && values[formField.key].value['file']['url'] ? "Change File" :"Choose File")|translate}}</span>
                        </div>
                        <div class="file file-remove" (click)="removeFile()" *ngIf="values[formField.key].value">
                            <i class="ti-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'label'">
            <div class="form-group" *ngIf="hasCriteria" [ngStyle]="formField.style" [class.submitted]="submitted">
                <label class="form-label">
                    {{formField.label | translate}} <b class="required" *ngIf="formField.required">*</b>
                    <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                        placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                    <i class="ti-comment-alt text-warning form-comment" 
                        *ngIf="commentable || (commented && !commented.resolved)"
                        [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment"
                        theme="dark" tooltip-class="tooltip" max-width="500" placement="top" show-delay="300"
                        (click)="openCmtModal()"></i>
                </label>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'title'">
            <p *ngIf="hasCriteria" class="form-title text-regular"
                [ngStyle]="formField.style">
                {{formField.label|translate}}
                <b class="required" *ngIf="formField.required">*</b>
            </p>
            <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
            <i class="ti-comment-alt text-warning form-comment" 
                *ngIf="commentable || (commented && !commented.resolved)"
                [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment" theme="dark"
                tooltip-class="tooltip" max-width="500" placement="top" show-delay="300" (click)="openCmtModal()"></i>
        </ng-container>

        

        <ng-container *ngSwitchCase="'note'">
            <div *ngIf="hasCriteria" class="form-note"><span>{{"Note"|translate}}</span> &nbsp;: &nbsp;
                <p [innerHTML]="formField.label|translate" [ngStyle]="formField.style"></p>
                <b class="required" *ngIf="formField.required">*</b>
                <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                    placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                <i class="ti-comment-alt text-warning form-comment" *ngIf="commentable || commented"
                    [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment"
                    theme="dark" tooltip-class="tooltip" max-width="500" placement="top" show-delay="300"
                    (click)="openCmtModal()"></i>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'section_title'">
            <div class="commentable">
                <h4 *ngIf="hasCriteria" class="section-title text-medium" [innerHTML]="formField.label|translate"
                    [ngStyle]="formField.style"> </h4>
                <b class="required" *ngIf="formField.required">*</b>
                <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                    placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
                <i class="ti-comment-alt text-warning form-comment"
                    *ngIf="commentable || (commented && !commented.resolved)"
                    [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" 
                    tooltip="Add comment" theme="dark" tooltip-class="tooltip" max-width="500" placement="top"
                    show-delay="300" (click)="openCmtModal()"></i>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'section_title_counter'">
            <h4 *ngIf="hasCriteria" class="section-title text-medium" [ngStyle]="formField.style">
                {{formField.label|translate}} {{((index || 0) + 1).toString() | translate}}</h4>
            <b class="required" *ngIf="formField.required">*</b>
            <span class="form-tooltip" *ngIf="formField.tooltip" tooltip="{{formField.tooltip  | translate }}"
                placement="top" show-delay="500"><i class="ti-help-alt"></i></span>
            <i class="ti-comment-alt text-warning form-comment" *ngIf="commentable || commented"
                [ngClass]="commented &&  !commented.resolved? 'd-inline-block' : ''" tooltip="Add comment" theme="dark"
                tooltip-class="tooltip" max-width="500" placement="top" show-delay="300" (click)="openCmtModal()"></i>
        </ng-container>

    </div>

</div>