.file-responsive {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(112, 112, 112, 0.25);
    font-family: "Roboto-Regular", "MMUNI-Regular";
    padding-left: 16px;
    display: flex;
    width: 180px;
    cursor: pointer;
    img {
        width: 15px;
    }
    span {
        font-size: 12px;
        color: rgba(69, 69, 69, 0.6);
        display: block;
        margin-left: 15px;
        width: fit-content;
        height: fit-content;
        position: relative;
        top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.file-group {
    margin-bottom: 4rem !important;
}
.file-responsive {
    position: relative;
    top: 30px;
}
.file-responsive:hover {
    background: #f7f7f9 !important;
}
.file-remove {
    top: 29px;
    position: relative;
    width: 50px !important;
    margin-left: 16px;
    padding: 11px 15px;
    background: #f11b32c7;
    border-color: #f11b32c7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    i {
        color: white;
    }
    &:hover {
        background: #f7f7f9 !important;
        border-color: #f7f7f9 !important;
        i {
            color: rgba(69, 69, 69, 0.6);
        }
    }
}
.disabled {
    background: #e5eaee;
}
.section-title {
    margin-bottom: 16px !important;
    margin-top: 0px !important;
}

.form-title {
    position: relative;
    width: 100%;
}

.form-text{
    position: relative;
    width: 100%;
    border: transparent;
    font-size: 15px;
    margin: 0px 0px 6px 10px;
    display: inline-flex;
    line-height: 10px;
}

.form-note {
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: rgba(69, 69, 69, 0.8);
    margin: 0px 0 30px 0;
    display: inline-flex;
    line-height: 28px;
    span {
        font-family: "Roboto-Medium", "MMUNI-Bold";
    }
    p {
        margin: 0px;
    }
}

.form-group {
    margin-bottom: 1.75rem;
    .form-title {
        font-size: 13px !important;
        color: rgba(69, 69, 69, 0.8) !important;
        font-family: "Roboto-Regular" !important;
        display: block;
        margin: 0 0 6px 0px !important;
    }
}
.checkbox {
    padding-left: 36px;
}
.commentable {
     h4 {
         display: inline-block;
     }
}
.form-group, .commentable {
    &:hover {
        .form-comment {
            display: inline-block !important;
        }
    }
}
.form-comment {
    margin: 0px 4px;
    font-size: 24px;
    padding: 0px 8px;
    display: none;
    cursor: pointer;
    position: absolute;

    &.show {
        display: inline-block !important;
    }
}
.form-tooltip {
    font-size: 12px;
    margin-left: 10px;
}
.btn-file-download {
    position: absolute;
    right: 0;
    margin: -35px 14px;
}
.required-alert {
    position: absolute;
    margin: -30px 28px;
    display: none;
    font-size: 16px;
    right: 0;
}
.submitted {
    .required-alert {
        display: block;
    }
    .border-alert {
        border-color: #dc3545 !important;
    }
}
