footer {
	padding: 10px 0;

	.container, .container-fluid {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	& * {
		text-transform: uppercase;
		letter-spacing: .5px;
		font-size: 15px;
	}

	.nav {
		a {
			padding: 5px 0;
			margin-left: 15px;

			&:hover {
				background: none !important;
			}
		}
	}

}