<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Dashboard</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-2 col-sm-4 col-xs-12" *ngFor="let total of summary_totals">
            <div [ngClass]="total.css" >
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="total" (click)="openPage(total?.url)">
                            <div class="d-flex d-sm-block">
                                <h2 class="mb-0 mr-2 font-weight-bold">{{total.id}}</h2>
                            </div>
                            <h6 class="card-title mb-3">{{total.type}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!loading" >
        <div class="col-xl-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h6 class="card-title">MIC-Permit Investment by Sector</h6>
                    </div>
                    <div style="display: block;">
                        <canvas 
                        baseChart [data]="pieChartMicInvestbySectorData" 
                        [labels]="pieChartMicInvestbySectorLabels" 
                        [chartType]="pieChartType" 
                        [plugins]="pieChartPlugins" 
                        [legend]="pieChartLegend"
                        [options]="pieChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h6 class="card-title">Endorsement Investment by Sector</h6>
                    </div>
                    <div style="display: block;">
                        <canvas 
                        baseChart [data]="pieChartEndoInvestbySectorData" 
                        [labels]="pieChartEndoInvestbySectorLabels" 
                        [chartType]="pieChartType" 
                        [plugins]="pieChartPlugins" 
                        [legend]="pieChartLegend"
                        [options]="pieChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h6 class="card-title">MIC-Permit Investment by Form</h6>
                    </div>
                    <div style="display: block;">
                        <canvas 
                        baseChart [data]="pieChartMicInvestbyFormData" 
                        [labels]="pieChartMicInvestbyFormLabels" 
                        [chartType]="pieChartType" 
                        [plugins]="pieChartPlugins" 
                        [legend]="pieChartLegend"
                        [options]="pieChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h6 class="card-title">Endorsement Investment by Form</h6>
                    </div>
                    <div style="display: block;">
                        <canvas 
                        baseChart [data]="pieChartEndoInvestbyFormData" 
                        [labels]="pieChartEndoInvestbyFormLabels" 
                        [chartType]="pieChartType" 
                        [plugins]="pieChartPlugins" 
                        [legend]="pieChartLegend"
                        [options]="pieChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h6 class="card-title">MIC-Permit Investment by Zone</h6>
                    </div>
                    <div style="display: block;">
                        <canvas baseChart 
                            [datasets]="barChartMICZone1Data"
                            [labels]="barChartMICZone1Labels"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Endorsement Zone -->
        <div class="col-xl-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h6 class="card-title">Endorsement Investment by Zone</h6>
                    </div>
                    <div style="display: block;">
                        <canvas baseChart [datasets]="barChartEndoZone1Data" [labels]="barChartEndoZone1Labels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
     </div>
    
</div>