.card {
    min-height: 140px;
}
.bg-success-bright {
    background: rgba(0, 200, 81, 1) !important;
}
.bg-warning-bright {
    background: rgba(255, 187, 51, 1) !important;
}
.bg-info-bright {
    background: rgba(51, 181, 229, 1) !important;
}
.fa {
    color: white;
}

.card-title {
    line-height: 28px;
}

@media (max-width: 575.98px) {
    .card {
        margin-bottom: 15px !important;
    }
}
.report {
    width: 100%;
}
.card-body {
    min-height: 170px;
}
.total {
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 32px;
    h2 {
        width: 100%;
    }
}
.total0 {
    background-color: #cbefd8;
    color: #5fd07c;
}
.total1 {
    background-color: #cbe3f2;
    color: #2c91c3;
}
.total2 {
    background-color: #c6c7ca;
    color: #575757;
}
.total3 {
    background-color: #f5b6b9;
    color: #fd2627;
}
.total4 {
    background-color: #e7dbc5;
    color: #c99d44;
}
.total5 {
    background-color: #d7ccf2;
    color: #9168e4;
}
