<ng-container [ngSwitch]="form">
    <app-land-right-choose-investment *ngSwitchCase="'landright-choose-investment'" [id]="id"></app-land-right-choose-investment>
    <app-land-right-state-and-region *ngSwitchCase="'landright-state-and-region'" [id]="id"></app-land-right-state-and-region>
    <app-landright-choose-language *ngSwitchCase="'landright-choose-language'" [id]="id"></app-landright-choose-language>
    <app-land-right-form *ngSwitchCase="'form'" [id]="id"></app-land-right-form>
    <app-land-right-form1 *ngSwitchCase="'form1'" [id]="id"></app-land-right-form1>
    <app-land-right-form2 *ngSwitchCase="'form2'" [id]="id"></app-land-right-form2>
    <app-land-right-form3 *ngSwitchCase="'form3'" [id]="id"></app-land-right-form3>
    <app-land-right-form4 *ngSwitchCase="'form4'" [id]="id"></app-land-right-form4>
    <app-land-right-form5 *ngSwitchCase="'form5'" [id]="id"></app-land-right-form5>
    <app-land-right-form6 *ngSwitchCase="'form6'" [id]="id"></app-land-right-form6>
    <app-land-right-form7 *ngSwitchCase="'form7'" [id]="id"></app-land-right-form7>
    <app-land-right-form8 *ngSwitchCase="'form8'" [id]="id"></app-land-right-form8>
    <app-land-right-form9 *ngSwitchCase="'form9'" [id]="id"></app-land-right-form9>
    <app-land-right-submission *ngSwitchCase="'submission'" [id]="id"></app-land-right-submission>
</ng-container>
