.form-section {
    // position: relative;
    // overflow: hidden;
}
.business-table {
    margin-bottom: 15px;
    overflow-x: auto;
    .inner-table-cover {
        width: 1450px;
        table {
            thead {
                tr {
                    th {
                        vertical-align: middle;
                        text-align: center;
                        height: 88px;
                        font-weight: normal;
                        background: #f7f7f9;
                        padding: 0px;
                        border: 1px solid rgba(112, 112, 112, 0.25);
                        .t-header {
                            height: 64px;
                            border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                            position: relative;
                            label {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                margin: 0;
                                width: 100%;
                            }
                        }
                        .b-header {
                            height: 24px;
                            .l-col,
                            .r-col {
                                width: 50%;
                            }
                            .l-col {
                                border-right: 1px solid rgba(112, 112, 112, 0.25);
                            }
                        }
                    }
                    .tcol-1 {
                        width: 80px;
                    }
                    .tcol-2 {
                        width: 250px;
                    }
                    .tcol-3 {
                        width: 150px;
                    }
                    .tcol-4 {
                        width: 200px;
                    }
                    .tcol-5 {
                        width: 300px;
                    }
                    .tcol-6 {
                        width: 200px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border: 1px solid rgba(112, 112, 112, 0.25);
                        height: 40px;
                        padding: 0;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 15px;
                        color: #454545;
                        font-family: "Roboto-Regular", "MMUNI-Regular";
                    }
                    .total-col {
                        border: 0px !important;
                        .l-col {
                            width: 50%;
                            border-right: 1px solid rgba(112, 112, 112, 0.25);
                        }
                        .r-col {
                            width: 50%;
                        }
                    }
                    .left-total,
                    .center-total,
                    .right-total {
                        background: #f7f7f9;
                    }
                    .remove-col {
                        border: 1px solid white;
                        img {
                            padding-left: 10px;
                            cursor: pointer;
                        }
                    }
                    input {
                        width: 100%;
                        height: 39px;
                        border: 0px;
                        border-radius: 0px;
                        font-size: 15px;
                        font-family: "Roboto-Regular", "MMUNI-Regular";
                        text-align: center;
                        color: #454545;
                        background: transparent;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .left-side {
        padding: 0px !important;
    }
}
