<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content" >
    <app-loader [show]="loading"></app-loader>
    <div class="container p-0">
        <div class="card custom-card p-0">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-lg-4 col-md-12 col-sm-12 col4-xl- left-side">
                        <app-mic-sidemenu [menu]="'sectionC'" (progressForms)="getProgressForms($event)"></app-mic-sidemenu>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xl-8 right-side">
                        <!-- <div class="right-side-cover"> -->
                        <div class="header-section d-flex">
                            <div class="left-header d-flex">
                                <h3 class="text-bold">{{"Questions Overview"|translate}}</h3>
                            </div>
                        </div>
                        <p class="section-title text-regular">{{"Fill the forms from number 1 to the end. You can't fill in reverse order."|translate}}</p>
                        <div class="section-lists">
                            <div class="section" (click)="openPage('mic/sectionC-form2')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(0) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 1"|translate}} :</div>
                                <div class="text">{{"(Expected) timeline of investment"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[0])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage('mic/sectionC-form3')">
                                <div class="check-icon">
                                    <img [src]="'../../assets/icons/ic-form-check'+(checkComplete(1) && checkComplete(2) && checkComplete(3) && checkComplete(4) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 2"|translate}} :</div>
                                <div class="text">{{"Expected investment value"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[1])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage('mic/sectionC-form7')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(5) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 3"|translate}} :</div>
                                <div class="text">{{"Particulars of financing of investment"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[2])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                            <div class="section" (click)="openPage('mic/sectionC-form8')">
                                <div class="check-icon">
                                    <img
                                        [src]="'../../assets/icons/ic-form-check'+(checkComplete(6) ? '-correct' : '')+'.svg'">
                                </div>
                                <div class="no">{{"Q 4"|translate}} :</div>
                                <div class="text">{{"Planned employment in the first 5 years of investment"|translate}}</div>
                                <i class="fa fa-star revise" *ngIf="checkRevise(pages[3])"></i>
                                <div class="link">
                                    <img src="../../assets/icons/ic-arrow-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>