<app-loader [show]="loading.mic || loading.endo || loading.tax || loading.land"></app-loader>
<ng-container *ngIf="!loading.mic && !loading.endo && !loading.tax && !loading.land">
    <ng-container *ngFor="let approved of approveds; let i = index">
        <div class="inquiry-cover" *ngIf="approved.data.length > 0">
            <div class="topbar">
                <div class="left-header">{{approved?.name}}</div>
            </div>
            <div class="inner-inquiry-cover status-checker table table table-striped">
                <table>
                    <thead>
                        <tr>
                            <th width="30%">{{"Application No."|translate}}</th>
                            <th width="30%">{{"Type of Application"|translate}}</th>
                            <th width="30%">{{"Date of Submission"|translate}}</th>
                            <th width="150px">{{"Status"|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="openForm(form, approved.type)" *ngFor="let form of approved.data">
                            <td>{{form?.application_no}}</td>
                            <td>{{form?.application_type || approved?.name}}</td>
                            <td>{{form?.created_at | date: 'dd-MM-yyyy'}}</td>
                            <td>
                                <button class="btn btn-sm text-bold"
                                    [ngClass]="approved.data.status == 'Rejects' ? 'btn-light-danger' : 'btn-light-primary'">{{form?.status}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <div class="inquiry-cover empty-page" *ngIf="empty.mic && empty.endo && empty.tax && empty.land
     && !loading.mic && !loading.endo && !loading.tax && !loading.land">
        <div class="empty-section pt-25 pb-25">
            <img class="d-block m-auto" src="'../../../../../../assets/icons/empty-status.svg">
            <p class="text-center mt-10">{{"Empty Applications"|translate}}</p>
        </div>
    </div>
</ng-container>