
<ng-container [ngSwitch]="form">
    <app-mic-choose-language *ngSwitchCase="'choose-language'" [id]="id"></app-mic-choose-language>
    <app-mic-section-a-form1 *ngSwitchCase="'sectionA-form1'" [id]="id"></app-mic-section-a-form1>
    <app-mic-section-a-form4 *ngSwitchCase="'sectionA-form4'" [id]="id"></app-mic-section-a-form4>
    <app-mic-section-b-form1 *ngSwitchCase="'sectionB-form1'" [id]="id"></app-mic-section-b-form1>
    <app-mic-section-b-form2 *ngSwitchCase="'sectionB-form2'" [id]="id"></app-mic-section-b-form2>
    <app-mic-section-b-form3 *ngSwitchCase="'sectionB-form3'" [id]="id"></app-mic-section-b-form3>
    <app-mic-section-b-form4 *ngSwitchCase="'sectionB-form4'" [id]="id"></app-mic-section-b-form4>
    <app-mic-section-b-form5 *ngSwitchCase="'sectionB-form5'" [id]="id"></app-mic-section-b-form5>
    <app-mic-section-c-form1 *ngSwitchCase="'sectionC-form1'" [id]="id"></app-mic-section-c-form1>
    <app-mic-section-c-form2 *ngSwitchCase="'sectionC-form2'" [id]="id"></app-mic-section-c-form2>
    <app-mic-section-c-form3 *ngSwitchCase="'sectionC-form3'" [id]="id"></app-mic-section-c-form3>
    <app-mic-section-c-form4 *ngSwitchCase="'sectionC-form4'" [id]="id"></app-mic-section-c-form4>
    <app-mic-section-c-form5 *ngSwitchCase="'sectionC-form5'" [id]="id"></app-mic-section-c-form5>
    <app-mic-section-c-form6 *ngSwitchCase="'sectionC-form6'" [id]="id"></app-mic-section-c-form6>
    <app-mic-section-c-form7 *ngSwitchCase="'sectionC-form7'" [id]="id"></app-mic-section-c-form7>
    <app-mic-section-c-form8 *ngSwitchCase="'sectionC-form8'" [id]="id"></app-mic-section-c-form8>
    <app-mic-section-d-form1 *ngSwitchCase="'sectionD-form1'" [id]="id"></app-mic-section-d-form1>
    <app-mic-section-d-form2 *ngSwitchCase="'sectionD-form2'" [id]="id"></app-mic-section-d-form2>
    <app-mic-section-d-form3 *ngSwitchCase="'sectionD-form3'" [id]="id"></app-mic-section-d-form3>
    <app-mic-section-d-form4 *ngSwitchCase="'sectionD-form4'" [id]="id"></app-mic-section-d-form4>
    <app-mic-section-d-form5 *ngSwitchCase="'sectionD-form5'" [id]="id"></app-mic-section-d-form5>
    <app-mic-section-d-form6 *ngSwitchCase="'sectionD-form6'" [id]="id"></app-mic-section-d-form6>
    <app-mic-section-d-form7 *ngSwitchCase="'sectionD-form7'" [id]="id"></app-mic-section-d-form7>
    <app-mic-section-d-form8 *ngSwitchCase="'sectionD-form8'" [id]="id"></app-mic-section-d-form8>
    <app-mic-section-e-form1 *ngSwitchCase="'sectionE-form1'" [id]="id"></app-mic-section-e-form1>
    <app-mic-section-e-form2 *ngSwitchCase="'sectionE-form2'" [id]="id"></app-mic-section-e-form2>
    <app-mic-section-e-form3 *ngSwitchCase="'sectionE-form3'" [id]="id"></app-mic-section-e-form3>
    <app-mic-section-e-form4 *ngSwitchCase="'sectionE-form4'" [id]="id"></app-mic-section-e-form4>
    <app-mic-section-f-form1 *ngSwitchCase="'sectionF-form1'" [id]="id"></app-mic-section-f-form1>
    <app-mic-section-f-form2 *ngSwitchCase="'sectionF-form2'" [id]="id"></app-mic-section-f-form2>
    <app-permit-certificate *ngSwitchCase="'permit-certificate'" [id]="id"></app-permit-certificate>
    <app-mic-undertaking *ngSwitchCase="'undertaking'" [id]="id"></app-mic-undertaking>
    <app-mic-success *ngSwitchCase="'success'" [id]="id"></app-mic-success>
</ng-container>