/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "./assets/sass/app";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@font-face {
    font-family: "Roboto-Medium";
    src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
}


@font-face {
    font-family: "MMUNI-Regular";
    src: url("./assets/fonts/Pyidaungsu/Pyidaungsu-Regular.ttf");
}

@font-face {
    font-family: "MMUNI-Bold";
    src: url("./assets/fonts/Pyidaungsu/Pyidaungsu-Bold.ttf");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}
textarea:foucs {
    outline: none;
}
.header {
    background: white;
}
.menu-lists,
.section-lists {
    .single-list,
    .section {
        outline: none;
    }
}
* {
    font-family: "Roboto-Regular", "MMUNI-Regular";
}
.form-group label {
    font-size: 15px;
    font-weight: 400;
    color: #454545;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    line-height: 26px;
}
.form-control:focus {
    border-color: #28a745;
}
.officer .nav-tabs .nav-link {
    font-size: 15px;
    font-weight: 400;
}
.form-submitted input.ng-invalid,
.form-submitted textarea.ng-invalid,
.form-submitted select.ng-invalid {
    border-color: #dc3545 !important;
}
.card.custom-card .header-full-text {
    width: 100% !important;
}
.form-submitted ng-select.ng-invalid {
    .select2-selection--single,
    .select2-selection--multiple {
        border-color: #dc3545 !important;
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    top: 17px;
}
.close span {
    display: block !important;
}
.control-error {
    color: #dc3545 !important;
}
.red-border {
    border-color: #dc3545 !important;
}
.total-comment {
    height: 41px;
    line-height: 1.5rem;
    width: 150px;
    font-size: 15px;
    margin-top: 32px;
}
.officer p {
    line-height: 1.7rem;
    font-size: 15px;
}
.officer .datatable.datatable-default.datatable-loaded {
    overflow: hidden;
}
.officer .datatable.datatable-default.datatable-loaded > .datatable-table {
    overflow: auto;
}
.officer .officer-nav .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #dee2e6 #dee2e6 #fff !important
}
.officer .officer-nav .nav-item {
    margin-bottom: -1px !important;
}
.officer .officer-nav{
    border-bottom: 1px solid #dee2e6;
}

.officer .officer-change-password label.control-error{
    font-size: 13px !important;
    margin: 8px 0 0;
}

// .officer .card.custom-card .right-side .header-section .left-header h3 {
//     width: 100%;
// }
.officer .form-section .ft-row > label {
    width: 100% !important;
}
.btn-custom {
    min-height: 50px;
    min-width: 150px;
    font-size: 16px;
    font-family: "Roboto-Medium", "MMUNI-Bold";
    padding: 8px 16px;
}
.ql-editor {
    line-height: 25px;
    font-size: 15px;
    color: #454545;
    p,
    ol,
    ul {
        margin-bottom: 1rem !important;
    }
}
.required {
    color: #dc3545;
}
.form-submitted .ng-invalid {
    .form-control:disabled,
    .form-control[readonly],
    .form-control {
        &.red-border {
            border: 1px solid #dc3545;
            border-color: #dc3545;
        }
    }
}
// Do not remove this style
.form-layout {
    .tb-form {
        margin-bottom: 20px;
        table{
            border-collapse: separate;
            border-spacing: 0px;
        }
        .table tbody td {
            padding: 0.75rem 0px;
        }
        tfoot td {
            vertical-align: middle !important;
            border-bottom: 1px solid #dee2e6;
            height: 59px;
            padding-left: 16px;
        }
        .remove-icon {
            margin: 13px -10px !important;
            left: -13px;
        }
        .form-group {
            margin-bottom: 0px !important;
            .form-label {
                display: none !important;
            }
            .form-control {
                border: none;
                min-width: 100px;
            }
            .form-control:disabled,
            .form-control[readonly] {
                background-color: transparent !important;
                border: none !important;
            }
            .select2-selection--single,
            .select2-selection--multiple {
                min-width: 150px;
                border: none;
            }
        }
    }
}
.select2-container--default.select2-container--disabled .select2-selection--multiple,
.select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: inherit !important;
    opacity: 1 !important;
    color: black !important;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: inherit;
    opacity: 1;
    border: 1px solid rgba(112, 112, 112, 0.25);
    cursor: not-allowed;
}
.status-checker {
    table > tbody {
        tr:last-child {
            td {
                border-bottom: none !important;
            }
        }
        .reply-message {
            max-height: 152px;
            overflow: hidden;
        }
    }
}
.card.custom-card {
    margin-top: -80px;
    margin-bottom: 80px;
    border: 1px solid rgba(112, 112, 112, 0.15);
    padding: 24px 80px;
    z-index: 1;
    border-radius: 8px;
    .card-body,
    .card-footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .card-header {
        background: none;
        .card-title {
            text-align: center;
            font-size: 18px;
        }
        background: white;
        border-bottom: none;
        text-align: center;
    }
    .card-footer {
        background-color: white;
        padding: 2rem 0px;
        .btn {
            height: 50px;
            min-width: 150px;
        }
    }

    .left-side {
        border-right: 1px solid #eaeaea;
        padding: 32px 38px 32px 24px;
        &.mini {
            padding: 32px 0px !important;
        }
        @media (max-width: 991.98px) {
            border-right: 0px;
            &.mini {
                padding: 32px 38px 32px 24px !important;
            }
        }
        .menu-lists {
            .menu-title {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
                margin-left: 10px;
                line-height: 35px;
            }
            .single-list {
                padding: 15px 0px;
                border-radius: 8px;
                position: relative;
                cursor: pointer;
                z-index: 99;
                .inner-single-list-cover {
                    display: flex;
                    width: 100%;
                    .image {
                        width: 70px;
                        position: relative;
                        img {
                            margin: auto;
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .menu-title {
                        line-height: normal !important;
                        margin-bottom: 0px !important;
                        width: calc(100% - 105px);
                        div {
                            color: #454545;
                            font-size: 15px;
                            line-height: 1.7;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-family: "Roboto-Medium", "MMUNI-Bold";
                        }
                        .sub-title {
                            font-size: 14px;
                            color: rgba(69, 69, 69, 0.6);
                            white-space: inherit;
                            font-family: "Roboto-Regular", "MMUNI-Regular";
                        }
                    }
                }
                .arrow {
                    position: absolute;
                    right: -17px;
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }
            .active-list {
                background: #f7f7f9;
            }
        }
        .desktop-menu {
            padding: 20px 0px;
            .single-list {
                height: 80px;
                border-radius: 8px;
                position: relative;
                cursor: pointer;
                z-index: 99;
                width: 70px;
                margin: auto;
                img {
                    width: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                span {
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                    color: #454545;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .active-list {
                background: #f7f7f9;
            }
        }
    }
    .right-side {
        padding: 32px;
        position: relative;
        .top-title {
            .left-title {
                width: calc(100% - 115px);
                font-size: 18px;
            }
            .right-title {
                width: 115px;
            }
        }
        .header-section {
            margin-bottom: 32px;
            .left-header {
                width: calc(100% - 0px);
                h3 {
                    font-size: 18px;
                    line-height: 28px;
                    margin-top: 8px;
                    width: calc(100% - 210px);
                    margin: 0px;
                }
                .lang-btn {
                    width: 210px;
                    text-align: right;
                    button {
                        width: 100px;
                        height: 40px;
                    }
                }
            }
            h4 {
                width: 115px;
            }
        }
        .form-question-section,
        .form-section {
            // width: calc(100% - 115px);
            min-height: 600px;
            .question-lists {
                margin-top: 32px;
                cursor: pointer;
                a {
                    margin-bottom: 12px;
                    background: #f7f7f9;
                    border-radius: 4px;
                    padding: 10px 0px;
                    border: 2px solid #f7f7f9;
                    .check-icon,
                    .arrow-icon,
                    .no {
                        width: 50px;
                        position: relative;
                    }
                    .check-icon,
                    .arrow-icon {
                        img {
                            width: 17px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .question {
                        width: calc(100% - 150px);
                        cursor: pointer;
                    }
                    .arrow-icon {
                        img {
                            width: 24px;
                        }
                    }
                }
                a:hover {
                    border: 2px solid #fbc562;
                }
            }
            .question {
                span {
                    width: 25px;
                }
            }
            .inner-form-section {
                margin-left: 25px;
            }
            // .form-note {
            //     margin-top: 30px;
            //     color: rgba(69, 69, 69, 0.8);
            //     span {
            //         color: rgba(69, 69, 69, 0.8);
            //     }
            // }
        }
        .card-footer {
            width: 100%;
            bottom: 0px;
            margin-top: 10px;
            .save-draft {
                margin-right: 10px;
            }
        }
        .file,
        .file-responsive {
            height: 40px;
            border-radius: 4px;
            border: 1px solid rgba(112, 112, 112, 0.25);
            padding-left: 16px;
            width: 180px;
            cursor: pointer;
            img {
                width: 15px;
            }
            span {
                font-size: 15px;
                color: rgba(69, 69, 69, 0.6);
                display: block;
                margin-left: 15px;
                width: fit-content;
                height: fit-content;
                position: relative;
                top: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .file:hover {
            background: #f7f7f9 !important;
        }
        .file-responsive {
            position: relative;
            top: 29px;
        }
        .add-btn {
            font-size: 15px;
            height: 40px;
            width: 121px;
            margin-top: 15px;
            img {
                margin-right: 10px;
            }
        }
        .more-upload {
            width: 145px;
            height: 40px;
            font-size: 15px;
            margin-top: 15px;
            img {
                margin-right: 10px;
            }
        }
        .section-title {
            margin: 30px 0 0;
        }
    }
}
.card.undertaking-card {
    .form-group label {
        line-height: 28px !important;
    }
    .form-group .checkbox > span {
        top: 4px !important;
    }
}

.form-footer {
    background-color: white;
    padding: 2rem 0px;
    .btn {
        height: 50px;
        min-width: 150px;
    }
}

.radio.radio-success > input:checked ~ span,
.checkbox > input:checked ~ span {
    background-color: #57bf74 !important;
}

input.form-control {
    height: 40px;
    border: 1px solid rgba(112, 112, 112, 0.25);
    border-radius: 4px;
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    padding-left: 16px;
    color: #454545;
}
textarea.form-control {
    border: 1px solid rgba(112, 112, 112, 0.25);
    border-radius: 4px;
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    padding-left: 16px;
    color: #454545;
    min-height: 120px;
}
.select2-container--default .select2-selection--multiple {
    height: auto !important;
    min-height: 40px;
}
.about-us-banner,
.faq-banner {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    h1 {
        position: absolute;
        width: fit-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        color: #454545;
        font-family: "Roboto-Medium", "MMUNI-Bold";
    }
}
.footer {
    background: #33313b;
    .container {
        .main-footer-cover {
            color: white;
            .footer-title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 25px;
            }
            .left-footer {
                .related-link-section {
                    a {
                        font-size: 15px;
                        padding: 10px 0px 0 0;
                        color: white !important;
                    }
                    a:hover {
                        color: rgb(11, 175, 78) !important;
                    }
                }
                .image {
                    .left-image {
                        width: 30%;
                        margin-right: 3%;
                        img {
                            height: 90px;
                            width: 100%;
                        }
                    }
                    .right-image {
                        width: calc(100% - 33%);
                        overflow: hidden;
                        img {
                            height: 90px;
                            width: 100%;
                        }
                    }
                }
            }
            .center-footer,
            .right-footer {
                .section {
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.8);
                    label,
                    a {
                        line-height: 1.8;
                        color: rgba(255, 255, 255, 0.8) !important;
                    }
                }
                .contact-footer {
                    .social-image {
                        margin-right: 15px;
                        cursor: pointer;
                        img {
                            width: 33px;
                        }
                        .hover {
                            display: none;
                        }
                    }
                    .social-image:hover {
                        .default {
                            display: none !important;
                        }
                        .hover {
                            display: initial !important;
                        }
                    }
                }
                .payment-icon {
                    img {
                        margin-right: 10px;
                        width: 30px;
                    }
                }
            }
        }
    }
}
.bottom-footer {
    background: #47464f;
    color: whtie;
    .left-side-footer {
        label {
            font-size: 15px;
        }
    }
    .right-side-footer {
        .list {
            label {
                font-size: 15px;
                color: white;
                padding: 0 20px;
                cursor: pointer;
            }
            label:hover {
                color: #0baf4e;
            }
            a:last-child {
                label {
                    padding-right: 0px;
                }
            }
            .active-link {
                color: #0baf4e !important;
            }
        }
    }
}
@media (max-width: 991.98px) {
    .center-footer,
    .right-footer {
        padding-left: 15px !important;
    }
    .left-side-footer {
        label {
            text-align: center;
            display: block;
        }
    }
    .right-side-footer {
        display: none;
    }
    .inquiry-card {
        padding: 24px 45px !important;
    }

    //officer new css
    .officer .card .card-body {
        padding: 1.5rem;
    }
    .officer .card.custom-card .left-side {
        padding: 32px 16px 32px 0px;
    }
    .officer .card.custom-card .right-side {
        padding: 32px 16px;
    }
}
@media (max-width: 767.98px) {
    .form-question-section,
    .form-section {
        width: 100% !important;
    }
    .right-side {
        .card-footer {
            position: relative !important;
            width: 100% !important;
        }
    }
    .inner-form-section {
        margin-left: 0px !important;
    }
    .about-us-banner,
    .faq-banner {
        h1 {
            font-size: 32px !important;
        }
    }
    .card-footer {
        button {
            min-width: 125px !important;
        }
    }
    .card.custom-card .right-side .file-remove,
    .card.custom-card .file-remove {
        top: 0px;
        cursor: pointer;
    }
    .card.custom-card .card-header .card-title {
        font-size: 25px !important;
        padding-top: 20px;
        line-height: 32px;
    }
}
@media (max-width: 575.98px) {
    .card {
        margin: -80px 15px 80px !important;
    }
    .inquiry-card {
        padding: 24px 35px !important;
    }
    .header-section {
        .left-header {
            display: initial !important;
            h3 {
                width: 100% !important;
            }
            .lang-btn {
                width: 100%;
                margin-top: 20px !important;
            }
        }
    }
    .officer .export-dropdown {
        text-align: right;
        margin-bottom: 20px;
    }
}
.dropdown-menu {
    padding: 0px !important;
    border: 1px solid rgba(112, 112, 112, 0.25);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(24, 24, 24, 0.1);
    .dropdown-item {
        padding: 12px 20px;
        border-radius: 4px;
        font-size: 15px;
        font-family: "Roboto-Regular", "MMUNI-Regular";
        color: #454545;
        cursor: pointer;
        img {
            margin-right: 16px;
        }
        .flag {
            width: 20px;
            border-radius: 4px;
        }
    }
}
@media (max-width: 767.98px) {
    .left-side {
        border-right: 0px !important;
    }
    .right-side-cover {
        .form-cover {
            width: 100% !important;
            margin-left: 0 !important;
        }
        .section-lists {
            .section {
                width: 100% !important;
            }
        }
        .top-header {
            display: initial !important;
            .left-title {
                width: 100% !important;
            }
            .header-row-cover {
                margin-top: 15px;
                display: flex;
                width: 100% !important;
                .top-btn {
                    width: 210px !important;
                }
                .right-title {
                    width: calc(100% - 210px) !important;
                }
            }
        }
    }
    .bottom-position {
        width: calc(100% - 70px) !important;
        .footer-btn {
            .btn1 {
                margin-bottom: 10px;
            }
            button {
                width: 110px !important;
                height: 42px !important;
                font-size: 15px !important;
            }
        }
    }
}
.modal-body {
    padding: 1px !important;
}
.modal-backdrop.show {
    display: none !important;
}
@media (max-width: 575.98px) {
    .btn-cover {
        float: left !important;
    }
}
.text-regular {
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: #454545;
    line-height: 28px;
}
.text-medium {
    font-size: 15px;
    font-family: "Roboto-Medium", "MMUNI-Bold";
    color: #454545;
    line-height: 28px;
}
.text-bold {
    font-size: 15px;
    font-family: "Roboto-Bold", "MMUNI-Bold";
    color: #454545;
}
p {
    line-height: 28px !important;
}
.content {
    .profile-page {
        padding: 0px !important;
        .row {
            margin: 0px;
            .left-col,
            .right-col {
                padding: 45px 0px;
            }
            .right-col {
                padding: 45px;
                h3 {
                    font-size: 20px;
                }
            }
            .left-col {
                border-right: 1px solid rgba(112, 112, 112, 0.25);
                .tablet-view {
                    display: none;
                }
            }
            @media (max-width: 991.98px) {
                .left-col {
                    border-right: 0px !important;
                    padding-bottom: 0px !important;
                }
                .tablet-view {
                    display: initial !important;
                    a {
                        width: 33.33%;
                        border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                    }
                    .active {
                        color: #0baf4e !important;
                        border-bottom: 2px solid #0baf4e !important;
                    }
                }
                .desktop-view {
                    display: none !important;
                }
            }
            @media (max-width: 575.98px) {
                .tablet-view {
                    overflow: au;
                }
            }
        }
        .form-section {
            .row {
                margin: 0 -15px;
            }
            .profile {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                border: 8px solid white;
                margin: 38px auto 10px;
                img {
                    width: 94px;
                    height: 94px;
                    border-radius: 50%;
                }
                .profile-edit {
                    text-align: center;
                    margin-top: 10px;
                    font-size: 15px;
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .form {
                position: relative;
                .password {
                    padding-right: 40px;
                }
                .eye-icon {
                    position: absolute;
                    right: 15px;
                    top: 40px;
                    width: 15px;
                    cursor: pointer;
                }
                .error-message {
                    margin-top: 10px;
                    font-size: 15px;
                    color: red;
                }
            }
        }
        .save,
        .cancel {
            height: 50px;
            width: 123px;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
        }
        .cancel {
            color: #454545;
            font-weight: normal;
        }
        .cancel:hover {
            background: #f0f2f5;
        }
    }
    .payment-cover {
        padding: 0px !important;
        .inner-payment-cover {
            width: 80%;
            margin: auto;
            .payment-title {
                text-align: center;
                font-size: 30px;
                font-family: "Roboto-Bold", "MMUNI-Bold";
                margin: 40px 0px;
                color: #454545;
            }
            .payment-header {
                display: flex;
                width: 100%;
                background: #f7f7f9;
                padding: 10.5px 0px;
                border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                .left-header {
                    width: calc(100% - 150px);
                    padding-left: 16px;
                }
                .right-header {
                    width: 150px;
                }
                .left-header,
                .right-header {
                    font-size: 15px;
                    color: #454545;
                    font-family: "Roboto-Medium", "MMUNI-Bold";
                }
            }
            .payment-content,
            .payment-footer {
                width: 100%;
                display: flex;
                padding: 20.5px 0px;
                border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                .left-content,
                .left-footer {
                    width: calc(100% - 150px);
                    padding-left: 16px;
                }
                .right-content,
                .right-footer {
                    width: 150px;
                    font-size: 15px;
                }
                .left-content,
                .left-footer,
                .right-footer {
                    font-size: 15px;
                    color: #454545;
                    font-family: "Roboto-Regular", "MMUNI-Regular";
                }
            }
            .payment-footer {
                border-bottom: 0px;
                .left-footer {
                    text-align: right;
                    padding-right: 16px;
                    font-family: "Roboto-Medium", "MMUNI-Bold";
                }
            }
            .info {
                background: #f7f7f9;
                font-family: "Roboto-Regular", "MMUNI-Regular";
                font-size: 13px !important;
                padding: 16px;
                margin-top: 120px;
                color: #454545;
            }
            .card-footer {
                border-top: 0px;
            }
        }
    }
    @media (min-width: 992px) {
        .desktop-menu {
            display: initial;
        }
        .mobile-menu {
            display: none;
        }
    }
    @media (max-width: 992px) {
        .desktop-menu {
            display: none;
        }
        .mobile-menu {
            display: initial;
        }
    }
    @media (max-width: 767.98px) {
        .title-responsive {
            height: fit-content !important;
        }
        .question {
            width: 100% !important;
        }
        .inner-cover {
            display: inherit !important;
            .from-date,
            .to-date {
                width: 100% !important;
            }
            .from-date {
                margin-bottom: 30px;
            }
            .center {
                display: none !important;
            }
        }
        .outer-form-note {
            width: 100% !important;
        }
        .file-responsive {
            top: 0px !important;
        }
    }
    @media (max-width: 575.98px) {
        .desktop-btn {
            display: none !important;
        }
        .mobile-btn {
            display: inherit !important;
        }
    }
}
table {
    margin-bottom: 5px !important;
}
.officer .datatable.datatable-default.datatable-loaded > .datatable-table::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar,
.ftb-scroll::-webkit-scrollbar {
    height: 8px; /* height of horizontal scrollbar ← You're missing this */
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
}
.officer .datatable.datatable-default.datatable-loaded > .datatable-table::-webkit-scrollbar-thumb:horizontal,
.table-responsive::-webkit-scrollbar-thumb:horizontal,
.ftb-scroll::-webkit-scrollbar-thumb:horizontal {
    background: #c1c1c1;
    border-radius: 10px;
}

@media (min-width: 992px) {
    .officer .card.custom-card .left-side.mini{
        flex: 0 0 12.6%;
        max-width: 12.6%;
        border-right: 1px solid #eaeaea;
    }
    .officer .card.custom-card .right-side.col-lg-11{
        flex: 0 0 87.4%;
        max-width: 87.4%;
    }
}

.mh-500 {
    min-height: 500px;
}