.checkbox{
    font-size: 15px;
    color: rgba(69, 69, 69, 0.8);
    font-family: "Roboto-Regular", "MMUNI-Regular";
    padding-left: 35px;
    margin: 0 0 25px;
    .input{
        background-color: #0BAF4E ;
        width: 18px;
        height: 18px;
        border-radius: 4px;
    }
}
.img{
    img{
        margin: auto;
        display: block;
    }
}
@media (max-width: 767.98px) {
    img{
        width: 150px !important;
    }
}