.form-section {
    font-size: 15px;
    font-family: "Roboto-Regular", "MMUNI-Regular";
    color: #454545;
}
.ft-row {
    display: flex;
    width: 100%;
    margin-top: 16px;
    label {
        display: block;
        width: calc(100% - 205px);
    }
    button {
        max-height: 50px;
        img {
            margin-right: 10px;
        }
    }
}
.ftb-scroll {
    margin-top: 16px;
    margin-bottom: 20px;
    overflow-x: scroll;
    // border: 1px solid rgba(112, 112, 112, 0.25);
    table {
        border: 0px;
        thead {
            tr {
                display: flex;
                td {
                    border-bottom: 0px;
                    border-right: 0px;
                    height: 40px;
                    line-height: 40px;
                    font-weight: normal;
                    padding: 0px;
                }
                td:last-child {
                    border-right: 1px solid rgba(112, 112, 112, 0.25);
                }
                .del-col1 {
                    width: 780px;
                    border: 0px;
                    border-right: 0px !important;
                }
                .add-del-col {
                    width: 200px;
                    cursor: pointer;
                    text-align: center;
                    color: #ff0000;
                }
                .add-del-col:hover {
                    background: rgba(255, 0, 0, 0.1);
                }
                th {
                    border-bottom-width: 1px !important;
                    border: 1px solid rgba(112, 112, 112, 0.25);
                    background: #f7f7f9;
                    border-right: 0px;
                    // border-top: 0px;
                    height: 105px;
                    position: relative;
                    font-weight: normal;
                    padding: 0px;
                    label {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                        text-align: center;
                        width: fit-content;
                        span:first-child::after {
                            content: "\a";
                            white-space: pre;
                        }
                    }
                }
                th:last-child {
                    border-right: 1px solid rgba(112, 112, 112, 0.25);
                }
                .header-col1 {
                    width: 340px;
                }
                .header-col2 {
                    width: 240px;
                }
                .add-col {
                    width: 200px;
                    .top-col {
                        height: 63px;
                        position: relative;
                        border-bottom: 1px solid rgba(112, 112, 112, 0.25);
                    }
                    .bottom-col {
                        height: 40px;
                        background: white;
                    }
                }
            }
        }
        tbody {
            tr {
                display: flex;
                td {
                    position: relative;
                    border-top: 0px;
                    border-right: 0px;
                    height: 65px;
                    padding: 0px;
                    input {
                        border: 0px;
                        height: 63px;
                        width: 100%;
                        padding-left: 16px;
                        font-size: 15px;
                        color: #454545;
                    }
                    input:focus {
                        outline: none;
                    }
                    label,
                    .value {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        transform: translate(0, -50%);
                    }
                    .value {
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }
                }
                td:first-child {
                    padding-left: 16px;
                }
                td:last-child {
                    border-right: 1px solid rgba(112, 112, 112, 0.25);
                }
                .tb-col1 {
                    width: 340px;
                    label{
                        padding-left: 16px;
                    }
                }
                .tb-col2 {
                    width: 240px;
                }
                .tb-add-col {
                    width: 200px;
                }
                .bg-color {
                    background: #f7f7f9;
                }
            }
        }
    }
}
.modal-content {
    width: 450px;
    overflow: hidden;
    .modal-header {
        padding: 0px;
        border: 0px;
        .modal-title {
            font-size: 18px !important;
            font-family: "Roboto-Bold" !important;
            color: #454545 !important;
            padding: 0 45px;
            width: 100%;
            height: 80px;
            line-height: 80px;
            background: #f7f7f9;
        }
    }
    .modal-body {
        padding: 24px 45px;
    }
    .modal-footer {
        padding: 0 45px 30px;
        border: 0px;
        button {
            font-size: 13px;
            border: 0px;
            outline: none;
            height: 35px;
            border-radius: 4px;
        }
        .cancel-btn {
            width: 72px;
            color: #454545;
            background: white;
        }
        .cancel-btn:hover {
            background: #f7f7f9;
        }
        .delete-btn {
            color: #ff0000;
            width: 140px;
            background: rgba(255, 0, 0, 0.1);
        }
        .delete-btn:hover {
            background: rgba(255, 0, 0, 0.15);
        }
    }
}

.required-currency-alert {
    position: absolute;
    margin: -30px 28px;
    display: none;
    font-size: 16px;
    right: 0;
}
.required-alert {
    position: absolute;
    margin: -68px 28px;
    display: none;
    font-size: 16px;
    right: 0;
}
.submitted {
    .required-alert, .required-currency-alert  {
        display: block;
    }
    .border-alert {
        border-color:#dc3545 !important
    }
}
