<!--begin::Content-->
<app-loader [show]="loading"></app-loader>
<ng-container *ngIf="!loading">
    <div class="inquiry-cover" *ngIf="invoices?.length > 0">
        <div class="topbar">
            <div class="left-header"></div>
        </div>
        <div class="inner-inquiry-cover status-checker table table table-striped">
            <table>
                <thead>
                    <tr>
                        <th width="80px">{{"Invoice No."|translate}}</th>
                        <th width="20%">{{"Type of Application"|translate}}</th>
                        <th width="20%">{{"Description"|translate}}</th>
                        <th width="100px">{{"Amount (MMK)" | translate}}</th>
                        <th width="50px">{{"Status"|translate}}</th>
                        <th width="150px">{{"Action"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of invoices; let i = index" >
                        <td>DICA-{{x?.application_no}}-{{x?.id}}</td>
                        <td>{{x?.type}} <br><b>No: {{x?.application_no}}</b></td>
                        <td>{{x?.description}}</td>
                        <td>{{x?.amount | number}}</td>
                        <td>
                            <button class="btn btn-sm text-bold" [ngClass]="x.status == 'Unpaid' ? 'btn-light-warning' : 'btn-light-primary'" >{{x?.status}}</button>
                        </td>
                        <td>
                            <ng-container *ngIf="x?.status == 'Unpaid'" >
                                <button class="btn btn-lg btn-primary mr-2" (click)="openPayment(x?.type, x?.id)">{{"Pay Now"|translate}}</button>
                                <button class="btn btn-lg btn-outline-primary" (click)="downloadInvoice(x)"><i class="fa fa-download mr-2"></i>{{"Invoice"|translate}}</button>
                            </ng-container>
                            <ng-container *ngIf="x?.status == 'Paid'">
                                <button class="btn btn-lg btn-outline-primary"
                                    (click)="downloadReceipt(x)"><i class="fa fa-download mr-2"></i>{{"Receipt"|translate}}</button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<div class="inquiry-cover empty-page" *ngIf="!loading && invoices?.length == 0">
    <div class="empty-section pt-25 pb-25">
        <img class="d-block m-auto" src="'../../../../../../assets/icons/empty-status.svg">
        <p class="text-center mt-10">Empty Payment</p>
    </div>
</div>
<!--end::Content-->