.inquiry-cover {
    width: 100%;
    background: white;
    border: 1px solid rgba(112, 112, 112, 0.15);
    z-index: 9;
    position: relative;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 25px;
    overflow: hidden;
    .topbar {
        width: 100%;
        position: relative !important;
        height: fit-content !important;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 1 !important;
        display: flex;
        .left-header {
            width: calc(100% - 30px);
            font-size: 16px;
            font-family: "Roboto-Medium", "MMUNI-Bold";
            color: #454545;
        }
        .right-menu {
            width: 30px;
            img {
                float: right;
            }
        }
    }
    .inner-inquiry-cover {
        width: 100%;
        position: relative;

        table {
            width: 100%;
            margin-top: 15px;
            font-size: 15px;
            th {
                font-size: 15px;
            }
            tbody {
                tr {
                    cursor: pointer;
                    th:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}
.empty-page {
    .empty-section {
        img {
            width: 150px;
        }
        p {
            font-size: 24px;
            font-family: "Roboto-Medium", "MMUNI-Bold";
            color: black !important;
        }
    }
}
.btn:hover {
    i {
        color:#1A944E !important;
    }
}
.list {
    top: 20px;
}