<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container p-0 d-flex align-items-stretch justify-content-between">
        <!--begin::Left-->
        <div class="d-flex align-items-stretch mr-3">
            <!--begin::Header Logo-->
            <div class="header-logo">
                <a [routerLink]="['/']">
                    <img alt="Logo" src="assets/icons/ic-dica-logo.svg" class="logo-default" />
                    <img alt="Logo" src="assets/icons/ic-dica-logo.svg" class="logo-sticky" />
                </a>
                <div class="title">
                    directorate of investment and company administration
                </div>
            </div>
            <!--end::Header Logo-->
            <!--begin::Header Menu Wrapper-->
            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <!--begin::Header Menu-->
                <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                    <!--begin::Header Nav-->
                    <ul class="menu-nav">
                        <li class="website-hide menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
                            data-menu-toggle="click" [ngClass]="{'active': page === 'home' }" aria-haspopup="true">
                            <a [routerLink]="['/']" class="menu-link menu-toggle">
                                <span class="menu-text">{{ "Home" | translate }}</span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="website-hide menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
                            data-menu-toggle="click" aria-haspopup="true">
                            <a [routerLink]="['/pages']" class="menu-link menu-toggle">
                                <span class="menu-text">{{"Investor Portal" | translate}}</span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="website-hide menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
                            data-menu-toggle="click" aria-haspopup="true" [ngClass]="{'active': page === 'faqs' }">
                            <a [routerLink]="['/faq']" target="_blank" class="menu-link menu-toggle">
                                <span class="menu-text">{{ "FAQs" | translate }}</span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="website-hide menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
                            data-menu-toggle="click" aria-haspopup="true" [ngClass]="{'active': page === 'contact' }">
                            <a [routerLink]="['/contact-us']" class="menu-link menu-toggle">
                                <span class="menu-text">{{ "Contact us" | translate }}</span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!--end::Header Nav-->
                </div>
                <!--end::Header Menu-->
            </div>
            <!--end::Header Menu Wrapper-->
        </div>
        <!--end::Left-->
        <!--begin::Topbar-->
        <div class="topbar">
            <!--begin::Home-->
            <div class="dropdown">
                <a class="topbar-item phone-hide" [routerLink]="['/']" [class.active-link]="page == 'home'" routerLinkActive="router-link-active"
                     data-offset="10px,0px">
                    {{ "Home" | translate }}
                </a>
            </div>
            <!--end::Home-->
            <!--begin::Investor Portal-->
            <div class="dropdown">
                <a class="topbar-item investor phone-hide" [routerLink]="['/pages']"
                    routerLinkActive="router-link-active" data-offset="10px,0px">
                    {{ "Investor Portal" | translate }}
                </a>
            </div>
            <!--end::Investor Portal-->
            <!--begin::FAQs-->
            <div class="dropdown">
                <a class="topbar-item phone-hide" [class.active-link]="page == 'faqs'" [routerLink]="['/faq']" routerLinkActive="router-link-active"
                    data-offset="10px,0px">
                    {{ "FAQs" | translate }}
                </a>
            </div>
            <!--end::FAQs-->
            <!--begin::Contact us-->
            <div class="dropdown">
                <a class="topbar-item phone-hide" [class.active-link]="page == 'contact'" [routerLink]="['/contact-us']" routerLinkActive="router-link-active"
                    data-offset="10px,0px">
                    {{ "Contact us" | translate }}
                </a>
            </div>
            <!--end::Contact us-->
            <!--begin::Languages-->
            <div class="dropdown">
                <!--begin::Toggle-->
                <div class="topbar-item language" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                        <img class="h-20px w-20px rounded-sm" [src]="
                lang === 'en'
                  ? 'assets/media/svg/flags/226-united-states.svg'
                  : 'assets/media/svg/flags/myanmar-1.svg'
              " alt="" />
                    </div>
                </div>
                <!--end::Toggle-->
                <!--begin::Dropdown-->
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Nav-->
                    <ul class="navi navi-hover">
                        <!--begin::Item-->
                        <li class="navi-item" [ngClass]="{ active: lang === 'mm' }" (click)="changeLanguage('mm')"
                            style="cursor: pointer">
                            <a class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="assets/media/svg/flags/myanmar-1.svg" alt="" />
                                </span>
                                <span class="navi-text">{{ "Myanmar" | translate }}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="navi-item" [ngClass]="{ active: lang === 'en' }" (click)="changeLanguage('en')"
                            style="cursor: pointer">
                            <a class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="assets/media/svg/flags/226-united-states.svg" alt="" />
                                </span>
                                <span class="navi-text">{{ "English" | translate }}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Languages-->
            <!--begin::User-->
            <div class="dropdown profile">
                <!--begin::Toggle-->
                <div *ngIf="!user" class="topbar-item phone-hide" data-offset="0px,0px">
                    <div [routerLink]="['/auth/login']" routerLinkActive="router-link-active"
                        class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
                        <span class="font-weight-bold font-size-base d-none d-md-inline mr-1"></span>
                        <span class="font-weight-bolder font-size-base d-none d-md-inline mr-4">
                            {{ "LOGIN" | translate }}
                        </span>
                    </div>
                </div>
                <div *ngIf="user" class="topbar-item phone-hide" data-toggle="dropdown" data-offset="0px,0px">
                    <div
                        class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
                        <span class="font-weight-bold font-size-base d-none d-md-inline mr-1"></span>
                        <span class="font-weight-bolder font-size-base d-none d-md-inline mr-4">
                            {{ user.name }}
                        </span>
                        <!-- <span class="symbol symbol-35">
              <span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">S</span>
            </span> -->
                    </div>
                </div>
                <!--end::Toggle-->
                <!--begin::Dropdown-->
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Nav-->
                    <ul class="navi navi-hover">
                        <!--begin::Item-->
                        <li class="navi-item" style="cursor: pointer" [routerLink]="['/pages/profile']" routerLinkActive="router-link-active" >
                            <a class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="../../assets/icons/user icon.svg" alt="" />
                                </span>
                                <span class="navi-text">{{"Account"|translate}}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="navi-item" style="cursor: pointer" (click)="authService.logout()">
                            <a class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="../../assets/icons/logout.svg" alt="" />
                                </span>
                                <span class="navi-text">{{"Logout"|translate}}</span>
                            </a>
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>
