.header {
    li{
      outline: none;
    }
    .title {
      font-size: 18px;
      color: #0baf4e;
      text-transform: uppercase;
      width: 310px;
      margin-left: 15px;
      font-family: "Roboto-Medium", "MMUNI-Bold";
    }
    .topbar-item {
      font-size: 15px;
      color: #454545;
      padding: 0px 15px;
      font-family: "Roboto-Regular", "MMUNI-Regular";
      white-space: nowrap;
    }
    .topbar-item:hover {
      color: #0baf4e;
      font-family: "Roboto-Bold", "MMUNI-Bold";
    }
    .investor:hover {
      padding: 0 14px !important;
    }
    .language {
      padding-right: 0px;
      margin: 0 -12px 0 0;
    }
    .profile{
      .topbar-item{
        span{
          color: #454545 !important;
        }
        .symbol{
          background: #fafafa;
        }
      }
      .topbar-item:hover{
        font-family: "Roboto-Regular" !important;
      }
    }
    .active-link{
      color: #0baf4e;
      font-family: "Roboto-Bold", "MMUNI-Bold";
    }
    @media (max-width: 991.98px){
      .topbar{
        display: none !important;
      }
    }
    @media (min-width: 991.98px) {
      .header-menu-wrapper-left {
        display: none;
      }
    }
  }