<div class="card">
    <div class="card-body officer-change-password">
        <form [formGroup]="passwordForm" (ngSubmit)="checkPasswordForm()" class="login" method="post">
        <h5>Change Password</h5>
        <div class="form-section mt-20">
            <div class="form-group row">
                <label class="col-md-2 col-form-label offset-md-2">Current Password</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" formControlName="current_password" autocomplete="off" [type]="hide ? 'password' : 'text'">
                    <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.current_password.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.current_password.errors.required">
                        Current password is required.</div>
                  </ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label offset-md-2">New Password</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" [type]="hide ? 'password' : 'text'" formControlName="password"
                     autocomplete="off">
                    <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.password.errors.required">
                        New password is required.</div>
                    <div class="error-message" *ngIf="ControlPasswordForm.password.errors.minlength">
                        Password must be at least 6 characters.</div>
                  </ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label offset-md-2">Confirm Password</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" formControlName="password_confirmation"
                    [type]="hide ? 'password' : 'text'" autocomplete="off">
                    <img class="eye-icon" (click)="hide = !hide"
                    [src]="'../../assets/icons/ic-eye-'+(hide ? 'off' : 'show')+'.svg'">
                  <ng-container *ngIf="passwordSubmit && ControlPasswordForm.password_confirmation.errors">
                    <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.required">
                        Password field is required.</div>
                    <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.minlength">
                        Password must be at least 6 characters.</div>
                    <div class="error-message" *ngIf="ControlPasswordForm.password_confirmation.errors.mustMatch">
                        The two passwords do not match.
                    </div>
                  </ng-container>
                </div>
            </div>
            <div class="btn-lists col-md-8 offset-md-4">
                <button class="btn btn-primary" [ngClass]="{'spinner spinner-white spinner-right':loading}" [disabled]="loading" type="submit">Confirm</button>
            </div>
        </div>
        </form>
    </div>
</div>
