.btn{
    min-width: 100px;
    font-size: 15px;
    min-height: 40px;
}
.error-message{
    font-size: 13px !important;
    color: red;
    margin-top: 8px;
}
.password {
    padding-right: 40px;
}
.form-group input{
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 15px;
    cursor: pointer;
}