<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>MIC Permit</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Officer</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">MIC Permit</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-center "
                        *ngIf="submission?.application_no">
                        <h6 class="card-title">
                            Application No: {{submission?.application_no}}
                            ( Status: {{submission?.status}} )
                        </h6>
                        <div class="d-flex">
                            <div class="dropdown export-dropdown mr-3" *ngIf="submission.status=='Acceptance' && (roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1)">
                                <button class="btn btn-outline-light btn-lg" (click)="printDocFile(4, 'en')"><i
                                        class="fa fa-file-word-o"></i> Certificate</button>
                            </div>
                            <div class="dropdown export-dropdown mr-3">
                                <button class="btn btn-outline-light btn-lg dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-file-pdf-o"></i> Preview</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:;" (click)="previewForm('mm')">Myanmar</a>
                                    <a class="dropdown-item" href="javascript:;" (click)="previewForm('en')"
                                        *ngIf="submission?.form?.language  == 'English'">English</a>
                                </div>
                            </div>
                            <div class="dropdown export-dropdown" *ngIf="roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1" >
                                <button class="btn btn-outline-light btn-lg dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-file-word-o"></i> Export</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:;" (click)="printDocFile(1, 'en')">SALIENT
                                        POINTS (English)</a>
                                    <a class="dropdown-item" href="javascript:;" (click)="printDocFile(1, 'mm')">SALIENT
                                        POINTS (Myanmar)</a>
                                    <a class="dropdown-item" href="javascript:;" (click)="printDocFile(2, 'en')">SUMMARY
                                        (English)</a>
                                    <a class="dropdown-item" href="javascript:;" (click)="printDocFile(2, 'mm')">SUMMARY
                                        (Myanmar)</a>
                                    <a class="dropdown-item" href="javascript:;" (click)="printDocFile(3, 'en')">COST
                                        BENEFIT ANALYSIS (English)</a>
                                    <a class="dropdown-item" href="javascript:;" (click)="printDocFile(3, 'mm')">COST
                                        BENEFIT ANALYSIS (Myanmar)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs officer-nav d-flex" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;" [ngClass]="selectedTab == 'form' ? 'active': ''" id="home-tab"
                                (click)="openTab('form')">Form Detail</a>
                        </li>
                        <li class="nav-item" *ngIf="roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1">
                            <a class="nav-link" href="javascript:;" [ngClass]="selectedTab == 'reply' ? 'active': ''" id="reply-tab"
                                (click)="openTab('reply')">Reply Message</a>
                        </li>
                        <li class="nav-item" *ngIf="roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1">
                            <a class="nav-link" href="javascript:;" [ngClass]="selectedTab == 'history' ? 'active': ''" id="history-tab"
                                (click)="openTab('history')">History Logs</a>
                        </li>
                        <li class="nav-item" *ngIf="(roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1) && submission.status=='Acceptance'">
                            <a class="nav-link" href="javascript:;" [ngClass]="selectedTab == 'permit_issued' ? 'active': ''" id="permit_issued-tab"
                                (click)="openTab('permit_issued')">Permit Issued</a>
                        </li>
                        <li class="nav-item" *ngIf="roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1" >
                            <a class="nav-link" id="cost_benefit_analysis-tab" href="javascript:;" [ngClass]="selectedTab == 'cost_benefit' ? 'active': ''" id="permit_issued-tab"
                                (click)="openTab('cost_benefit')">Cost Benefit Analysis</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="selectedTab == 'form' ? 'show active': ''"  *ngIf="selectedTab == 'form'" >
                            <app-mic-permit-detail></app-mic-permit-detail>
                        </div>
                        <div *ngIf="selectedTab == 'reply' && (roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1)" class="tab-pane" [ngClass]="selectedTab == 'reply' ? 'show active': ''" >
                            <div class="row">
                                <div class="col-md-4 app-lists">
                                    <div class="d-sm-flex justify-content-between align-items-center mb-3 mt-3">
                                        <h4>Inbox ({{messages.length || 0}})</h4>
                                        <button class="btn btn-primary btn-lg" (click)="openMessage()"><i
                                                class="ti-pencil-alt mr-2"></i>New Message</button>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-sm-flex mb-2 pl-1 pr-1"
                                            *ngFor="let reply of messages"
                                            [class.msg-selected]="selectedMessage && reply.id == selectedMessage.id"
                                            (click)="openMessage(reply)">
                                            <div>
                                                <figure class="avatar mr-3">
                                                    <img [src]="reply?.user?.avatar ? reply?.user?.avatar : 'https://avatars.dicebear.com/api/initials/'+reply?.user?.email+'.svg'"
                                                        class="rounded-circle" alt="...">
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1 min-width-0">
                                                <div class="mb-1 d-sm-flex justify-content-between align-items-center">
                                                    <div class="text-truncate app-list-title"><strong
                                                            class="mr-1">{{reply?.user?.name}}</strong><span>(
                                                            {{reply.role == 'Officer' ? 'Officer' : 'Investor'}}
                                                            )</span></div>
                                                    <div class="pl-3 d-sm-flex">
                                                        <span
                                                            class="text-nowrap text-muted">{{reply.created_at|date:'MMM d, yyyy'}}</span>
                                                    </div>
                                                </div>
                                                <div class="text-muted d-sm-flex justify-content-between">
                                                    <div class="text-truncate small">{{reply.subject || '...'}}
                                                    </div>
                                                    <div class="text-nowrap pl-3">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item mb-0"
                                                                *ngIf="reply.hasAttach || false">
                                                                <a href="#" data-toggle="tooltip" title=""
                                                                    data-original-title="Attachment">
                                                                    <i class="fa fa-paperclip"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item mb-0">
                                                                <!-- <i class="fa fa-circle " [ngClass]="getStatusStyle(reply.status)"></i> -->
                                                                {{reply.created_at|date:'hh:mm a'}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ng-container *ngIf="selectedMessage">
                                        <!-- Message -->
                                        <div class="d-sm-flex mt-4 mb-3">
                                            <div class="d-sm-flex align-items-center">
                                                <figure class="avatar mr-3">
                                                    <img [src]="selectedMessage?.user?.avatar ? selectedMessage?.user?.avatar : 'https://avatars.dicebear.com/api/initials/'+selectedMessage?.user?.email+'.svg'"
                                                        class="rounded-circle" alt="...">
                                                </figure>
                                                <div class="d-inline-block">
                                                    <div><strong
                                                            class="mr-1">{{selectedMessage?.user?.name}}</strong><span>
                                                            (
                                                            {{selectedMessage.role == 'Officer' ? 'Officer' :
                                                            'Investor'}}
                                                            )
                                                        </span></div>
                                                    <span class="text-muted">{{selectedMessage.created_at|date:'MMM d,
                                                        yyyy hh:mm a'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p [innerHTML]="selectedMessage.message|safeHtmlPipe"></p>
                                        <ul class="list-unstyled mb-0" *ngIf="selectedMessage.attachments">
                                            <li *ngFor="let x of selectedMessage.attachments">
                                                <a href="javascript:;"
                                                    (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                    <img src="../../assets/images/attachment.svg" width="14px"
                                                        class="mr-3">
                                                    <label class="form-label">{{x.name}}</label>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Reply messages -->
                                        <ng-container *ngIf="selectedMessage.reply.length > 0">
                                            <ng-container *ngFor="let reply of selectedMessage.reply">
                                                <div *ngIf="reply.role == 'Officer'">
                                                    <div class="d-sm-flex mt-5 mb-3">
                                                        <div class="d-sm-flex align-items-center">
                                                            <figure class="avatar mr-3">
                                                                <img [src]="reply?.reply_user?.avatar ? reply?.reply_user?.avatar : 'https://avatars.dicebear.com/api/initials/'+reply?.reply_user?.email+'.svg'"
                                                                    class="rounded-circle" alt="...">
                                                            </figure>
                                                            <div class="d-inline-block">
                                                                <div><strong
                                                                        class="mr-1">{{reply?.reply_user?.name}}</strong><span>
                                                                        (
                                                                        {{reply.role == 'Officer' ? 'Officer' :
                                                                        'Investor'}}
                                                                        )
                                                                    </span></div>
                                                                <span class="text-muted">{{reply.created_at|date:'MMM d,
                                                                    yyyy hh:mm a'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p [innerHTML]="reply.reply_message|safeHtmlPipe"></p>
                                                    <ul class="list-unstyled mb-0" *ngIf="reply.attachments">
                                                        <li *ngFor="let x of reply.attachments">
                                                            <a href="javascript:;"
                                                                (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                                <img src="../../assets/images/attachment.svg"
                                                                    width="14px" class="mr-3">
                                                                <label class="form-label">{{x.name}}</label>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="reply.role != 'Officer'"
                                                    class="card card-body p-3  mt-3 custom">
                                                    <div class="d-sm-flex mb-3">
                                                        <div class="d-sm-flex align-items-center">
                                                            <figure class="avatar mr-3">
                                                                <img [src]="reply?.reply_user?.avatar ? reply?.reply_user?.avatar : 'https://avatars.dicebear.com/api/initials/'+reply?.reply_user?.email+'.svg'"
                                                                    class="rounded-circle" alt="...">
                                                            </figure>
                                                            <div class="d-inline-block">
                                                                <div><strong
                                                                        class="mr-1">{{reply?.reply_user?.name}}</strong><span>(
                                                                        investor
                                                                        )</span></div>
                                                                <span class="text-muted">{{reply.created_at|date:'MMM d,
                                                                    yyyy hh:mm a'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p [innerHTML]="reply.reply_message|safeHtmlPipe"></p>
                                                    <p *ngIf="reply.confirm_date"><i class="ti-calendar mr-2"></i>
                                                        {{reply.confirm_date|date:'dd-MM-yyyy hh:mm a'}}</p>
                                                    <ul class="list-unstyled mb-0" *ngIf="reply.attachments">
                                                        <li *ngFor="let x of reply.attachments">
                                                            <a href="javascript:;"
                                                                (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                                <img src="../../assets/images/attachment.svg"
                                                                    width="14px" class="mr-3">
                                                                <label class="form-label">{{x.name}}</label>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <!-- Reply Message -->
                                    <ng-container>
                                        <div class="mt-4">
                                            <h4 class="mb-4">
                                                {{(selectedMessage ? "Reply Message" : "New Message" ) | translate}}
                                            </h4>
                                            <div class="form-group mb-3"
                                                *ngIf="selectedMessage && submission.status == 'Revision' && !submission.allow_revision">
                                                <div class="checkbox-inline">
                                                    <label class="checkbox">
                                                        <input type=checkbox name="change" [(ngModel)]="allow_revision" value="Revision" />
                                                        <span></span>
                                                        Allow the investor to edit the form
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row mb-2 mt-3" *ngIf="!selectedMessage">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="checkbox-inline">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="change"
                                                                    [(ngModel)]="changeStatus" />
                                                                <span></span>
                                                                Change Application Status
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4" *ngIf="!selectedMessage && changeStatus">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <ng-select [(ngModel)]="msg.status"
                                                            (ngModelChange)="onChangeStatus()">
                                                            <option value="">Choose Status</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Revision">Revision</option>
                                                            <option value="PAT Meetings" *ngIf="roles.indexOf('approval') !== -1" >PAT Meetings</option>
                                                            <option value="MIC Meetings" *ngIf="roles.indexOf('approval') !== -1">MIC Meetings</option>
                                                            <option value="Acceptance" *ngIf="comments?.length == 0 && roles.indexOf('approval') !== -1">
                                                                Acceptance</option>
                                                            <option value="Rejects" *ngIf="roles.indexOf('approval') !== -1" >Rejects</option>
                                                            <option value="Payment" *ngIf="comments?.length == 0">
                                                                Payment</option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Message Template</label>
                                                        <ng-select [(ngModel)]="msg.template"
                                                            (ngModelChange)="onChangeTemplate()">
                                                            <option value="">Choose Template</option>
                                                            <option *ngFor="let temp of templates" [value]="temp.id">
                                                                {{temp.title}}</option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <button
                                                            class="btn btn-outline-light total-comment">{{comments.length
                                                            || 0}}
                                                            {{"Comment(s)"|translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4"
                                                *ngIf="!selectedMessage && changeStatus && (msg.status == 'PAT Meetings' || msg.status=='MIC Meetings')">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Appointment Date 1</label>
                                                        <input class="form-control form-datetimepicker"
                                                            [(ngModel)]="msg.appointment_date_1"
                                                            [ngClass]="submitted && !msg.appointment_date_1 ? 'red-border' : ''"
                                                            (click)="onDateChange($event.target.value, 'appointment_date_1')" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Appointment Date 2</label>
                                                        <input class="form-control form-datetimepicker"
                                                            [(ngModel)]="msg.appointment_date_2"
                                                            [ngClass]="submitted && !msg.appointment_date_2 ? 'red-border' : ''"
                                                            (click)="onDateChange($event.target.value, 'appointment_date_2')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4"
                                                *ngIf="!selectedMessage && changeStatus && msg.status == 'Payment'">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                        <input class="form-control" [(ngModel)]="payment.amount"
                                                            type="number"
                                                            [ngClass]="submitted && !payment.amount ? 'red-border' : ''" />
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>Description for Payment</label>
                                                        <input class="form-control" [(ngModel)]="payment.description"
                                                            [ngClass]="submitted && !payment.description ? 'red-border' : ''" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4" *ngIf="!selectedMessage">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">Subject</label>
                                                        <input class="form-control" [(ngModel)]="msg.subject">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ng-container
                                                        *ngIf="msg?.attachments && msg?.attachments.length > 0">
                                                        <label class="form-control-label mb-3">{{"Attached
                                                            Files"|translate}}</label>
                                                        <ul class="list-unstyled mb-0">
                                                            <li *ngFor="let x of msg.attachments">
                                                                <a href="javascript:;"
                                                                    (click)="downloadFile(x?.file?.url, x?.file?.type)">
                                                                    <img src="../../assets/images/attachment.svg"
                                                                        width="14px" class="mr-3">
                                                                    <label class="form-label">{{x.name}}</label>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </ng-container>
                                                    <quill-editor [styles]="{height: '250px'}"
                                                        [(ngModel)]="msg.message">
                                                    </quill-editor>
                                                    <div class="d-sm-flex mt-3">
                                                        <button type="button" class="btn btn-primary btn-custom mr-3"
                                                            [disabled]="!msg.message || (!selectedMessage && !msg.status && changeStatus)"
                                                            [ngClass]="{'spinner spinner-white spinner-right':loading}"
                                                            (click)="createMessage()">
                                                            Submit
                                                        </button>
                                                        <button class="btn btn-outline-light btn-custom" type="button"
                                                            title="" data-toggle="tooltip"
                                                            data-original-title="Attach files"
                                                            (click)="fileInput.click()">
                                                            <input type="file" #fileInput
                                                                (change)="onFileChange($event.target.files[0])"
                                                                hidden />
                                                            <img src="../../assets/images/attachment.svg" width="14px">
                                                            <span class="ml-1">{{msg?.attachments &&
                                                                msg?.attachments.length || 0}}
                                                                Attachment(s)</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="selectedTab == 'history' ? 'show active': ''" *ngIf="selectedTab == 'history' && (roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1)" >
                            <div class="mt-4 mh-500" *ngIf="submission.id" >
                                <app-mic-permit-history [submission_id]="submission.id" [form_id]="id"></app-mic-permit-history>
                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="selectedTab == 'permit_issued' ? 'show active': ''"  *ngIf="selectedTab == 'permit_issued' && submission.status=='Acceptance' && (roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1)">
                            <app-micpermit-issued></app-micpermit-issued>
                        </div>
                        <div class="tab-pane" [ngClass]="selectedTab == 'cost_benefit' ? 'show active': ''"  *ngIf="selectedTab == 'cost_benefit' && (roles.indexOf('checking') !== -1 || roles.indexOf('approval') !== -1)">
                            <app-cost-benefit-analysis></app-cost-benefit-analysis>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>