<div class="content p-0 d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container p-0">
        <div class="card custom-card payment-cover">
            <div class="inner-payment-cover pb-20">
                <h1 class="payment-title">Payment</h1>
                <div class="payment-header">
                    <div class="left-header">Fees</div>
                    <div class="right-header">Amount</div>
                </div>
                <div class="payment-content">
                    <div class="left-content">MIC Permit - Apply</div>
                    <div class="right-content">50,000.00 MMK</div>
                </div>
                <div class="payment-footer">
                    <div class="left-footer">Total Fees :</div>
                    <div class="right-footer">150,000.00 MMK</div>
                </div>
                <div class="info">
                    When paying by credit card or MPU, you will be directed to the DICA secured payment gateway. Upon
                    successful completion of payment, the filing will be submitted for processing. When using fund on
                    account, the fund will deducted immediately upon submitting.
                </div>
                <div class="card-footer mt-5">
                    <div class="row">
                        <div class="col-6 text-right">
                            <button class="btn btn-lg btn-primary" type="button" [disabled]="spinner"
                            [ngClass]="{'spinner spinner-white spinner-right':spinner && !is_mpu}"
                            (click)="saveCredit()">Pay with Credit Card</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-lg btn-primary" type="button" [disabled]="spinner"
                            [ngClass]="{'spinner spinner-white spinner-right':spinner && is_mpu}" (click)="saveMPU()">Pay
                            with MPU</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>