*:focus {
	outline: none;
}

.sticky {
	position: sticky !important;
	top: 0;
}

.lead {
	line-height: 2.2rem;
}

#main {
	display: flex;

	.main-content {
		padding: 1.875rem;
		padding-left: $navigation-width + 20px;
		flex: 1;
		width: calc(100% - #{$navigation-width});
	}
}

.demo-code-preview {
	border: $border-style;
	padding: 20px 10px;
	margin-top: 2rem;
	position: relative;
	background-color: white;
	border-radius: 8px;

	& + * {
		margin-top: 1.5rem;
	}

	&:before {
		content: attr(data-label);
		display: block;
		position: absolute;
		top: -9px;
		left: 20px;
		@extend .text-muted;
		letter-spacing: 1px;
		background-color: inherit;
		font-size: 11px;
		padding: 0 5px;
	}

	pre {
		overflow-x: hidden;
		background: none;
		padding-top: 0;
		padding-bottom: 0;
		max-height: 300px;
	}

	&:hover {
		pre {
			overflow-x: auto;
		}
	}
}

code[class*="language-"], pre[class*="language-"] {
	font-size: .93em;
	margin: 0
}

.text-divider {
	display: flex;
	align-items: center;

	&:after {
		content: '';
		display: block;
		height: 1px;
		background-color: #f0f0f0;
		flex: 1;
	}

	span {
		margin-right: 1rem;
	}
}

.row-xs {
	margin-left: -.5rem;
	margin-right: -.5rem;

	& > div {
		padding-left: .5rem;
		padding-right: .5rem;
	}
}

#logo {
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	opacity: 0;
	background: rgba(0, 0, 0, 0.30);
	transition: opacity .5s;

	&.show {
		opacity: 1;
	}
}

.tooltip {
	pointer-events: none;
	font-family: inherit;
	font-size: .835rem !important;

	.arrow {
		display: none;
	}

	.tooltip-inner {
		background: rgba(0, 0, 0, 0.70);
	}
}

.file-manager-items {
	display: flex;
	flex-wrap: wrap;

	.file-manager-item {
		margin-right: 20px;
		margin-bottom: 20px;

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 135px;
			height: 115px;
			font-size: 8.5em;
			border: 1px solid #e1e1e1;
			border-radius: 5px;
			background-size: cover !important;
			background-position: center !important;
		}

		&.folder span {
			color: #cea65b
		}

		&.image span {
			&:before {
				display: none;
			}
		}
	}
}

.small, small {
	font-size: 12px;
}

.list-group {
	.list-group-item {
		padding: .75rem 1.5rem;

		&.active {
			z-index: auto;
			background: $color-primary;
		}
	}
}

.bring-forward {
	position: relative;
	z-index: 1;
}

.table-email-list {
	table.table {
		.dropdown {
			[data-toggle="dropdown"] {
				&:after {
					display: none;
				}
			}
		}

		.email-subject {
			max-width: 80%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			a {
				display: inline-block;
			}
		}

		td, .table th {
			padding: .80rem;
		}
	}

	a {
		color: $default-text-color;

		&:hover, &:focus {
			color: $color-primary
		}
	}
}

.read-mail-body {
	img {
		max-width: 50%;
	}
}

.bootstrap-tagsinput {
	box-shadow: none;
	width: 100%;
	border: 1px solid #ced4da;
	min-height: calc(2.25rem + 2px);

	&.focus {
		border-color: #3383de;
	}

	.tag {
		display: inline-flex;
		color: black;
		border-radius: 3px;
		font-size: 13px;
		padding: 0 8px;
		margin: 2px 1px;
		justify-content: space-between;
		align-items: center;
		background: #e1e1e1;
	}
}

.list-group {
	.list-group-item {
		&.active {
			background: $color-primary;
			border-color: transparent;
		}
	}
}

.list-group-flush .list-group-item:first-child {
	border-top: 0;
}

.badge {
	font-weight: 500;
}

.nav-pills .nav-link.active {
	background: $color-primary;
}

.nav-tabs .nav-link.active {
	color: $color-primary
}

.text-muted {
	color: #a7abc3 !important;
}

.min-width-0 {
	min-width: 0
}

.list-group-item {
	border-color: $border-style-color
}

.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hide-show-toggler {
	.hide-show-toggler-item {
		display: none;
	}

	&:hover, &:focus {
		.hide-show-toggler-item {
			display: block;
		}
	}
}

.tooltip {
	font-size: $default-font-size;
}

.jqvmap-zoomin, .jqvmap-zoomout {
	box-sizing: initial;
}

.apexcharts-canvas {
	margin: auto;
}

[data-backround-image] {
	position: relative;
	background-size: cover !important;
	background-position: center !important;

	&:after {
		content: '';
		display: block;
		background: rgba(white, .6);
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		border-radius: .50rem;
	}

	& > * {
		position: relative;
		z-index: 1;
	}
}

.dropdown-menu {
	[data-backround-image]:after {
		border-radius: 0;
	}
}

.jqvmap-region {
	fill: $color-secondary;
}

.a-0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.font-weight-800 {
	font-weight: 800;
}

.circle canvas {
	vertical-align: top;
}

.todo-item {
	user-select: none;
	margin-bottom: 10px;

	input[type="checkbox"]:checked {
		& + label {
			text-decoration: line-through;
			color: #00961f
		}
	}
}

.border-radius-1 {
	border-radius: 5px;
}

.rounded {
	border-radius: .50rem !important;
}

.nav-tabs .nav-link {
	border-top-left-radius: .50rem;
	border-top-right-radius: .50rem;
}

.nav-pills .nav-link {
	border-radius: .50rem;
}
.border-none {
    border: none !important;
    box-shadow: none;
}
.btn {
    display: inline !important;
    &:hover, &:focus, &:active {
        box-shadow: none !important;
        border-color: transparent !important;
    }
}
.inquiry-card {
    padding: 0px 18px!important;
    padding-top: 30px !important;
    margin-bottom: 0px !important;
}
.custom-card {
    margin-top: 0px !important;
}
.card-title {
    font-size: 18px !important;
    font-weight: 500 !important;
}
.breadcrumb .breadcrumb-item a {
    color: #212529;
}
.content .choose-language-cover {
    margin-top: 0px !important;
    border: none !important;
    box-shadow: none;
}
.card.custom-card {
    border: none;
    box-shadow: none;
    margin-bottom: -18px;
    z-index: 0 !important;
}
.card.custom-card .card-body {
    padding: 0px;
}
.container {
    max-width: 100% !important;
}

.card.custom-card .section-title {
    font-size: 16px;
    font-weight: 500;
}
.card.custom-card .card-footer {
    border: none !important;
}

.card.custom-card .left-side.mini {
    padding: 32px 0px !important;
    border-right: 0;
}

.navigation .navigation-menu-body ul li {
    a, &.navigation-divider {
        font-size: 15px !important;
    }
}
.datatable-cell {
    font-size: 15px !important;
}
.datatable-bordre-none {
    .table-bordered {
        border: none !important;
    }
}
.datatable-pager-info {
    font-size: 15px !important;
    .dropdown-toggle:after {
        margin: 0 -3px !important;
    }
    .datatable-pager-detail {
        font-size: 15px !important;
    }
}
.datatable tr {
    cursor: pointer;
    th:first-child, td:first-child {
        padding-left:12px !important;
    }
}
.mw-250 {
    min-width: 250px !important;
    max-width: 250px !important;
    @media (max-width: 575.98px)  {
        max-width: inherit !important;
    }
}
.mw-300 {
    min-width: 250px !important;
    max-width: 250px !important;
    @media (max-width: 575.98px)  {
        max-width: inherit !important;
    }
}

@media (max-width: 575.98px) {
    .card {
        margin: 0px !important;
    }
    .d-sm-flex {
        &.justify-content-between {
            .input-group, .select2 {
                margin-bottom: 1rem;
            }
        }
    }
}

.app-lists {
    border-right: 1px solid #dee2e6;
    ul {
        
        li {
            cursor: pointer;
            &:hover {
                background: #f8f9fa;  
            }
        }
        
    }
}
// .list-group {
//     max-height: 620px;
//     overflow: hidden;
//     overflow-y: scroll;
// }
// .list-group::-webkit-scrollbar {
//     width: 8px;
//     background: #f1f1f1;
//     cursor: pointer;
//     border-radius: 10px;
// }
.card-body.custom {
    border-left: 4px solid #dee2e6 !important;
    border: 0px;
    border-radius: 0px;
    margin-left: 32px;
    padding-left: 32px !important;
    background: #f8f9fa;
    box-shadow: none;
}
.msg-selected {
    background: aliceblue;
    border: 2px solid #ffa800 !important;
}